<div class="al-subbox">
    <div class="left">
        <div class="al-post-img namecard" style="background-image:url('images/common/others/empty_img_personal_l.png')"/>
    </div>
    <div class="right">
        <div class="top">
            <div class="al-post-group">group</div>
            <div class="al-post-name">name</div>
            <div class='inline posterDetail' style="display:none;">
                <!-- <div class='inline and' data-textid='NOTICES_NOUN_AND'></div> -->
                <div class='inline otherPosterCnt'></div>
            </div>
        </div>

        <!-- 發佈 xx (並 上傳了檔案)-->
        <div class="al-content post" style="display:none;">
            <img class='icon'>
            <div class='inline' data-textid="NOTICES_POST"></div>
            <div class='inline type'></div>
            <div class='inline boxTitle' style="display:none;"></div>
            <div class='inline detail' style="display:none;">
                <!-- <div class='inline' data-textid="NOTICES_VERB_AND"></div> -->
                <div class='inline sendFile'></div>
            </div>
        </div>

        <!-- _誰 回覆 _原ＰＯ 的 _type『_標題』 (並 上傳了檔案)-->
        <div class="al-content response" style="display:none;">
            <img class='icon'>
            <div class='inline' data-textid="NOTICES_RESPONSE"></div>
            <div class='inline oriPoster'></div>

            <!-- <div class='inline' data-textid="'s"></div> -->
            <div class='inline type'></div>
            <div class='inline boxTitle' style="display:none;"></div>
            <div class='inline detail' style="display:none;">
                <!-- <div class='inline' data-textid="NOTICES_VERB_AND"></div> -->
                <div class='inline sendFile'></div>
            </div>
        </div>

        <div class="al-time">
            <img class='icon' src='images/common/icon/icon_time_gray.png'>
            <label class="text"></label>
        </div>
        <div class="al-extra" style="display:none;">e</div>
    </div>
</div>