<div class="cp-content">
    <div data-sp-box="title" class="cp-content-box cp-content-title" style="display:none">
            <img src="images/compose/compose_form_icon_title.png"/>
            <textarea data-cp-name="標題" class="cp-textarea-title" placeholder="標題" data-role="none"></textarea>
    </div>
    <div data-sp-box="apt" class="cp-content-box cp-content-apt" style="display:none">
        <img class="cp-icon-size" src="images/compose/compose_form_icon_apt.png"/>
        所屬部門
        <div class="cp-apt-btn-area">以個人身份發佈<img src="images/ap_box_arrow.png"/></div>
    </div>
    <div data-sp-box="object" class="cp-content-box cp-content-object">
        <img class="cp-icon-size" src="images/compose/compose_form_icon_object.png"/>
        發佈對象
        <img class="cp-object-btn" src="images/ap_box_arrow.png"/>
    </div>
    <div data-sp-box="top" class="cp-content-box cp-content-top" style="display:none">
        <img class="cp-icon-size" src="images/compose/compose_form_icon_top.png"/>
        共同置頂
        <img class="cp-icon-size cp-top-btn" src="images/compose/compose_form_icon_check_none.png"/>
    </div>
    <div class="cp-content-textarea">
        <img class="cp-icon-size" src="images/compose/compose_form_icon_description.png"/>
        <textarea data-cp-name="內容" class="cp-textarea-desc textarea-animated" placeholder="內容描述" data-role="none" ></textarea>
    </div>

    <div class="cp-vote-area">
        
        
        <div class="cp-vote-add-ques">
            <img src="images/compose/vote/compose_post_vote_icon_add_yellow.png" style="width:35px"/>
            <span>新增項目</span>
            <!-- <div class="cp-vote-bottom-cover"></div> -->
        </div>
    </div>

    <div class="cp-content-box cp-content-addcal">
        <img class="cp-icon-size" src="images/compose/vote/compose_form_icon_addcal.png"/>
        加入成員行事曆
        <img class="cp-icon-size cp-top-btn" src="images/compose/compose_form_icon_check_none.png"/>
    </div>

    <div class="cp-content-box cp-content-first">
        <img class="cp-icon-size" src="images/compose/vote/compose_form_icon_first.png"/>
        優先處理
        <img class="cp-icon-size cp-top-btn" class="cp-top-btn" src="images/compose/compose_form_icon_check_none.png"/>
    </div>

    <div class="cp-time-area">
        <div class=""></div>
        <div class="cp-setdate-chk">
            <img src="images/common/icon/icon_check_gray.png"/>
            <span>指定開始時間</span>
        </div>
        <div class="cp-setdate-div"></div>
        <div class="cp-setdate-area">
            <div class="cp-setdate-l">
                <div class="cp-setdate-l-1"></div>
                <div class="cp-setdate-l-2">
                    
                    <div class="cp-setdate-ttl">開始時間</div>
                    <div class="cp-setdate-start-text" style="display:none">立即發佈</div>
                    <div class="cp-setdate-content">
                        <div class="cp-setdate-date">12月14日</div>
                        <div class="cp-setdate-time">09:00</div>
                        <div class="cp-setdate-week">星期二</div>
                    </div>
                    
                </div>
                <div class="cp-setdate-l-3"></div>
            </div>
            <div class="cp-setdate-r">
                <div class="cp-setdate-r-1">
                    <div class="cp-setdate-ttl">結束時間</div>
                    <div class="cp-setdate-content">
                        <div class="cp-setdate-date">12月25日</div>
                        <div class="cp-setdate-time">09:00</div>
                        <div class="cp-setdate-week">星期二</div>
                    </div>
                </div>
                <div class="cp-setdate-r-2"></div>
            </div>
        </div>
    </div>

    <div class="cp-attach-area" style="display:none">
        <div class="cp-ta-yql">
            <div class="cp-yql-title"></div>
            <div class="cp-yql-img"></div>
            <div class="cp-yql-desc"></div>
        </div>
    </div>

</div>





<div class="cp-vote-ques-area">
    <div class="cp-vote-ques-title">
        <img src="images/common/icon/icon_compose_close.png"/>
        <span></span>
        <img src="images/compose/vote/compose_post_vote_icon_edit.png"/>
        <textarea class="cp-vq-textarea-title textarea-animated" placeholder="主題" data-role="none"></textarea>
    </div>
    <div class="cp-vote-opt">
        <img src="images/common/icon/icon_compose_close.png"/>
        <span>1</span>
        <textarea class="cp-opt-textarea textarea-animated" placeholder="投票項目" data-role="none"></textarea>
    </div>
    <div class="cp-vote-opt">
        <img src="images/common/icon/icon_compose_close.png"/>
        <span>2</span>
        <textarea class="cp-opt-textarea textarea-animated" placeholder="投票項目" data-role="none"></textarea>
    </div>
    <div class="cp-vote-add-opt">
        <img src="images/compose/vote/compose_post_vote_icon_add_gray.png" style="width:35px"/>
        <span>新增選項</span>
    </div>
    <div class="cp-vote-count-area">
        <div class="cp-vote-pm cp-vote-minus">
            <img src="images/compose/vote/compose_post_vote_bt_minus.png"/>
        </div>
        <div class="cp-vote-count">
            <div>1</div>
            <div>可投票數</div>
        </div>
        <div class="cp-vote-pm cp-vote-plus">
            <img src="images/compose/vote/compose_post_vote_bt_plus.png"/>
        </div>
    </div>
    <div class="cp-vote-div"></div>
</div>
