<div class="cp-content">
    <div data-sp-box="title" class="cp-content-box cp-content-title" style="display:none">
        <img class="cp-icon-size" src="images/compose/compose_form_icon_title.png"/>
        <textarea data-cp-name="標題" class="cp-textarea-title" data-role="none" data-textph-id="COMPOSE_TITLE"></textarea>
    </div>
    <!-- <div data-sp-box="apt" class="cp-content-box cp-content-apt" style="display:none">
        <img class="cp-icon-size" src="images/compose/compose_form_icon_apt.png"/>
        所屬部門
        <div class="cp-apt-btn-area">以個人身份發佈<img src="images/ap_box_arrow.png"/></div>
    </div> -->
    <div data-sp-box="object" class="cp-content-box cp-content-object" style="display:none">
        <img class="cp-icon-size" src="images/compose/compose_form_icon_object.png"/>
        <label data-textid="COMPOSE_RECEIVER"></label>
        <span></span>
        <img class="cp-object-btn" src="images/ap_box_arrow.png"/>
    </div>
    <div data-sp-box="top" class="cp-content-box cp-content-top" style="display:none">
        <img class="cp-icon-size" src="images/compose/compose_form_icon_top.png"/>
        <label data-textid="COMPOSE_TOP"></label>
        <img class="cp-icon-size cp-top-btn" src="images/compose/compose_form_icon_check_none.png"/>
    </div>
    <div class="cp-content-textarea">
        <img class="cp-icon-size" src="images/compose/compose_form_icon_description.png"/>
        <textarea data-cp-name="內容" class="cp-textarea-desc textarea-animated" data-role="none" data-textph-id="COMPOSE_DESCRIPTION"></textarea>
    </div>

    <div class="cp-work-area" style="display:none">
         
        <div class="cp-work-item" data-work-index="0">
            <img src="images/common/icon/icon_compose_close.png"/>
            <span>1</span>
            <textarea class="cp-opt-textarea textarea-animated cp-work-empty-chk" placeholder="" data-role="none"></textarea>
            <div class="cp-work-item-object">
                <span data-textid="COMPOSE_ASSIGN"></span>
                <img src="images/ap_box_arrow.png"/>
            </div>
        </div>
        <div class="cp-work-add-item">
            <img src="images/compose/vote/compose_post_vote_icon_add_yellow.png" style="width:35px"/>
            <span data-textid="COMPOSE_ADD_OPTION"></span>
        </div>
    </div>

    <div class="cp-vote-type-area" style="display:none">
        <div class="cp-vote-type" data-vote-type="0">
            <div class="tick"><img src="images/common/icon/icon_check_gray_check.png"/></div>
            <div class="content">
                <div class="title" data-textid="FEED_VOTE_GENERAL_L"></div>
                <div class="desc" data-textid="FEED_VOTE_GENERAL_DESC"></div>
            </div>
        </div>
        <div class="cp-vote-type" data-vote-type="1">
            <div class="tick"><img src="images/common/icon/icon_check_gray.png"/></div>
            <div class="content">
                <div class="title" data-textid="FEED_VOTE_PUBLIC_L"></div>
                <div class="desc" data-textid="FEED_VOTE_PUBLIC_DESC"></div>
            </div>
        </div>
        <div class="cp-vote-type" data-vote-type="2">
            <div class="tick"><img src="images/common/icon/icon_check_gray.png"/></div>
            <div class="content">
                <div class="title" data-textid="FEED_VOTE_ANONYMOUS_L"></div>
                <div class="desc" data-textid="FEED_VOTE_ANONYMOUS_DESC"></div>
            </div>
        </div>
    </div>

    <div class="cp-vote-area" style="display:none">
        <div class="cp-vote-add-ques">
            <img src="images/compose/vote/compose_post_vote_icon_add_yellow.png" style="width:35px"/>
            <span data-textid="COMPOSE_ADD_TOPIC"></span>
        </div>
    </div>

   <!--  <div class="cp-content-box cp-content-addcal" style="display:none">
        <img class="cp-icon-size" src="images/compose/vote/compose_form_icon_addcal.png"/>
        <span data-textid="FEED_CALENDAR"></span>
        <img class="cp-icon-size cp-top-btn" src="images/compose/compose_form_icon_check_none.png"/>
    </div> -->

    <!-- <div class="cp-content-box cp-content-first" style="display:none">
        <img class="cp-icon-size" src="images/compose/vote/compose_form_icon_first.png"/>
        <span data-textid="">優先處理</span>
        <img class="cp-icon-size cp-top-btn" class="cp-top-btn" src="images/compose/compose_form_icon_check_none.png"/>
    </div> -->

    <div class="cp-time-area" style="display:none">
        <div class="cp-setdate-chk" style="display:none">
            <img src="images/common/icon/icon_check_gray.png"/>
            <span data-textid="COMPOSE_SET_START_TIME"></span>
        </div>
        <div class="cp-setdate-div"></div>
        <div class="cp-setdate-area">
            <div class="cp-setdate-l">
                <div class="cp-setdate-l-1"></div>
                <div class="cp-setdate-l-2">
                    
                    <div class="cp-setdate-ttl" data-textid="COMPOSE_START_TIME"></div>
                    <div class="cp-setdate-start-text" data-textid="COMPOSE_NOW"></div>
                    <div class="cp-setdate-content" style="display:none">
                        <div class="cp-setdate-date">12月14日</div>
                        <div class="cp-setdate-time">09:00</div>
                        <div class="cp-setdate-week">星期二</div>
                    </div>
                    <input disabled="disabled" class="cp-datetimepicker-start"/>
                </div>
                <div class="cp-setdate-l-3"></div>
            </div>
            <div class="cp-setdate-r">
                <div class="cp-setdate-r-1">
                    <div class="cp-setdate-ttl" data-textid="COMPOSE_END_TIME"></div>
                    <div class="cp-setdate-content">
                        <div class="cp-setdate-date">12月25日</div>
                        <div class="cp-setdate-time">09:00</div>
                        <div class="cp-setdate-week">星期二</div>
                    </div>
                    <input disabled="disabled" class="cp-datetimepicker-end"/>
                </div>
                <div class="cp-setdate-r-2"></div>
            </div>
        </div>
    </div>

    <div class="cp-attach-area" style="display:none">

        <div class="cp-sticker-area" style="display:none">
        </div>

        <div class="cp-file-area" style="display:none">
            <div class="cp-file-img-area" style="display:none"></div>
        </div>
        <img class="url-loading" src="images/url_loading.gif" style="display: block;margin: 10px auto;display:none;">
        <div class="cp-ta-yql">
            <div class="cp-yql-title"></div>
            <div class="cp-yql-img"></div>
            <div class="cp-yql-desc"></div>
        </div>
    </div>


    <div class="cp-content-height-adj"></div>

</div>
<!-- end of cp-content -->




<div class="cp-vote-ques-area">
    <div class="cp-vote-ques-title">
        <img src="images/common/icon/icon_compose_close.png"/>
        <span></span>
        <img src="images/compose/vote/compose_post_vote_icon_edit.png"/>
        <textarea class="cp-vq-textarea-title textarea-animated cp-vote-empty-chk" data-role="none" data-textph-id="COMPOSE_TOPIC"></textarea>
    </div>
    <div class="cp-vote-opt">
        <img src="images/common/icon/icon_compose_close.png"/>
        <span>1</span>
        <textarea class="cp-opt-textarea textarea-animated cp-vote-empty-chk" data-role="none" data-textph-id="COMPOSE_OPTION"></textarea>
    </div>
    <div class="cp-vote-opt">
        <img src="images/common/icon/icon_compose_close.png"/>
        <span>2</span>
        <textarea class="cp-opt-textarea textarea-animated cp-vote-empty-chk" data-role="none" data-textph-id="COMPOSE_OPTION"></textarea>
    </div>
    <div class="cp-vote-add-opt">
        <img src="images/compose/vote/compose_post_vote_icon_add_gray.png" style="width:35px"/>
        <span data-textid="COMPOSE_ADD_OPTION"></span>
    </div>
    <div class="cp-vote-count-area">
        <div class="cp-vote-pm cp-vote-minus">
            <img src="images/compose/vote/compose_post_vote_bt_minus.png"/>
        </div>
        <div class="cp-vote-count">
            <div>1</div>
            <div data-textid="COMPOSE_AVAILABLE_VOTE"></div>
        </div>
        <div class="cp-vote-pm cp-vote-plus">
            <img src="images/compose/vote/compose_post_vote_bt_plus.png"/>
        </div>
    </div>
    <div class="cp-vote-div"></div>
</div>
