<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title></title>
        <link rel="stylesheet" href="../css/general_gallery.css?123" />
        
        <script src="../../js/jquery.js"></script>
        <script src="../js/init.js"></script>
        <script src="../js/tool.js"></script>
        <script src="../js/general_gallery.js"></script>
        <script type="text/javascript" src="../../js/jquery.i18n.js"></script>
    </head>

    <body>
        <div class="title">title</div>
        <div class="subTitle">sub title</div>
        <div class="picArea"></div>
        <div class="lBtn"></div>
        <div class="rBtn"></div>
        <div class="cnt">
            <span class="current">0</span>/<span class="all">0</span>
        </div>
        <div class="dataDom" style="display:none;"></div>
    </body>
</html>