<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title></title>
        <link rel="stylesheet" href="../css/general_gallery.css?123" />
        
        <script type="text/javascript" src='/assist/func_assistant.js'></script>
        <script src="../../js/jquery.js"></script>
        <script src="../js/init.js"></script>
        <script src="../js/tool.js"></script>
        <script src="../js/general_gallery.js"></script>
        <script type="text/javascript" src="../../js/jquery.i18n.js"></script>
    </head>
    <script>
        var this_gi;
        var this_ti;
        var ui;
        var at;
        var lang;
        var list;
        var scrollVal = 0;
        var scrollPercent = 0;
        var isCheckPosi = false;
        var checkTime = 0;
        var nextScrollTime = 0;
        var bIsScrollPage = true;
        var startIndex = 0;
        var title;
        var picArea;
        var isLoaded = false;
        var isWatermark = false;
        var watermarkText;


        //trigger loading
        function onDataDomClick(){
            isLoaded = true;
            picArea = $(".picArea");
            try{
                console.debug("on data dom clicked");
                console.debug("ui", ui, "at", at, "lang", lang);
                console.debug("startIndex", startIndex);
                console.debug("this_gi", this_gi);
                console.debug("this_ti", this_ti);
                console.debug("list", list);
                if( null!= list ) console.debug(JSON.stringify(list));
            } catch(e){
                errorReport(e);
            }

            picArea.html("");
            picArea.data("index", startIndex);
            picArea.data("cnt", list.length);
            picArea.css("width",(list.length*100)+"%");
            picArea.css("left", (-100*startIndex)+"%");

            if( null != title ){
                $(".title").html(title).show();
            } else {
                $(".title").hide();
            }
            if( startIndex <list.length && null!=list[startIndex] ){
                $(".subTitle").html(list[startIndex].text||"");
            } else {
                $(".subTitle").html("");
            }

            var width = 100.0/list.length;
            for( var i=0; i<list.length; i++ ){
                var img = $("<div class='img'><img style='height: 100%;'/></div>");
                img.css("width",width+"%");
                img.data("oriW",width);
                img.data("text",list[i].text);
                img.find("img").load( function() {
                    $(this).data("w",this.naturalWidth);
                    $(this).data("h",this.naturalHeight);
                });
                if( list[i].s32 ){
                    try{
                        console.debug("i", i);
                        console.debug("list[i].s32", list[i].s32);
                    } catch(e){
                        errorReport(e);
                    }
                    var fileName = getS3FileNameWithExtension( list[i].s32, 6 );
                    img.find("img").attr("src", list[i].s32 ).after('<a href="'+ list[i].s32 +'" download="'+fileName+'"><div></div></a>');
                    // img.css("background-image", "url("+list[i].s32+")" );
                } else {
                    try{
                        console.debug("i", i, "getting s3");
                    } catch(e){
                        errorReport(e);
                    }
                    getS3file( list[i],img.find("img"), 6, isWatermark, watermarkText );
                }
                picArea.append( img );
            }

            if( list.length<=1 ){
                $(".cnt").hide();
                // $(".cnt .current").html( 1 );
                // $(".cnt .all").html( list.length );

                $(".rBtn").hide();
                $(".lBtn").hide();
                // picArea.addClass("singleImage");
            } else {
                $(".cnt").show();
                $(".cnt .current").html( startIndex+1 );
                $(".cnt .all").html( list.length );

                $(".rBtn").show();
                $(".lBtn").show();
                // picArea.removeClass("singleImage");
            }
            changeImgViewSize(0);
        }
    </script>
    <body>
        <header>
            <!-- <img src="../images/navi/navi_icon_back.png"/> -->
            <div class="title"></div>
            <div class="subTitle"></div>
        </header>
        <div class="picArea"></div>
        <div class="lBtn"></div>
        <div class="rBtn"></div>
        <div class="cnt">
            <span class="current">0</span>/<span class="all">0</span>
        </div>
        <div class="zoom">
            <div class="zoomIn">+</div>
            <div class="zoomOut">-</div>
            <div class="info">auto</div>
            <!-- <div class="download">download</div> -->
        </div>
        <div class="dataDom" style="display:none;" onclick="onDataDomClick()"></div>
    </body>
</html>