<div class="st-top-area-test">
    <div class="st-top-event-block">
        <div class="st-top-left-arrow st-top-arrow"><div><img src="images/arrow2.png"></div></div>
        <div class="st-top-right-arrow st-top-arrow"><div><img src="images/arrow2.png"></div></div>
        <div class="st-top-event-area">
            <div class="st-top-event-default">
                <img src="images/coachmake/logo_timeline_top.png"/>
                <div>目前尚未有任何置頂</div>
            </div>
            <div class="st-top-event-set">
            </div>
        </div>
    </div>
    <div class="st-top-bar-area" style="display:none">
        <div class="st-top-bar-selector" style="display:"></div>
        <div class="st-top-bar-case">
        </div>
        <div class="st-top-bar-case-click">
        </div>
    </div>
</div>

<div class="st-top-event-load">
    <div class="st-top-event-l navi-arrow">
        <img src="images/timeline/timeline_cover_icon_announcement.png"/>
        <div></div>
    </div>
    <div class="st-top-event-r navi-arrow">
        <div class="st-top-event-r-adj">
            <div class="st-top-event-r-ttl"></div>
            <div class="st-top-event-r-content"></div>
            <div class="st-top-event-r-footer">
                <span></span>
                <img src="images/icon/icon_time_lightwhite.png"/>
                <span></span>
            </div>
        </div>
    </div>
</div>


<div class="gmi-div">
    <div class="gmi-div-data-area">
        <div class="gmi-div-avatar group-pic">
            <img class="aut" src="images/common/others/empty_img_all_l.png" style="width:70px"/>
        </div>
        <div class="gmi-div-data">
            <div><span></span>邀請你加入團體</div>
            <div><span></span>位成員</div>
        </div>
    </div>
    <div class="gmi-div-desc-area">
        
    </div>
    <div class="gmi-div-ans-area">
        <div class="gmi-div-delete">刪除</div>
        <div class="gmi-div-agree">同意</div>
    </div>
</div>

<div class="user-info-load">
    <img class="user-info-close" src="images/common/icon/bt_close_normal.png"/>
    <div class="user-avatar">
        <img class="default" src="images/common/others/empty_img_personal_xl.png"/>
        <div class="user-avatar-bar">
            <div class="user-name nk"></div>
            <div class="birth bd"><img src="images/icon/icon_birthday.png"/></div>
            <div class="branch bl"></div>
            <div class="title"></div>
            <div class="user-desc sl"></div>
            <div class="bottom"></div>
        </div>
    </div>
    <div class="user-info-list-area">
        <div class="user-info-list">
            <div class="title">Email</div>
            <div class="content em">暫無資料</div>
            <img class="em" data-name="mail" src="images/icon/bt_mail_disable.png">
        </div>
        <div class="user-info-list">
            <div class="title">Mobile</div>
            <div class="content pn pn1">暫無資料</div>
            <img class="pn pn1" data-name="phonenumber" src="images/icon/bt_phonenumber_disable.png">
        </div>
        <div class="user-info-list">
            <div class="title">Extension</div>
            <div class="content ext">暫無資料</div>
            <img class="ext" data-name="extension" src="images/icon/bt_extension_disable.png">
        </div>
        <div class="user-info-list">
            <div class="title">MVPN</div>
            <div class="content mv">暫無資料</div>
            <img class="mv" data-name="mvpn" src="images/icon/bt_mvpn_disable.png">
        </div>
    </div>
    <div class="action">
        <div class="action-bar"></div>
        <div class="action-main"><img src="images/icon/icon_namecard_mywall.png"/>主頁</div>
        <div class="action-chat"><img src="images/icon/icon_chat.png"/>聊天</div>
        <div class="action-edit"><img src="images/user_info_edit.png"/>編輯</div>
    </div>
</div>

<div class="me-info-load">
    <img class="user-info-back" src="images/user_info_back.png"/>
    <img class="user-info-close" src="images/common/icon/bt_close_normal.png"/>
    <div class="user-avatar">
        <img class="default" src="images/common/others/empty_img_personal_xl.png"/>
        <div class="user-avatar-bar">
            <div class="group-avatar">
                <img src="images/common/others/others_nologo_100.png"/>
            </div>
            <div class="group-name"></div>
            <img class="upload" src="images/common/icon/bt_camera_nornal.png"/>
            <input type="file" style="display:none" data-role="none"/>
        </div>
    </div>
    <div class="user-info-list-area me-list">
        <div class="user-info-list bar">
            <div class="user-info-title">姓名</div>
            <input class="nk" data-role="none"/>
        </div>
        <div class="user-info-list bar">
            <div class="user-info-title">心情留言</div>
            <input class="sl" placeholder="暫無資料" data-role="none"/>
        </div>
        <div class="user-info-list bar">
            <div class="user-info-title">部門</div>
            <input class="dp" placeholder="暫無資料" readonly data-role="none"/>
        </div>
        <div class="user-info-list bar">
            <div class="user-info-title">職稱</div>
            <input class="ti" placeholder="暫無資料" readonly data-role="none"/>
        </div>
        <div class="user-info-list bar">
            <div class="user-info-title">Extension</div>
            <input class="et" placeholder="暫無資料" readonly data-role="none"/>
        </div>
        <div class="user-info-list bar">
            <div class="user-info-title">MVPN</div>
            <input class="mv" placeholder="暫無資料" readonly data-role="none"/>
        </div>
        <div class="user-info-list bar">
            <div class="user-info-title">生日</div>
            <input class="bd" placeholder="暫無資料" readonly data-role="none"/>
        </div>
        <div class="user-info-list bar">
            <div class="user-info-title">Email</div>
            <input class="em" placeholder="暫無資料" placeholder="" readonly data-role="none"/>
        </div>
        <div class="user-info-list bar">
            <div class="user-info-title">Mobile</div>
            <input class="pn1" placeholder="暫無資料" readonly data-role="none"/>
        </div>
    </div>
    <div class="user-info-submit">確定</div>
</div>