<div class="st-top-area-test">
    <div class="st-top-event-block">
        <div class="st-top-left-arrow st-top-arrow"><div><img src="images/arrow2.png"></div></div>
        <div class="st-top-right-arrow st-top-arrow"><div><img src="images/arrow2.png"></div></div>
        <div class="st-top-event-area">
            <div class="st-top-event-default">
                <img src="images/coachmake/logo_timeline_top.png"/>
                <div>目前尚未有任何置頂</div>
            </div>
            <div class="st-top-event-set">
            </div>
        </div>
    </div>
    <div class="st-top-bar-area" style="display:none">
        <div class="st-top-bar-selector" style="display:"></div>
        <div class="st-top-bar-case">
        </div>
        <div class="st-top-bar-case-click">
        </div>
    </div>
</div>

<div class="st-top-event-load">
    <div class="st-top-event-l navi-arrow">
        <img src="images/timeline/timeline_cover_icon_announcement.png"/>
        <div></div>
    </div>
    <div class="st-top-event-r navi-arrow">
        <div class="st-top-event-r-adj">
            <div class="st-top-event-r-ttl"></div>
            <div class="st-top-event-r-content"></div>
            <div class="st-top-event-r-footer">
                <span></span>
                <img src="images/icon/icon_time_lightwhite.png"/>
                <span></span>
            </div>
        </div>
    </div>
</div>


<div class="gmi-div">
    <div class="gmi-div-data-area">
        <div class="gmi-div-avatar">
            <img class="aut" src="images/common/others/empty_img_all_l.png" style="width:70px"/>
            <img class="auo" src=""/>
        </div>
        <div class="gmi-div-data">
            <div><span></span>邀請你加入團體</div>
            <div><span></span>位成員</div>
        </div>
    </div>
    <div class="gmi-div-desc-area">
        
    </div>
    <div class="gmi-div-ans-area">
        <div class="gmi-div-delete">刪除</div>
        <div class="gmi-div-agree">同意</div>
    </div>
</div>