<div class="st-top-event-load">
    <div class="st-top-event-l navi-arrow">
        <img class="update-avatar-all" src="images/common/others/empty_img_personal_xl.png"/>
    </div>
    <div class="st-top-event-r navi-arrow">
        <div class="st-top-event-r-adj">
            <div class="st-top-event-r-ttl"><span></span></div>
            <div class="st-top-event-r-content"></div>
            <div class="st-top-event-r-footer">
                <span></span>
                <img src="images/icon/icon_time_blue.png"/>
                <span></span>
            </div>
        </div>
    </div>
</div>


<div class="gmi-div">
    <div class="gmi-div-data-area">
        <div class="gmi-div-avatar group-pic">
            <img class="aut" src="images/icon/icon_group_50.png" style="width:70px"/>
        </div>
        <div class="gmi-div-data">
            <div></div>
            <div></div>
        </div>
    </div>
    <div class="gmi-div-desc-area">
        
    </div>
    <div class="gmi-div-ans-area">
        <div class="gmi-div-delete" data-textid="COMMON_REJECT"></div>
        <div class="gmi-div-agree" data-textid="COMMON_AGREE"></div>
    </div>
</div>

<div class="user-info-load width-chk">
    <img class="user-info-close" src="images/common/icon/bt_close_normal.png"/>
    <div class="user-info-delete" data-textid="USER_PROFILE_DELETE_MEMBER"></div>
    <div class="user-avatar">
        <img class="default" src="images/icon/name_card_nophoto.png"/>
        <img class="user-pic"/>
        <div class="user-avatar-bar">
            <div class="user-avatar-bar-favorite">
                <img class="fav active" src="images/icon/icon_like.png">
                <img class="fav deactive" src="images/icon/icon_like_disable.png">
            </div>
            <div class="user-avatar-bar-info">
                <div class="user-name nk"></div>
                <div class="branch bl"></div>
                <div class="title ti tt"></div>
                <div class="user-desc sl"></div>
                <div class="bottom"></div>
            </div>
        </div>
    </div>
    <div class="user-info-list-area">
        <div class="user-info-list">
            <div class="title" data-textid="USER_PROFILE_EMAIL"></div>
            <div class="content em" data-textid="USER_PROFILE_NO_DATA"></div>
            <img class="em" data-name="mail" src="images/icon/bt_mail_disable.png">
        </div>
        <div class="user-info-list">
            <div class="title" data-textid="USER_PROFILE_PHONE"></div>
            <div class="content pn pn1" data-textid="USER_PROFILE_NO_DATA"></div>
            <img class="pn pn1" data-name="phonenumber" src="images/icon/bt_phonenumber_disable.png">
        </div>
        <div class="user-info-list">
            <div class="title" data-textid="WEBONLY_USER_PROFILE_PHONE2"></div>
            <div class="content pn2" data-textid="USER_PROFILE_NO_DATA"></div>
            <img class="pn pn2" data-name="extension" src="images/icon/bt_extension_disable.png">
        </div>
        <div class="user-info-list">
            <div class="title" data-textid="USER_PROFILE_EXTENSION"></div>
            <div class="content ext" data-textid="USER_PROFILE_NO_DATA"></div>
            <img class="ext" data-name="extension" src="images/icon/bt_extension_disable.png">
        </div>
        <div class="user-info-list">
            <div class="title" data-textid="USER_PROFILE_MVPN"></div>
            <div class="content mv" data-textid="USER_PROFILE_NO_DATA"></div>
            <img class="mv" data-name="mvpn" src="images/icon/bt_mvpn_disable.png">
        </div>

        <div class="user-info-list">
            <div class="title" data-textid="USER_PROFILE_SIP_NUMBER1"></div>
            <div class="content spn" data-textid="USER_PROFILE_NO_DATA"></div>
            <img class="spn" data-name="sipnumber1" src="images/icon/bt_sipnumber1_disable.png">
        </div>
        <div class="user-info-list">
            <div class="title" data-textid="USER_PROFILE_SIP_NUMBER2"></div>
            <div class="content spn2" data-textid="USER_PROFILE_NO_DATA"></div>
            <img class="spn2" data-name="sipnumber2" src="images/icon/bt_sipnumber2_disable.png">
        </div>
    </div>
    <div class="user-info-leave-area" data-textid="USER_PROFILE_LEAVE"></div>
    <div class="action">
        <div class="action-bar"></div>
        <div class="action-main"><img src="images/icon/icon_namecard_mywall.png"/><label data-textid="USER_PROFILE_HOMEPAGE"></label></div>
        <div class="action-chat"><img src="images/icon/icon_chat.png"/><label data-textid="LEFT_CHAT"></label></div>
        <div class="action-edit"><img src="images/user_info_edit.png"/><label data-textid="COMMON_EDIT"></label></div>
    </div>
</div>

<div class="me-info-load width-chk">
    <img class="user-info-back" src="images/user_info_back.png"/>
    <img class="user-info-close" src="images/common/icon/bt_close_normal.png"/>
    <div class="user-avatar me">
        <img class="default" src="images/common/others/empty_img_personal_xl.png"/>
        <div class="user-avatar-bar me">
            <div class="group-avatar">
                <img src="images/common/others/others_nologo_100.png"/>
            </div>
            <div class="group-name"></div>
            <img class="upload" src="images/common/icon/bt_camera_nornal.png"/>
        </div>
    </div>
    <input class="user-avatar-upload" type="file" style="display:none" data-role="none"/>
    <div class="user-info-list-area me-list">
        <div class="user-info-list bar">
            <div class="user-info-title" data-textid="SETTING_PROFILE_NAME"></div>
            <input class="nk" data-textph-id="USER_PROFILE_NO_DATA" data-role="none"/>
        </div>
        <div class="user-info-list bar">
            <div class="user-info-title" data-textid="SETTING_PROFILE_NICKNAME"></div>
            <input class="nk2" data-textph-id="USER_PROFILE_NO_DATA" data-role="none"/>
        </div>
        <div class="user-info-list bar">
            <div class="user-info-title" data-textid="USER_PROFILE_MOOD"></div>
            <input class="sl" data-textph-id="USER_PROFILE_NO_DATA" data-role="none"/>
        </div>
        <div class="user-info-list bar">
            <div class="user-info-title" data-textid="USER_PROFILE_BRANCHE"></div>
            <input class="bl" data-textph-id="USER_PROFILE_NO_DATA" readonly data-role="none"/>
        </div>
        <div class="user-info-list bar">
            <div class="user-info-title" data-textid="USER_PROFILE_POSITION"></div>
            <input class="ti" data-textph-id="USER_PROFILE_NO_DATA" readonly data-role="none"/>
        </div>
        <div class="user-info-list bar me-info-bar-extra">
            <div class="user-info-title" data-textid="USER_PROFILE_EMAIL"></div>
            <div>
                <input class="em" data-textph-id="USER_PROFILE_NO_DATA" readonly data-role="none"/>
                <div class="me-info-status em">
                    <span class="status-text" data-textid="COMMON_PUBLIC"></span>
                    <img src="images/common/icon/icon_arrow_black_down.png">
                </div>
            </div>
            <div class="me-info-status-switch" data-type="em">
                <div data-type="public" data-textid="COMMON_PUBLIC"></div>
                <div data-type="private" data-textid="COMMON_PRIVATE"></div>
            </div>
        </div>
        <div class="user-info-list bar me-info-bar-extra">
            <div class="user-info-title" data-textid="USER_PROFILE_PHONE"></div>
            <div>
                <input class="pn1" data-textph-id="USER_PROFILE_NO_DATA" readonly data-role="none"/>
                <div class="me-info-status pn1">
                    <span class="status-text" data-textid="COMMON_PUBLIC"></span>
                    <img src="images/common/icon/icon_arrow_black_down.png">
                </div>
            </div>
            <div class="me-info-status-switch" data-type="pn1">
                <div data-type="public" data-textid="COMMON_PUBLIC"></div>
                <div data-type="private" data-textid="COMMON_PRIVATE"></div>
            </div>
        </div>
        <div class="user-info-list bar">
            <div class="user-info-title" data-textid="USER_PROFILE_EXTENSION"></div>
            <input class="ext" data-textph-id="USER_PROFILE_NO_DATA" readonly data-role="none"/>
        </div>
        <div class="user-info-list bar">
            <div class="user-info-title" data-textid="USER_PROFILE_MVPN"></div>
            <input class="mv" data-textph-id="USER_PROFILE_NO_DATA" readonly data-role="none"/>
        </div>
        <div class="user-info-list bar">
            <div class="user-info-title" data-textid="USER_PROFILE_SIP_NUMBER1"></div>
            <input class="spn" data-textph-id="USER_PROFILE_NO_DATA" readonly data-role="none"/>
        </div>
        <div class="user-info-list bar">
            <div class="user-info-title" data-textid="USER_PROFILE_SIP_NUMBER2"></div>
            <input class="spn2" data-textph-id="USER_PROFILE_NO_DATA" readonly data-role="none"/>
        </div>
        <div class="user-info-list bar me-info-bar-extra">
            <div class="user-info-title" data-textid="SETTING_PROFILE_BIRTHDAY"></div>
            <div>
                <input class="bd" data-textph-id="USER_PROFILE_NO_DATA" readonly data-role="none"/>
                <div class="me-info-status bd">
                    <span class="status-text" data-textid="COMMON_PUBLIC">aa</span>
                    <img src="images/common/icon/icon_arrow_black_down.png">
                </div>
            </div>
            <div class="me-info-status-switch" data-type="bd">
                <div data-type="public" data-textid="COMMON_PUBLIC"></div>
                <div data-type="private" data-textid="COMMON_PRIVATE"></div>
            </div>
        </div>
    </div>
    <div class="user-info-leave-area" data-textid="USER_PROFILE_LEAVE"></div>
    <div class="user-info-submit" data-textid="COMMON_OK"></div>
</div>