<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Project O</title>
        <link rel="stylesheet" href="../css/jquery.mobile-1.3.2.min.css" />
        <link rel="stylesheet" href="css/login.css" />
        
        <script src="../js/jquery.js"></script>
        <script src="../js/jquery.mobile-1.3.2.min.js"></script>
        
        <script type="text/javascript" src="js/login.js"></script>
        
        <script src="js/sha/sha1.js"></script>
        <script src="js/sha/enc-base64-min.js"></script>
        <script type="text/javascript" src="js/jquery.autosize.min.js"></script>
<!--         


     ##        #######   ######   #### ##    ## 
     ##       ##     ## ##    ##   ##  ###   ## 
     ##       ##     ## ##         ##  ####  ## 
     ##       ##     ## ##   ####  ##  ## ## ## 
     ##       ##     ## ##    ##   ##  ##  #### 
     ##       ##     ## ##    ##   ##  ##   ### 
     ########  #######   ######   #### ##    ## 

     
 -->
    </head>
    <body>
        <img class="preload"/>
        <div data-role="page" id="page-login">
	        <div class="main launch_kv">
	            <div class="login-area">
	             
	             <a href="#" id="login" data-role="button" data-theme="d" style="-webkit-user-select: none;">登&nbsp;&nbsp;入</a>
	             
	             <a class="login-text-l" href="#">忘記密碼?</a>
	             <a class="login-text-r" href="#page-register">註冊帳號</a>
	            </div>
	        </div>
	        
        </div>
<!---------------------------------- page-register ------------------------------------>
        <div data-role="page" id="page-register">
            <div data-theme="c" data-role="header" data-position="fixed" data-tap-toggle="false">
            <div class="page-back"><img src="images/navi/navi_icon_back.png"/></div>
                <h3 class="page-title">行動電話號碼註冊</h3>
            </div>
            <div data-role="content">
                <input type="text" id="countrycode" value="地區&nbsp;&nbsp;&nbsp;&nbsp;+886&nbsp;台灣" readonly>
                 <input type="text" id="r-phone" maxlength=10 placeholder="請輸入手機號碼" onkeyup="value=value.replace(/[^-_0-9]/g,'')"/>
                 <div class="register-desc-area">
                    <span class="register-radio"><img src="images/radio2.png"/></span>
                    <span class="register-text">
                        我看過並同意
                        <a href="#">使用條款</a>及
                        <a href="#">隱私政策</a>
                    </span>
                 </div>
                 
                 <a href="#" id="register-next" data-role="button" data-theme="b" >下一步</a>
            </div>
        </div>
<!---------------------------------- page-register-auth ------------------------------------>
        <div data-role="page" id="page-register-auth">
            <div data-theme="c" data-role="header" data-position="fixed" data-tap-toggle="false">
            <div class="page-back"><img src="images/navi/navi_icon_back.png"/></div>
                <h3 class="page-title">行動電話號碼認證</h3>
            </div>
            <div data-role="content">
                 <div class="register-desc-area">
                     我們已經將驗證碼傳送至下列電話號碼，請輸入驗證碼已完成您的手機號碼認證。<br/>
                     <h1></h1>
                     <input type="text" id="otp" maxlength=6 placeholder="驗證碼" onkeyup="value=value.replace(/[^-_0-9]/g,'')"/>
                 </div>
                
                 <div class="resend-otp-close">重送驗證碼</div>
                 <a href="#" id="resend-otp" data-role="button" data-theme="b" >重送驗證碼</a>
                 <a href="#" id="register-auth-next" data-role="button" data-theme="b" >下一步</a>
            </div>
        </div>
<!---------------------------------- page-password ------------------------------------>
        <div data-role="page" id="page-password">
            <div data-theme="c" data-role="header" data-position="fixed" data-tap-toggle="false">
            <div class="page-back"><img src="images/navi/navi_icon_back.png"/></div>
                <h3 class="page-title">密碼設定</h3>
            </div>
            <div data-role="content">
                <input type="password" id="pw-setting" maxlength=20 placeholder="請輸入6-20半形英數字" onkeyup="value=value.replace(/[^-_A-Z0-9a-z]/g,'')">
                <input type="password" id="pw-setting-c" maxlength=20 placeholder="請重複輸入密碼"/>
                
                <a href="#" id="pw-send" data-role="button" data-theme="b" >確認</a>
            </div>
        </div>


<!---------------------------------- 全域 ------------------------------------>        
		<div class="popup">
		  <div class="popup-frame">
		  <div class="popup-text"></div>
		  <a href="#" class="popup-close" data-role="button" data-inline="true">確定</a>
		  <a href="#" class="popup-close-cancel" data-role="button" data-inline="true">取消</a>
		  </div>
		  <div class="popup-screen"></div>

		</div>

        <div class="ajax-screen-lock"></div>

        <div class="ui-loader ui-corner-all ui-body-a ui-loader-default"><span class="ui-icon ui-icon-loading"></span><h1>loading</h1></div>
        
        <div id="page-back-chk"></div>
        <div id="page-back-chk-pre"></div>
        <div id="page-back-pre-title"></div>
    </body>
</html>