<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <script src="../../js/jquery.js"></script>
        <script type="text/javascript" src='/assist/func_assistant.js'></script>
        <!--<script src="https://maps.google.com/maps/api/js?sensor=false"></script>
        <script src="../js/jquery.tinyMap.min.js"></script>-->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script language="javascript" src="https://webapi.amap.com/maps?v=1.3&key=test"></script>
        <title>Qmi Beta</title>
    </head>
    <style type="text/css">
		body{
			background: black;
			overflow: hidden;
			padding: 0;
		}
		#mapContainer{
			position: fixed;
			width: 100vw;
			height: 100vh;
			top: 0;
			left: 0;
		}
		#mapContainer.googleMap{
			top: -8px;
			left: -8px;
		}
    </style>
    <script type="text/javascript">
    	var msgData;
	    function loadAMap () {
	    	if( null==msgData ){
	    		/* ----- TODO -----*/
	    		// pop "some error occured."
	    		/* ----- TODO -----*/
	    		return;
	    	}

	    	var this_slide = $("#mapContainer");
			try{
				this_slide.addClass("googleMap").tinyMap({
						center: {x: msgData.lat, y: msgData.lng},
						// zoomControl: 0,
						mapTypeControl: 0,
						// scaleControl: 0,
						scrollwheel: 0,
						zoom: 16,
						marker: [
				    		{addr: [msgData.lat, msgData.lng], text: msgData.a}
					]
				});
			} catch(e){
		    	try{
		    		this_slide.removeClass("googleMap");
					console.debug("google 失敗 換高德上");
	                var id_str = "mapContainer";
	                var mapObj = new AMap.Map(id_str,{
	                    rotateEnable:false,
	                    dragEnable:true,
	                    zoomEnable:false,
	                    //二维地图显示视口
	                    view: new AMap.View2D({
	                        center:new AMap.LngLat(msgData.lng,msgData.lat),//地图中心点
	                        zoom:15 //地图显示的缩放级别
	                    })
	                });

	                var marker=new AMap.Marker({                    
	                    position:new AMap.LngLat(msgData.lng,msgData.lat)  
	                });  
	                marker.setMap(mapObj);
		    	} catch(e){
		    		console.debug(e.stack);
		    	}
			}
	    }
    </script>
    <body>
    	<div id="mapContainer"></div>
    	<div id="dataDom" onclick="loadAMap()"></div>
    </body>
</html>