<div data-role="page" id="page-select-object" class="ui-page" style="display:none;">
    <div class="ui-header fixed">
        <div class="page-back"><img src="images/navi/navi_icon_back.png"/></div>
        <div class="header-cp-object">
            <span class="page-title"></span>
        </div>
    </div>
    <div class="tabObj-content ui-container">
        <div class="tabObj-tab-area"></div>
        <div class="tabObj-cell-area"></div>
    </div>
</div>
<div data-role="page" id="page-tab-object" class="ui-page" style="display:none;">
    <div class="ui-header fixed">
        <div class="page-back"><img src="images/navi/navi_icon_back.png"/></div>
        <div class="header-cp-object">
            <span class="page-title"></span>
        </div>
    </div>
    <div class="tabObj-content ui-container">
        <div class="tabObj-tab-area"></div>
        <div class="tabObj-cell-area"></div>
    </div>
</div>