<div id="page-selectMem" data-url="page-selectMem" class="ui-page">
    <div class="ui-header fixed">
        <div class="page-back"><img src="images/navi/navi_icon_back.png"></div>
        <div class="header-title">
            <div class="text" data-textid="COMMON_SELECT_MEMBERS">選擇對象</div>
            (<div></div>)
        </div>
        <div class="page-next">
            <!-- <img src="images/navi/navi_icon_post.png"/> -->
            <span data-textid="COMMON_NEXT">下一步</span>
        </div>
    </div>
    <div class="ui-container">
        <div class="obj-selected">
            <div class="title"><img src="images/icon/icon_search.png"><div data-textid="COMMON_SELECT">選擇</div></div>
            <div class="list"></div>
            <div class="clear"></div>
        </div>

        <div class="select-all">
            <div class="selectMem-checkbox-gray"></div>
            <span data-textid="COMMON_SELECT_ALL">全選</span>
            <span data-textid="COMMON_MEMBER">成員</span>
        </div>
        <div class="obj-cell-area">
            <!-- <div class="mem">
                <div class="checkbox" data-memid="M00000MY09d" data-memname="YS" check="false"></div>
                <img src="images/common/others/empty_img_personal_l.png">
                <span>YS</span>
            </div> -->
        </div>
    </div>
</div>