<input type="text" id="countrycode" value="地區&nbsp;&nbsp;&nbsp;&nbsp;+886&nbsp;台灣" readonly>
<input type="text" id="r-phone" maxlength=10 placeholder="請輸入手機號碼" value="0980922917"/>
<div class="register-desc-area">
   <span class="register-radio"><img src="images/radio2.png"/></span>
   <span class="register-text">
       我看過並同意
       <a href="#">使用條款</a>及
       <a href="#">隱私政策</a>
   </span>
</div>
<div data-role="popup" class="popup" data-transition="pop">
  <p></p>
</div>
<a href="#page-register-auth" id="register-next" data-role="button" data-theme="b" >下一步</a>