<div class="st-sub-box filter-show">
    <img class="st-sub-box-more-btn" src="images/timeline/timeline_feedbox_icon_list.png"/>
    <div class="st-sub-box-more">
       <div class="st-more-close"></div>
       <div data-st-more="top" class="st-sub-box-more-box"><img src="images/timeline/timeline_hiddenmenu_icon_top.png"/><div>置頂</div></div>
       <div data-st-more="subscribe" class="st-sub-box-more-box"><img src="images/timeline/timeline_hiddenmenu_icon_subscribe.png"/><div>訂閱</div></div>
       <div data-st-more="copy" class="st-sub-box-more-box"><img src="images/timeline/timeline_hiddenmenu_icon_copy.png"/><div>複製</div></div>
       <div data-st-more="copyword" class="st-sub-box-more-box"><img src="images/timeline/timeline_hiddenmenu_icon_copyword.png"/><div>複製內容</div></div>
       <div data-st-more="calendar" class="st-sub-box-more-box"><img src="images/timeline/timeline_hiddenmenu_icon_calendar.png"/><div>加入行事曆</div></div>
       <div data-st-more="del" class="st-sub-box-more-box"><img src="images/timeline/timeline_hiddenmenu_icon_del.png"/><div>刪除</div></div>
    </div>
    <div class="st-sub-box-1">
        <div class="st-sub-box-1-main">
           <div class="st-user-pic namecard">
            <img src="images/common/others/empty_img_personal_l.png" style="width:62px; margin:-1px 0 0 -1px">
            <img src="" style="display:none">
          </div>
           <div class="st-sub-name"></div>
           <div class="st-sub-time"><img src="images/icon/icon_time_gray.png"/></div>
        </div>
        <div class="st-sub-box-1-footer">
           <img src="images/icon/icon_object.png"/>
        </div>
    </div>
    <div class="st-sub-box-2" data-st-cnt="">
        <div class="st-sub-box-2-content" style="display:none"></div>
        <div class="st-sub-box-2-content-detail" style="display:none"></div>
	    <div class="st-sub-box-2-more">
			<div class="st-box2-more-category"></div>
			<div class="st-box2-more-title"></div>
			<div class="st-box2-more-desc" style="display:none;"></div>
			<div class="st-box2-more-desc-detail" style="display:none;"></div>
			<div class="st-box2-more-time" style="display:none;">
				<img src="images/task/timeline_task_icon_clock.png"/>
				結束時間
				<span></span>
			</div>
			<div class="st-box2-more-task-area" style="display:none">
			    <div class="st-task-status-area" style="display:none">
			        <img src="images/common/icon/icon_check_lightblue_l.png"/>
	                <div class="st-task-status"></div>
	                <div class="st-box2-next"></div>
			    </div>
			</div>
			<div class="st-box2-more-task-area-detail" style="display:none">
			    <div class="st-task-vote-detail" style="display:none">
				    <div class="st-task-vote-detail-count"><span>計算投票人數..</span></div>   
            <div class="st-vote-all-ques-area">
            </div>
				    <div class="st-vote-send">送出</div>
				  </div>
          <div class="st-task-work-detail" style="display:none">
          </div>
			</div>
			<div class="st-box2-bottom-block"></div>
	    </div>
	   
	    <div class="st-sub-box-2-attach-area" style="display:none;">
          <div class="st-attach-url" style="display:none;">
          <div class="st-attach-url-img" style="display:none;"><img src=""/></div>
          <div class="st-attach-youtube" style="display:none;"></div>
          <div class="st-attach-url-title"></div>
          <div class="st-attach-url-desc"></div>
	    </div>

      <div class="st-attach-img" style="display:none;">
        <div class="st-attach-img-area">
          <span class="st-img-gap-last"></span>
        </div>
        <div class="st-attach-img-arrow-l"><img src="images/arrow2.png"/></div>
        <div class="st-attach-img-arrow-r"><img src="images/arrow2.png"/></div>
        
      </div>
         
      <div class="st-attach-map" style="display:none;"></div>
         
      <div class="st-attach-audio" style="display:none;">
		    <!-- <div class="audio-play">
		        <img src="images/timeline/timeline_format_player_icon_play.png"/>
		        <img src="images/timeline/timeline_format_player_icon_play_click.png" style="display:none;"/>
		        <img src="images/timeline/timeline_format_player_icon_stop.png" style="display:none;"/>
		        <img src="images/timeline/timeline_format_player_icon_stop_click.png" style="display:none;"/>
		    </div>
		    <div class="audio-progress">
		        <div></div>
		        <input type="range" min="0" max="100" value="0" data-role="none">
		        <div></div>
		    </div>
		    <audio data-name="test" src="http://a.tumblr.com/tumblr_lntqmdVjSt1qzprvyo1.mp3" controls style="display:none;"></audio> -->
			</div>
        </div>
    </div>
    <div class="st-sub-box-3">
        <img src="images/timeline/timeline_feedbox_icon_like.png"/><div>0</div>
        <img src="images/timeline/timeline_feedbox_icon_chat.png"/><div>0</div>
        <img src="images/timeline/timeline_feedbox_icon_read.png"/><div>0</div>
    </div>
    <div class="st-sub-box-4">
        <div class="st-like-btn">讚</div>
        <div class="st-message">留言</div>
    </div>
    <div class="st-reply-area" style="display:none">
        <div class="st-reply-like-area">
            <img src="images/timeline/timeline_feedbox_icon_like.png"/>
            <span>目前沒人按讚</span>
            <img src="images/common/icon/icon_arrow_next.png"/>
        </div>
        <div class="st-reply-all-content-area"></div>
        <div class="st-reply-message-area" data-movement="0" data-animate-chk="true" style="display:none">
          <div class="st-reply-message-bg">
            <img class="st-reply-message-attach" src="images/chatroom/chat_textbar_icon_add.png"/>
            <img class="st-reply-message-sticker" src="images/chatroom/chat_textbar_icon_emoticon.png"/>
            <div class="st-reply-message-textarea">
                <textarea placeholder="請輸入訊息..." data-role="none"></textarea>
                <div class="st-reply-message-send">傳送</div>
            </div>
          </div>
        </div>
    </div>
</div>

<div class="st-vote-ques-area">
    <div class="st-vote-detail-top"><span></span><span></span></div>
    <div class="st-vote-detail-desc" style="display:none"></div>
</div>

<div class="st-work-area">
    <div class="st-vote-detail-top"><span></span><span></span></div>
    <div class="st-vote-detail-desc" style="display:none"></div>
</div>


<div class="st-reply-content-area">
    <div class="st-user-pic namecard"><img src="images/common/others/empty_img_personal_xl.png" style="width:60px"/></div>
    <div class="st-reply-content-subarea">
        <div class="st-reply-username"></div>
        <div class="st-reply-content">
          <div><img class="sticker"/></div>
          <div class="au-area img-show">
            <img class="aut"/>
            <img class="auo"/>
          </div>
        </div>
        <div class="st-reply-footer">
            <span></span>&nbsp;&nbsp;
            <span class="st-reply-message-like">讚</span>&nbsp;&nbsp;
            <img src="images/timeline/timeline_feedbox_icon_like.png" style="display:none"/>
            <span></span>
        </div>
    </div>
</div>

