<div class="st-sub-box filter-show">
    <img class="st-sub-box-more-btn" src="images/timeline/timeline_feedbox_icon_list.png"/>
    <div class="st-sub-box-more">
       <div class="st-more-close"></div>
       <div data-st-more="top" class="st-sub-box-more-box">
        <img/><div></div>
       </div>
       <div data-st-more="subscribe" class="st-sub-box-more-box">
         <img/><div></div>
       </div>
       <div data-st-more="copy" class="st-sub-box-more-box" style="display:none;">
        <img/><div data-textid="FEED_COPY"></div>
       </div>
       <div data-st-more="copyword" class="st-sub-box-more-box">
         <img/><div data-textid="FEED_COPY_CONTENT"></div>
       </div>
       <div data-st-more="calendar" class="st-sub-box-more-box" style="display:none;">
         <img/><div data-textid="FEED_CALENDAR"></div>
       </div>
       <div data-st-more="del" class="st-sub-box-more-box">
         <img/><div data-textid="FEED_DELETE"></div>
       </div>
    </div>
    <div class="st-sub-box-1 update-parent-all">
        <div class="st-sub-box-1-main">
          <div class="st-user-pic namecard">
            <img class="update-avatar-all" src="images/common/others/empty_img_personal_l.png">
          </div>
          <div class="st-sub-name"><label class="update-name-all"></label><img class="st-sub-subscribe" src="images/icon/icon_timelinebox_collection.png"/></div>
          <div class="st-sub-time"><img src="images/icon/icon_time_gray.png"/></div>
        </div>
        <div class="st-sub-box-1-footer hideOverflow">
           <img src="images/icon/icon_object.png"/>
        </div>
    </div>
    <div class="st-sub-box-2" data-st-cnt="">
        <div class="st-sub-box-2-content line-clamp" style="display:none"></div>
        <div class="st-sub-box-2-content-detail" style="display:none"></div>
	    <div class="st-sub-box-2-more">
			<div class="st-box2-more-category"></div>
			<div class="st-box2-more-title"></div>
			<div class="st-box2-more-desc line-clamp" style="display:none;"></div>
			<div class="st-box2-more-desc-detail" style="display:none;"></div>
			<div class="st-box2-more-time" style="display:none;">
				<img src="images/task/timeline_task_icon_clock.png"/>
				<label data-textid="FEED_CLOSE_TIME"></label>
				<span></span>
			</div>
			<div class="st-box2-more-task-area" style="display:none">
			    <div class="st-task-status-area" style="display:none">
			        <img src="images/common/icon/icon_check_lightblue_l.png"/>
	                <div class="st-task-status"></div>
	                <div class="st-box2-next"></div>
			    </div>
			</div>
			<div class="st-box2-more-task-area-detail" style="display:none">
			    <div class="st-task-vote-detail" style="display:none">
				    <div class="st-task-vote-detail-count"><span></span><span class="align-right"><span data-textid="FEED_VOTE_TYPE"></span><span class="vote-type"></span></span></div>
            <div class="st-vote-all-ques-area">
            </div>
				    <div class="st-vote-send"></div>
				  </div>
          <div class="st-task-work-detail" style="display:none">
          </div>
			</div>
			<div class="st-box2-bottom-block"></div>
	    </div>
	   
	    <div class="st-sub-box-2-attach-area" style="display:none;">
          <div class="st-attach-url" style="display:none;">
          <div class="st-attach-url-img" style="display:none;"><img src=""/></div>
          <div class="st-attach-youtube" style="display:none;"></div>
          <div class="st-attach-url-area">
            <div class="st-attach-url-title"></div>
            <div class="st-attach-url-desc"></div>
          </div>
          <a class="st-attach-url-link" target="_blank" style="display:none;"></a>
	    </div>

      <div class="st-attach-sticker" style="display:none;">
        <img/>
      </div>

      <div class="st-attach-img" style="display:none;">
        <table class="st-attach-img-area" align="center">
          <tr>
            <td></td>
            <td></td>
          </tr>
        </table>
      </div>

      <!-- <div id='galleryModal'>
        <div class="gallery-contaniner">
          <span class='close'>×</span>
          <img class='currentImg'>
          <div class="preBtn arrowBtn"></div> 
          <div class="nextBtn arrowBtn"></div>
          <div id='caption'></div>
        </div>
      </div> -->
         
      <div class="st-attach-google-map" style="display:none;"></div>
      <div id="amap" class="st-attach-amap-map" style="display:none;"></div>
         
      <div class="st-attach-audio" style="display:none;"></div>
      <div class="st-attach-video play" style="display:none;">
        <div></div>
      </div>
      <div class="st-attach-file" style="display:none;">
        <div class="header hidden">附加檔案</div>
        <div class="attach-file-list"></div>
        <div class="footer">全部下載</div>
      </div>
        </div>
    </div>
    <div class="st-sub-box-3">
        <img class="st-like" src="images/icon/icon_like1_normal.png"/><div>0</div>
        <img class="st-response" src="images/icon/icon_meg_normal.png"/><div class="st-response">0</div>
        <img class="st-read" src="images/icon/icon_view_normal.png"/><div class="st-read">0</div>
    </div>
    <div class="st-sub-box-4">
        <div class="st-like-btn" data-textid="FEED_LIKE"></div>
        <div class="st-message" data-textid="FEED_REPLY"></div>
    </div>
    <div class="st-reply-area">
        <div class="st-reply-like-area" style="display:none">
            <img src="images/timeline/timeline_feedbox_icon_like.png"/>
            <span></span>
            <span data-textid="FEED_BE_FIRST_LIKE"></span>
            <img src="images/common/icon/icon_arrow_next.png"/>
        </div>
        <div class="st-reply-all-content-area" style="display:none"></div>
        <!-- <ul class="tag-list"></ul> -->
        <div class="st-reply-message-area" data-movement="0" data-animate-chk="true">
          <div class="st-reply-message-bg">
            <img class="st-reply-message-attach" src="images/chatroom/chat_textbar_icon_add.png"/>
            <input class="st-reply-message-file" type="file" multiple style="display:none;" data-role="none"/>
            <img class="st-reply-message-sticker" src="images/chatroom/chat_textbar_icon_emoticon.png"/>
            <div class="st-reply-message-textarea adjust">
                <div class="tag-members-container"></div>
                <!-- <textarea data-role="none" data-textph-id="FEED_SAY_SOMETHING"></textarea> -->
                <div class="st-reply-highlight-container highlight-container" contenteditable=true ></div>

                <div class="st-reply-message-send" data-textid="COMMON_SUBMIT"></div>
            </div>
            <div class="st-reply-message-img"></div>
          </div>
        </div>
        <div class="stickerArea" style="height:200px;width:100%;display:none;"></div>
    </div>
    <div class="timeline-dnd"></div>
    <div class="st-sub-box-more-screen"></div>
</div>

<div class="st-vote-ques-area">
    <div class="st-vote-detail-top"><span></span><span></span></div>
    <div class="st-vote-detail-desc" style="display:none"></div>
</div>

<div class="st-work-area">
    <div class="st-vote-detail-top"><span></span><span></span></div>
    <div class="st-vote-detail-desc" style="display:none"></div>
</div>


<div class="st-reply-content-area update-parent-all">
    <div class="st-user-pic namecard"><img class="update-avatar-all" src="images/common/others/empty_img_personal_xl.png" style="width:60px"/></div>
    <div class="st-reply-content-subarea">
        <div class="st-reply-username update-name-all"></div>
        <div class="st-reply-content">
          <div class='replyMsg'></div>
          <div><img class="sticker"/></div>
          <div class="au-area img-show">
            <img class="aut"/>
            <img class="auo"/>
          </div>
          <video controls preload="none"></video>
          <audio controls></audio>
          <div class="file"></div>
        </div>
        <div class="st-reply-footer">
            <span class="st-reply-footer-time"></span>&nbsp;&nbsp;
            <span class="st-reply-message-like" data-like="false" data-textid="FEED_LIKE"></span>&nbsp;&nbsp;
            <img src="images/timeline/timeline_feedbox_icon_like.png" style="display:none"/>
            <span class="cnt"></span>
        </div>
    </div>
</div>

