<div class="st-task-vote-detail">
    <div class="st-task-vote-detail-count"><span>4</span>人已投票</div>   
    <div class="st-vote-detail-top"><span>1</span><span>每個人限選取2項</span></div>
    <div class="st-vote-detail-option">
        <img src="images/common/icon_check_round_white.png"/>
        <span>臺北</span>
    </div>
    <div class="st-vote-detail-option">
        <img src="images/common/icon_check_round_white.png"/>
        <span>臺中</span>
    </div>
    <div class="st-vote-detail-option sssssss">
        <img src="images/common/icon_check_round_white.png"/>
        <span>臺南臺南臺南臺南臺南臺南臺南臺南臺南臺南臺南臺南臺南臺南臺南臺南臺南臺南臺南臺南臺南臺南</span>
    </div>
    <div class="st-vote-send">送出</div>
</div>