
/*.feed-compose,.navi-alert,*/.chatList-add {
	position:absolute;
    top: 10px;
	width:35px;
	height: 35px;
	cursor:pointer;
	display: none;
}

.chatList-add {
	background: url(../images/navi/navi_icon_chat_addchatroom.png);
	background-size: cover;
	right: 55px;
	/*right: 15px;*/
	z-index: 10;
}

.chatList-add-click {
    background: url(../images/navi/navi_icon_chat_addchatroom_click.png);
    background-size: cover;
}

.subpage-chatList {
	width: 100%;
	display: none;
}

.subpage-chatList .rows {
    background:#d0d0d0;
    display: block;
    height: 100%;
    width: 100%;
    /*padding-top: 50px;*/
}

.subpage-chatList-row {
    border-width: 1px 0px 1px 0px;
	border-color: #d0d0d0;
	border-style: solid;
	background: white;
	display: block;
	min-height: 80px;
	padding: 0px 15px 1px 0px;
	cursor: pointer;
	width: 110%;
}

.subpage-chatList-row td:nth-child(2){
    width:80%;
}
.subpage-chatList-row td:nth-child(3){
    width:17%;
    padding-right: 10px;
}
.subpage-chatList-row td:nth-child(4){
    display: none;
    background: red;
    color: white;
    text-align: center;
    width: 10%;
}

.subpage-chatList-row .name {
	margin: 0px 0 10px;
	max-width: 220px;
	height: 26px;
	color: #323537;
	font-size: 18px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	line-height: 26px;
}

.subpage-chatList-row .msg {
	color: #535353;
	width: 70%;
	float: left;
	display: block;
	font-size: 12px;
}
.subpage-chatList-row .time {
	color: #444648;
	width: 100%;
	font-size: 10px;
	padding-bottom: 10px;
}
.subpage-chatList-row .drag {
    width: 23px;
	height: 25px;
	background: url("../images/chatroom/chat_list_hiddingmenu_icon_del_click.png");
	background-repeat: no-repeat;
	background-size: cover;
}
.subpage-chatList-row .drag:hover {
	background: url("../images/chatroom/chat_list_hiddingmenu_icon_del.png");
	background-repeat: no-repeat;
	background-size: cover;
}

/*
              ███╗   ██╗███████╗██╗    ██╗     ██████╗██╗  ██╗ █████╗ ████████╗          
              ████╗  ██║██╔════╝██║    ██║    ██╔════╝██║  ██║██╔══██╗╚══██╔══╝          
    █████╗    ██╔██╗ ██║█████╗  ██║ █╗ ██║    ██║     ███████║███████║   ██║       █████╗
    ╚════╝    ██║╚██╗██║██╔══╝  ██║███╗██║    ██║     ██╔══██║██╔══██║   ██║       ╚════╝
              ██║ ╚████║███████╗╚███╔███╔╝    ╚██████╗██║  ██║██║  ██║   ██║             
              ╚═╝  ╚═══╝╚══════╝ ╚══╝╚══╝      ╚═════╝╚═╝  ╚═╝╚═╝  ╚═╝   ╚═╝             
                                                                                         */

.newChat-nextStep, .newChatDetail-nextStep{
	position: absolute;
	right: 0px;
	top: 0px;
	cursor: pointer;
	width: 100px;
	height: 57px;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	line-height: 57px;
	background: #237bd7;
}
.newChat-nextStep:hover, .newChatDetail-nextStep:hover{
    background:rgb(0,86,138);
}

#page-newChat div:nth-child(1) .header-group-name div:nth-child(1),
#page-newChatDetail div:nth-child(1) .header-group-name div:nth-child(1){
	line-height: 44px;
	font-size: 22px;
}
.addMemListTitleGroup{
	width: 80px;
	height: 100%;
}
.newChat-list{
	background: rgb(223, 236, 244);
	min-height: 30px;
	color: #333;
	width: 100%;
}
.newChat-list .addMemListTitle{
	margin-left: 5px;
	text-align: center;
	width: 50px;
	display: inline-block;
}
.newChat-list .addMemListImg{
	background: url("../images/common/icon/icon_arrow_next_darkblue.png");
	width: 20px;
	height: 20px;
	display: inline-block;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	vertical-align: -20%;
}
.newChat-list .addMemList{
	display: inline-block;
	height: 100%;
	width: 99%;
}
.addMemList span{
	margin-right: 10px;
}


.newChat-selectAll{
	background: rgb(203, 220, 224);
	height: 30px;
	line-height: 30px;
}
/*custom checked box*/
.newChat-selectAll div{
	background: url("../images/common/icon/icon_check_gray.png");
	width: 20px;
	height: 20px;
	display: inline-block;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	margin: 5px 13px 0 15px;
	vertical-align: middle;
	float: left;
}
.newChat-selectAll .checked{
	background: url("../images/common/icon/icon_check_gray_check.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	width: 20px;
	height: 20px;
}
.newChat-selectAll span:nth-child(2){
	text-align: left;
	width: 52px;
	display: inline-block;
	float: left;
}
.newChat-selectAll span:nth-child(3){
	text-align: left;
	width: 100px;
	right: 0;
	display: inline-block;
	float: left;
}

.newChat-content .mem{
	height: 60px;
	border-style: solid;
	border-width: 0 0 1px 0;
	border-color: #abbabf;
	line-height: 60px;
}

.newChat-content .mem .checkbox{
	background: url("../images/common/icon/icon_check_round.png");
	width: 20px;
	height: 20px;
	display: inline-block;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	margin: -3px 12px 0 15px;
	vertical-align: middle;
}
.newChat-content .mem .checkbox[check="true"]{
	background: url("../images/common/icon/icon_check_round_check.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	width: 20px;
	height: 20px;
}

.newChat-content .mem img, .newChatDetail-content .mem img{
	width: 40px;
	height: 40px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
	border-radius: 5px;
	border-color: #abbabf;
	border-style: solid;
	border-width: 1px;
}

/*
              ██████╗ ███████╗████████╗ █████╗ ██╗██╗               
              ██╔══██╗██╔════╝╚══██╔══╝██╔══██╗██║██║               
    █████╗    ██║  ██║█████╗     ██║   ███████║██║██║         █████╗
    ╚════╝    ██║  ██║██╔══╝     ██║   ██╔══██║██║██║         ╚════╝
              ██████╔╝███████╗   ██║   ██║  ██║██║███████╗          
              ╚═════╝ ╚══════╝   ╚═╝   ╚═╝  ╚═╝╚═╝╚══════╝          
                                                                    */
.newChatDetail{
	width: 100%;
	height: 100px;
	background: rgb(208,208,208);
	padding-top: 15px;
}
.newChatDetail table{
	width: 94%;
	height: 90px;
	background: white;
	margin: auto;
	border-radius: 5px;
	box-shadow: 0px 1px 5px 0px rgba(50, 50, 50, 0.75);
	padding: 5px 17px 5px 10px;
}
.newChatDetail table .img{
	width: 60px;
	height: 100%;
}
.newChatDetail table .img img{
	width: 50px;
	height: 50px;
}
.newChatDetail table .title{
	display: inline-block;
	float:left;
}
.newChatDetail table .count{
	display: inline-block;
	float:right;
}
.newChatDetail table .input{
	width: 100%;
}

.newChatDetail-header{
	background: rgb(203, 220, 224);
	padding: 3px 20px;
}
.newChatDetail-content .mem{
	margin: 0px 20px;
	height: 60px;
	border-style: solid;
	border-width: 0 0 1px 0;
	border-color: #abbabf;
	line-height: 60px;
}


