::-webkit-scrollbar { 
    display: none; 
}

body { 
	margin: 0;
	padding: 0;
    background-image: url("../images/chatroom/chat_chetroom_bgimg.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
	background-size:cover;
}
 
/* 
              ██╗  ██╗███████╗ █████╗ ██████╗ ███████╗██████╗           
              ██║  ██║██╔════╝██╔══██╗██╔══██╗██╔════╝██╔══██╗          
    █████╗    ███████║█████╗  ███████║██║  ██║█████╗  ██████╔╝    █████╗
    ╚════╝    ██╔══██║██╔══╝  ██╔══██║██║  ██║██╔══╝  ██╔══██╗    ╚════╝
              ██║  ██║███████╗██║  ██║██████╔╝███████╗██║  ██║          
              ╚═╝  ╚═╝╚══════╝╚═╝  ╚═╝╚═════╝ ╚══════╝╚═╝  ╚═╝          
                                                                        */
#header {
	color: white;
	background: linear-gradient(to bottom, rgb(2,133,209) 0%,rgb(1,113,178) 100%);
	height:65px;
	left:0;
	position:fixed;
	width:100%;
	top:0;
	text-align:center;
	box-shadow: 0px 3px 20px 0px rgba(50, 50, 50, 0.45);
	z-index: 9999;
}
#header .title{
	font-size: 23px;
	margin:12px auto 5px;
}
#header .subTitle{
	font-size: 13px;
}
 
/* 
               ██████╗ ██████╗ ███╗   ██╗████████╗ █████╗ ██╗███╗   ██╗███████╗██████╗           
              ██╔════╝██╔═══██╗████╗  ██║╚══██╔══╝██╔══██╗██║████╗  ██║██╔════╝██╔══██╗          
    █████╗    ██║     ██║   ██║██╔██╗ ██║   ██║   ███████║██║██╔██╗ ██║█████╗  ██████╔╝    █████╗
    ╚════╝    ██║     ██║   ██║██║╚██╗██║   ██║   ██╔══██║██║██║╚██╗██║██╔══╝  ██╔══██╗    ╚════╝
              ╚██████╗╚██████╔╝██║ ╚████║   ██║   ██║  ██║██║██║ ╚████║███████╗██║  ██║          
               ╚═════╝ ╚═════╝ ╚═╝  ╚═══╝   ╚═╝   ╚═╝  ╚═╝╚═╝╚═╝  ╚═══╝╚══════╝╚═╝  ╚═╝          

*/
#container {
	margin:0 auto;
	overflow:auto;
	padding:80px 0;
}

#chat-contents{
	width: 84%;
	margin-left: 8%;
	margin-right: 8%;
}

/* ------ chat ---------*/
/* other's msg left(pic) */
.chat-msg-left img{
	display: inline-block;
	vertical-align: top;
	margin-right: 10px;
	height: 50px;
	width: 50px;
	overflow-y: hidden;
	border-radius: 8px;
    border:1px solid #abbabf;
}
/* other's msg right(name, msg, time) */
.chat-msg-left div:nth-child(2){
	display: inline-block;
}
/* other's msg name */
.chat-msg-left div:nth-child(2) .name{
	font-size: 14px;
	margin-bottom: 3px;
}
.chat-msg-right, .chat-msg-left{
	clear: both;
	margin-bottom: 20px;
}
.chat-msg-right{
	text-align: right;
} 
.chat-msg-left{
	text-align: left;
}

.chat-msg-time{
	display:inline-block;
	font-size: 8px;
	padding-left: 1em;
	padding-right: 1em;
}
.chat-msg-bubble-right, .chat-msg-bubble-left{
	padding: 0.5em 0.7em;
	border: 1px solid grey;
	border-radius: 1em 1em 1em 1em;
	display:inline-block;
	max-width: 65%;
	white-space: pre-line;
	position: relative;
	box-shadow: 0px 2px 6px rgba(50, 50, 50, 0.15);
}
.chat-msg-bubble-right{
	border-color: rgb(75,124,219);
	background: rgb(75,124,219);
	color: white;
	text-align: left;
}
.chat-msg-bubble-right:after, .chat-msg-bubble-left:after{
	content: '';
	position: absolute;
	border-style: solid;
	display: block;
	width: 0;
	top: 9px;
}
.chat-msg-bubble-right:after
{
	border-width: 3px 0 8px 17px;
	border-color: transparent rgb(75,124,219);
	right: -14px;
}
.chat-msg-bubble-left{
	border-color: #72DAFD;
	background: #72DAFD;
	margin-left: 11px;
}
.chat-msg-bubble-left:after
{
	border-width: 3px 17px 8px 0;
	border-color: transparent #72DAFD;
	left: -17px;
}
.chat-date-tag{
	display: table;
	padding: 0.2em 1em 0.2em 1em;
	margin: 20px auto;
	border: 1px solid grey;
	border-radius: 1em 1em 1em 1em;
	font-size: 8px;
}
/* ------ end chat -------------*/
 
/* 
              ███████╗ ██████╗  ██████╗ ████████╗███████╗██████╗           
              ██╔════╝██╔═══██╗██╔═══██╗╚══██╔══╝██╔════╝██╔══██╗          
    █████╗    █████╗  ██║   ██║██║   ██║   ██║   █████╗  ██████╔╝    █████╗
    ╚════╝    ██╔══╝  ██║   ██║██║   ██║   ██║   ██╔══╝  ██╔══██╗    ╚════╝
              ██║     ╚██████╔╝╚██████╔╝   ██║   ███████╗██║  ██║          
              ╚═╝      ╚═════╝  ╚═════╝    ╚═╝   ╚══════╝╚═╝  ╚═╝          
                                                                           */
#footer {
	background: linear-gradient(to bottom, white 0%,#E5E8EB 100%);
	border-top: 1px solid #666;
	bottom:0;
	min-height:60px;
	left:0;
	position:fixed;
	width:100%;
}

#footer .contents{
	margin:10px auto;
	text-align:center;
}

#footer .contents .input-other{
	display: inline-block;
	height: 30px;
	width: 30px;
	vertical-align: bottom;
	/*
	background: url("../images/chatroom/chat_textbar_icon_add.png");
	vertical-align: 14%;
	margin-top: 15px;
	*/
}
#footer .contents .input-emoji{
	display: inline-block;
	height: 30px;
	width: 30px;
	vertical-align: bottom;
	/*
	background: url("../images/chatroom/chat_textbar_icon_emoticon.png");
	vertical-align: 14%;
	height: 30px;
	*/
}
#footer .contents .input{
	width: 60%;
	border: 1px solid #aaa;
	border-style: solid;
	border-radius: 3px;
	box-shadow: inset 0 1px 4px rgba(0,0,0,.2);
	display: inline-block;
	text-align: left;
	vertical-align: bottom;
	min-height: 25px;
	margin: 0 5px;
	/*
	vertical-align: 50%;
	min-height: 30px;
	*/
}

#footer .contents .send{
	/*background: rgb(32,79,150);*/
	background: linear-gradient(to bottom, rgb(41,137,216) 24%,rgb(32,79,150) 100%);
	color:white;
	display: inline-block;
	border-style: hidden;
	border-radius: 6px;
	width: 60px;
	vertical-align: bottom;
	line-height: 25px;
	box-shadow: 0px 2px 6px rgba(50, 50, 50, 0.3);
	/*
	vertical-align: 56%;
	line-height: 30px;
	*/
}
#footer .contents .send:hover{
	background: linear-gradient(to bottom, rgb(45,152,239) 11%,rgb(43,105,198) 100%);
}

/*
              ████████╗███████╗███████╗████████╗          
              ╚══██╔══╝██╔════╝██╔════╝╚══██╔══╝          
    █████╗       ██║   █████╗  ███████╗   ██║       █████╗
    ╚════╝       ██║   ██╔══╝  ╚════██║   ██║       ╚════╝
                 ██║   ███████╗███████║   ██║             
                 ╚═╝   ╚══════╝╚══════╝   ╚═╝             
                                                          */
