::-webkit-input-placeholder{
	font-family: "微軟正黑體","Microsoft JhengHei","Heiti TC",arial,sans-serif;
    /*-webkit-font-smoothing: antialiased;*/
    font-weight: normal;
    font-size: 14px;
}

@font-face {
  font-family: "reg";
  /*src: url('../font/NotoSansCJKtc-Medium.otf'); */ /*微胖*/
  src: url('../font/NotoSansCJKtc-Regular.otf'); /*正常*/
}
/*標楷體*/
@font-face {
  font-family: "BiauKai";
  src: url('../font/BiauKai.ttf');
}

body { 
	margin: 0;
	padding: 0;
    background-image: url("../images/chatroom/chat_chetroom_bgimg.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
	background-size:cover;
	font-family: "微軟正黑體","Microsoft JhengHei","Heiti TC", "reg", arial,sans-serif;
    font-weight: normal;
}

.emoji{
	max-height: 20px;
}
 
/* 
              ██╗  ██╗███████╗ █████╗ ██████╗ ███████╗██████╗           
              ██║  ██║██╔════╝██╔══██╗██╔══██╗██╔════╝██╔══██╗          
    █████╗    ███████║█████╗  ███████║██║  ██║█████╗  ██████╔╝    █████╗
    ╚════╝    ██╔══██║██╔══╝  ██╔══██║██║  ██║██╔══╝  ██╔══██╗    ╚════╝
              ██║  ██║███████╗██║  ██║██████╔╝███████╗██║  ██║          
              ╚═╝  ╚═╝╚══════╝╚═╝  ╚═╝╚═════╝ ╚══════╝╚═╝  ╚═╝          
                                                                        */

#container {
	/*padding-bottom: 56px;*/
}
.ui-header {
	color: white;
	background: rgb(57, 148, 232);
	height:65px;
	left:0;
	position:fixed;
	width:100%;
	top:0;
	text-align:center;
	box-shadow: 0px 1px 20px 0px rgba(22, 103, 171, 0.45);
	z-index: 2000;
}
.ui-header .title{
	font-size: 22px;
	margin: 5px 10px 4px 10px;
	height: 30px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.ui-header .title .count, .ui-header .title .text{
	cursor: pointer;
}
.ui-header .subTitle{
	font-size: 14px;
}
.ui-header .extra{
	position: absolute;
	right: 9px;
	top: 18px;
	height: 30px;
	cursor: pointer;
}
.ui-header .extra img{
	height: 30px;
}
.ui-header .extra-content{
	width: 100%;
	background: white;
	padding-top: 9px;
	margin-top: 7px;
	white-space: nowrap;
	display: none;
}
.ui-header .extra-content:after{
    content: "";
	position: relative;
	bottom: 95px;
	left: -webkit-calc( 100% - 36px );
	border-style: solid;
	border-width: 0 12px 12px;
	border-color: #FFFFFF transparent;
	display: block;
	width: 0;
	z-index: 1;
}
.extra-content .btn:not(.disable){
	cursor: pointer;
}
.extra-content .btn{
	height: 70px;
	/*background: red;*/
	display: inline-block;
	width: 24%;
	text-align: center;
	padding-top: 5px;
}
.extra-content .btn .text{
	/*background: blue;*/
	color: #8daec5;
}
.extra-content .btn:not(.disable):hover .text{
	/*background: blue;*/
	color: #00a0e9;
}
.extra-content .btn .img{
	height: 40px;
	width: 100%;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50%;
}
/*.extra-content .btn:not(.disable):hover .img{
	
}*/
.extra-content .btn[data-type="exit"] .img{
	background-image: url(../images/icon/icon_chatroom_more_leave_noraml.png);
}
.extra-content .btn[data-type="edit"] .img{
	background-image: url(../images/icon/icon_chatroom_more_edit_normal.png);
}
.extra-content .btn[data-type="invite"] .img{
	background-image: url(../images/icon/icon_chatroom_more_invite_normal.png);
}
.extra-content .btn[data-type="album"] .img{
	background-image: url(../images/icon/icon_chatroom_more_albums_normal.png);
}

.extra-content .btn[data-type="exit"]:not(.disable):hover .img{
	background-image: url(../images/icon/icon_chatroom_more_leave_activity.png);
}
.extra-content .btn[data-type="edit"]:not(.disable):hover .img{
	background-image: url(../images/icon/icon_chatroom_more_edit_activity.png);
}
.extra-content .btn[data-type="invite"]:not(.disable):hover .img{
	background-image: url(../images/icon/icon_chatroom_more_invite_activity.png);
}
.extra-content .btn[data-type="album"]:not(.disable):hover .img{
	background-image: url(../images/icon/icon_chatroom_more_albums_activity.png);
}
 
/* 
               ██████╗ ██████╗ ███╗   ██╗████████╗ █████╗ ██╗███╗   ██╗███████╗██████╗           
              ██╔════╝██╔═══██╗████╗  ██║╚══██╔══╝██╔══██╗██║████╗  ██║██╔════╝██╔══██╗          
    █████╗    ██║     ██║   ██║██╔██╗ ██║   ██║   ███████║██║██╔██╗ ██║█████╗  ██████╔╝    █████╗
    ╚════╝    ██║     ██║   ██║██║╚██╗██║   ██║   ██╔══██║██║██║╚██╗██║██╔══╝  ██╔══██╗    ╚════╝
              ╚██████╗╚██████╔╝██║ ╚████║   ██║   ██║  ██║██║██║ ╚████║███████╗██║  ██║          
               ╚═════╝ ╚═════╝ ╚═╝  ╚═══╝   ╚═╝   ╚═╝  ╚═╝╚═╝╚═╝  ╚═══╝╚══════╝╚═╝  ╚═╝          

*/
/* chat.js video will change this height when playing */
.ui-container {
	/*margin: 40px auto 0; */
	overflow-y: auto;
	overflow-x: hidden;
	/* padding: 70px 0; */
	/* top: 40px; */
	/*padding-top: 66px;*/
	width: 100%;
	position: fixed;
	top: 65px;
	height: -webkit-calc( 100vh - 116px );
}

#chat-loading {
	margin-right: auto;
	margin-left: auto;
	width: 100%;
	height: 40px;
	object-fit: contain;
	text-align: center;
	margin-bottom: 30px;
	margin-top: 50px;
}
#chat-loading-grayArea{
	text-align: center;
	height: 120px;
	overflow: hidden;
	display: none;
	color: #495470;
}
#chat-loading-grayArea img{
	height: 50px;
	/*margin-bottom: 30px;*/
	/*border: 1px solid black;*/
}
#chat-loading-grayArea div{
	line-height: 30px;
	height: 30px;
	margin-top: 20px;
	margin-bottom: 20px;
	/*border: 1px solid black;*/
}
#chat-nomore{
	text-align: center;
	margin-top: 10px;
	color: #C0CBDF;
	font-size: 14px;
	cursor: default;
}

#chat-contents{
	width: 90%;
	margin-left: 4%;
	margin-right: 5%;
	min-height: -webkit-calc( 100vh - 150px );
}

#chat-toBottom{
	background: url("../images/chatroom/chat_chatroom_icon_scroll.png");
	position: fixed;
	float:right;
	right:5px;
	bottom: 60px;
	width: 50px;
	height: 50px;
	background-size: cover;
	z-index: 10;
}
#chat-toBottom:hover{
	background: url("../images/chatroom/chat_chatroom_icon_scroll_click.png");
	background-size: cover;
}

/* ------ chat ---------*/

/* other's msg left(pic) */
.chat-msg-left .aut{
	display: inline-block;
	vertical-align: top;
	margin-right: 10px;
	height: 40px;
	width: 40px;
	overflow-y: hidden;
	border-radius: 8px;
    border:1px solid #abbabf;
    object-fit: cover;
    cursor: pointer;
}
/* other's msg right(name, msg, time) */
.chat-msg-left .group{
	display: inline-block;
	max-width: 84%;
	word-wrap: break-word;
}
.chat-msg-left .group .msg-content{
	display: inline-block;
	min-height: 10px;
}
/* other's msg name */
.chat-msg-left .group .name{
	font-size: 13px;
	margin-bottom: 3px;
	color: rgb(8, 63, 79);
	font-weight: bolder;
}
.chat-msg-right, .chat-msg-left, .sys-msg{
	clear: both;
	margin-bottom: 20px;
}
.chat-msg-right, .chat-msg-left, .sys-msg > div{
	width: 100%;
    display: inline-block;
    vertical-align: -webkit-baseline-middle;
    padding: 5px 0;
}
.sys-msg > div{
    max-width: -webkit-calc( 100% - 58px);
}
.chat-msg-right table, .chat-msg-left table, .sys-msg table{
	display: inline-block;
	vertical-align: middle;
	margin-right: 8px;
	margin-left: 6px;
	margin-bottom: 5px;
	max-width: 60px;
	white-space: nowrap;
	line-height: 12px;
}
.chat-cnt{
	font-size: 12px;
	color: #93a4c3;
	cursor: pointer;
}

.chat-msg-right{
	text-align: right;
} 

.chat-msg-right table { position: relative;bottom: 14px; }
.chat-msg-right table tbody { position: absolute;right: 0px; }


.chat-msg-left{
	text-align: left;
}
.sys-msg{
	text-align: left;
	color: #6f7b98;
	border-radius: 1em 1em 1em 1em;
	font-size: 12px;
	background-color: rgba(123,187,236,0.4);
	padding: 0 8px 2px;
} 
.sys-msg .content{
	display: inline-block;
	vertical-align: middle;
} 

.chat-msg-time{
	font-size: 12px;
	color: #6c7faf;
	display: inline-block;
	vertical-align: middle;
}
.chat-msg-load-error, .chat-msg-load{
	background-size: contain;
	display: inline-block;
	/*vertical-align: middle;*/
	margin-right: 3px;
	background-repeat: no-repeat;
}
.chat-msg-load{
	width: 18px;
	height: 18px;
	background-image: url("../images/chatroom/chat_chatroom_icon_load.png");
}
.chat-msg-load-error{
	width: 23px;
	height: 23px;
	background-image: url("../images/chatroom/chat_chatroom_icon_nosent.png");
	margin-top: -11px;
}
.chat-msg-bubble-right, .chat-msg-bubble-left{
	padding: 0.3em 0.6em 0.3em 0.5em;
	border: 1px solid grey;
	border-radius: 1em 1em 1em 1em;
	display:inline-block;
	white-space: pre-line;
	position: relative;
	/*box-shadow: 0px 2px 6px rgba(50, 50, 50, 0.15);*/
}
.chat-msg-bubble-right{
	background: rgb(75,124,219);
	color: white;
	text-align: left;
	word-wrap: break-word;
	max-width: 63%;
	border-color: rgb(75,124,219);
}
.chat-msg-bubble-right:after, .chat-msg-bubble-left:after{
	content: '';
	position: absolute;
	border-style: solid;
	display: block;
	width: 0;
	top: 8px;
}
.chat-msg-bubble-right:after
{
	border-width: 3px 0 8px 17px;
	border-color: transparent rgb(75,124,219);
	right: -11px;
}
.chat-msg-bubble-left{
	border-color: #72DAFD;
	background: #72DAFD;
	margin-left: 5px;
	max-width: 76%;
}
.chat-msg-bubble-left:after
{
	border-width: 2px 13px 8px 0;
	border-color: transparent #72DAFD;
	left: -12px;
}
.chat-date-tag{
	display: table;
	padding: 0.2em 1em;
	margin: 35px auto;
	color: #495470;
	border: 2px solid #93a4c3;
	border-radius: 1em 1em 1em 1em;
	font-size: 12px;
}

.chat-msg-pic-right{
	display: inline-block;
	min-height: 120px;
} 
.chat-msg-pic-left{
	margin-left: 25px;
	display: inline-block;
	min-height: 120px;
}
.chat-msg-container-right, .chat-msg-container-left{
 	display:inline-block;
 	white-space: pre-line;
 	position: relative;
}
.chat-msg-container-right{
	text-align: center;
	word-wrap: break-word;
	max-width: 63%;
}
.chat-msg-container-right .download-link {float: right;}
.chat-msg-container-left{
 	margin-left: 5px;
 	max-width: 76%;
 }

.chat-msg-container-left .chat-file {background-color: #72DAFD;}
.chat-msg-container-left .download-link{float: left;}
.msg-img{
	border-radius: 6px;
	background-size: cover;
	background-position: center;
	background-image: url("../images/chatroom/chat_chatroom_icon_nophoto.png");
	border-color: #6c7faf;
	height: 150px;
	max-width: 200px;
 	object-fit: cover;
 	cursor: pointer;
 }

/*-------------- Audio ----------------*/

#mytrack{
  	display: none;
}
#audioplayer{
	width: 140px;
	/*white-space: normal;*/
	background: rgba(0,0,0,0);
	border-radius: 10px;
	padding: 2px 5px;
}
#audio-time{
	display: inline-block; 
	vertical-align: top;
	margin-top: 5px;
	padding: 0 10px;
	color: #585b6c;
}
#audio-play{
	display: inline-block; 
	width: 32px;
	height: 32px;
	cursor: pointer;
	/*background-image: url("../images/chatroom/chatroom_play.png");*/
	background-size: 28px 28px;
	background-repeat: no-repeat;
}

#audio-volume{
	display: inline-block; 
	width: 32px;
	height: 32px;
	cursor: pointer;
	/*background-image: url("../images/chatroom/chatroom_unmute.png");*/
	background-size: 28px 28px;
	background-repeat: no-repeat;
}
#audio-progress{
  	position: relative;
  	width: 140px;
	height: 5px;
	background: #585b6c;
	border-radius: 5px;
  	cursor: pointer;
}
#audio-bar{
	position: absolute;
	width: 0px;
	height: 100%;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	background: #aaffaa;
}

/*-------------- 影片start ----------------*/

.msg-video{
	width: 120px;
	max-height: 120px;
	height: 120px;
	content: "X";
	float: right;
}
.msg-video:not(.loaded){
	margin-bottom: 10px;
}
.msg-video:not(.loaded):before{ -webkit-transform: rotate(37deg) translate(13px,45px);}
.msg-video.loaded{
	cursor: pointer;
	overflow: hidden;
}
.msg-video.playing{
	top: 0%;
	left: 0;
	width: 100%;
	height: 100%; 
	max-height: 100%;
	position: fixed;
	background-color: rgba(0,0,0,0.9);
	z-index: 999;
}

/* videoContainer */
.msg-video .videoContainer{
	background: black;
	height: 75%;
	width: 100%;
	overflow: hidden;
}
.msg-video.playing .videoContainer{
	height: 100%;
	width: 100%;
}
.msg-video > img.bt-close {display: none;}
.msg-video.playing:hover > img.bt-close {
	display: block;
    position: absolute;
    top: 5px;
    right: 15px;
    width: 50px;
    opacity: 0.5;
}

.msg-video > a.bt-download {display: none;}
.msg-video.playing:hover > a.bt-download {
	display: block;
    position: absolute;
    bottom: 35px;
    right: 10px;
    width: 40px;
    opacity: 0.8;
}
.msg-video.playing:hover > a.bt-download > img {width: 40px}

.msg-video.playing .videoContainer:hover:after{
	opacity: 0.6;
	animation-name: fade-out;
    animation-duration: 2s;
    animation-direction: alternate;*/
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(.84,.01,1,.42);
}
@keyframes fade-out {
	from {opacity: 0.5;}
    to {opacity: 0.1;}
}
.msg-video:not(.loaded) .videoContainer{
	background-image: url("../images/chatroom/chat_message_status_icon_video.png");
	background-repeat: no-repeat;
	background-size: auto 50%;
	background-position: 50% 50%;
	background-color: lightgray;
}
.msg-video.loaded:not(.playing) .videoContainer:before{
	content: "";
	background-image: url("../images/chatroom/chat_message_status_icon_video.png");
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 80%;
	background-size: auto 50%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	z-index: 3;
}
.msg-video.loaded:not(.playing):hover .videoContainer:before{
	background-image: url("../images/chatroom/chat_message_status_icon_video_click.png");
}

/* video本體 */
.msg-video video{
	width: 100%;
	height: 100%;
}
.msg-video video{
	object-fit: cover;
}
.msg-video.playing video{
	object-fit: contain;
}

/* info */
.msg-video .info{
	height: 25%;
	width: 100%;
	/*margin-top: -1px;*/
}
.msg-video.playing .info{
	display: none;
}
.msg-video .info div{
	display: inline-block;
}
.msg-video .info .play{
	height: 100%;
	width: 25%;
	background-image: url("../images/chatroom/chat_chatroom_player_icon_play_left.png");
	background-size: auto 70%;
	background-repeat: no-repeat;
	background-position: 28% 50%;
	vertical-align: middle;
}
.msg-video .info .length{
	height: 100%;
	width: 75%;
	color: white;
	vertical-align: middle;
	line-height: 30px;
	text-align: center;
}

/* download */
.msg-video .download{
	display: none;
	position:absolute;
	bottom: 50px;
	right: 10px;
	width: 40px;
	opacity: 0.9;
}
/*左右分色區*/
.chat-msg-container-right .msg-video{
	border: 2px solid rgb(59,97,181);
}
.chat-msg-container-left .msg-video{
	border: 2px solid rgb(123,187,236);
}
.chat-msg-container-right .msg-video.playing, .chat-msg-container-left .msg-video.playing{
	border: none;
}
.chat-msg-container-left .msg-video .info .play{
	background-color: rgb(102,156,197);
}
.chat-msg-container-right .msg-video .info .play{
	background-color: rgb(59,97,181);
}
.chat-msg-container-left .msg-video .info .length{
	background-color: rgb(123,187,236);
}
.chat-msg-container-right .msg-video .info .length{
	background-color: rgb(81,125,223);
}

/*-------------- 影片end ----------------*/




.msg-sticker.right{
	text-align: right;
	display: inline-block;
}
.msg-sticker.left{
	text-align: left;
	display: inline-block;
}
.msg-sticker img{
	height: 120px;
}
.msg-audio{
	max-width: 100%;
}
.msg-map .img{
	background: url("../images/chatroom/chat_chatroom_icon_address.png");
	background-size: cover;
	display: inline-block;
	width: 30px;
	height: 30px;
	vertical-align: top;
	margin-top: 4px;
}
.msg-map > .text{
	border-radius: 10px;
	margin-right: 10px;
	text-decoration: underline;
	cursor:pointer;
	margin: 6px;
	display: inline-block;
	width: 80%;
}
.chat-msg-bubble-left .msg-map .text, .chat-msg-bubble-left a:link, .chat-msg-bubble-left a:visited{
	color: #335196;
}
.chat-msg-bubble-right .msg-map .text, .chat-msg-bubble-right a:link, .chat-msg-bubble-right a:visited{
	color: #fff283;
}

.chat-fail-status{
	margin-right: 10px;
	color: #887C7C;
	position: relative;
}

.chat-fail-status:after {
  content: "";
  position: absolute;
  background: url(../images/ldap/icon_approvement.png);
  width: 22px;
  height: 22px;
  background-size: 100%;
  right: 100px;
}

.chat-fail-status a {
	margin-top: 12px;
	text-decoration: none;
	color: #887C7C;
	cursor: pointer;
	font-size: 14px;
	padding: 0px 6px;
}

.chat-file {
	min-width: 13em;
	display: block;
	max-height: 100px;
	border: 1px solid #dddddd;
	background-color: rgb(75,124,219);
	background-repeat: no-repeat;
	border-radius: 12px;
	padding: 8px 10px;
	color: white;
	text-decoration: none;
	font-size: 14px;
	text-align: left;
}

.chat-file img{
	vertical-align: text-bottom;
  	padding-right: 3px;
}

.chat-file .download-link{
	display: none;
	/*float: right;*/
  	margin-top: 12px;
  	text-decoration: none;
  	color: #3893E0;
  	cursor: pointer;
}

.chat-file p{
	margin: 0px 0px 2px 0px;
  	font-weight: 600;
}

.chat-file p.name{
	font-size: 16px;
	font-weight: bolder;
}

.progress-container{
	text-align: right;
}

.chat-upload-progress {
	width: 100px;
	height: 5px;
	border-radius: 5px;
	position: relative;
	left: 15px;
}

.chat-upload-progress::-webkit-progress-bar {
	background-color: rgba(58, 38, 38, 0.21);
	border-radius: 8px;
}

.chat-upload-progress::-webkit-progress-value {
	background-color: rgb(24, 215, 49);
	border-radius: 8px;
}

.upload-percent {
	margin-left: 25px;
	vertical-align: sub;
	font-size: 13px;
}

.chat-upload-progress-cancel {
	background-color: transparent;
	color: red;
	border: 0;
	font-size: 16px;
	margin-left: 5px;
	width: 18px;
	padding: 0;
	vertical-align: middle;
	cursor: pointer;
	position: relative;
  	top: 4px;
}
/*.chat-msg-bubble-left.active, .chat-msg-bubble-right.active{
	background-color: rgb(246,63,12);
	border-color: transparent rgb(246,63,12);
	color: white;
}
.chat-msg-bubble-left.active::selection, .chat-msg-bubble-right.active::selection{
	background-color: transparent;
	color: rgb(255, 254, 141);
}*/
/*.chat-msg-bubble-left.active:after, .chat-msg-bubble-right.active:after
{
	border-color: transparent rgb(246,63,12);
}*/
/* ------ end chat -------------*/
 
/* 
              ███████╗ ██████╗  ██████╗ ████████╗███████╗██████╗           
              ██╔════╝██╔═══██╗██╔═══██╗╚══██╔══╝██╔════╝██╔══██╗          
    █████╗    █████╗  ██║   ██║██║   ██║   ██║   █████╗  ██████╔╝    █████╗
    ╚════╝    ██╔══╝  ██║   ██║██║   ██║   ██║   ██╔══╝  ██╔══██╗    ╚════╝
              ██║     ╚██████╔╝╚██████╔╝   ██║   ███████╗██║  ██║          
              ╚═╝      ╚═════╝  ╚═════╝    ╚═╝   ╚══════╝╚═╝  ╚═╝          
                                                                           */
#footer {
	background: linear-gradient(to bottom, white 0%,#E5E8EB 100%);
	border-top: 1px solid #666;
	bottom:-205px;
	/*max-height:70px;*/
	left:0;
	position:fixed;
	width:100%;
}

#footer .contents{
	margin: 7px auto 13px;
	text-align:center;
	cursor: default;
}

#footer .contents .input-other{
	display: inline-block;
	height: 30px;
	width: 30px;
	vertical-align: top;
	margin-bottom: 3px;
	background: url("../images/chatroom/chat_textbar_icon_add.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	cursor: pointer;
}
/*#footer .contents .input-other:hover{
	display: inline-block;
	height: 30px;
	width: 30px;
	vertical-align: bottom;
	margin-bottom: 3px;
	background: url("../images/chatroom/chat_textbar_icon_add_onclick.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}*/
#footer .contents .input-emoji{
	display: inline-block;
	height: 30px;
	width: 30px;
	vertical-align: top;
	margin-bottom: 3px;
	background: url("../images/chatroom/chat_textbar_icon_emoticon.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	cursor: pointer;
}
#footer .contents .input-emoji:hover{
	background: url("../images/chatroom/chat_textbar_icon_emoticon_onclick.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
#footer .contents .input-emoji.active{
	background: url("../images/chatroom/chat_textbar_icon_emoticon_activity.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

#footer .contents .input{
    width: -webkit-calc( 100% - 185px );
    border: 1px solid #888;
    border-style: solid;
    border-radius: 3px;
    display: inline-block;
    text-align: left;
    vertical-align: top;
    min-height: 27px;
    margin: 0 5px;
    transition: height 0.2s;
    outline: none;
    box-shadow: none;
    max-height: 200px;
    overflow-y: auto;
    padding: 3px 10px 3px;
    line-height: 25px;
    white-space: pre-wrap;
  	word-wrap: break-word;
}
#footer .contents .input:active,#footer .contents .input:focus-no{
	box-shadow: 0 0 3px 2px rgba(57, 148, 232,0.5);
	border: 1px solid rgba(57, 148, 232,0.7);
}

#footer .contents .send{
	background: rgb(52, 102, 197);
	color:white;
	display: inline-block;
	border-style: hidden;
	border-radius: 4px;
	width: 60px;
	vertical-align: top;
	line-height: 35px;
	/*box-shadow: 0px 2px 6px rgba(50, 50, 50, 0.3);*/
	height: 35px;
	/*
	vertical-align: 56%;
	line-height: 30px;
	*/
}
#footer .contents .send:hover{
	background: rgb(57, 148, 232);
}

/*
              ██████╗  ██████╗ ██████╗ ██╗   ██╗██████╗           
              ██╔══██╗██╔═══██╗██╔══██╗██║   ██║██╔══██╗          
    █████╗    ██████╔╝██║   ██║██████╔╝██║   ██║██████╔╝    █████╗
    ╚════╝    ██╔═══╝ ██║   ██║██╔═══╝ ██║   ██║██╔═══╝     ╚════╝
              ██║     ╚██████╔╝██║     ╚██████╔╝██║               
              ╚═╝      ╚═════╝ ╚═╝      ╚═════╝ ╚═╝               
                                                                  */
/* ======================= popup =================================*/
.popup {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.85);
  z-index: 2010;
  top: 0;
}

.popup-frame {
	position: relative;
	top: 30vh;
	z-index: 1901;
	border-radius: 3px;
	text-align: center;
	width: 300px;
	border: 1px solid white;
	text-shadow: none;
	overflow: auto;
	margin: 0 auto;
	background: black;
}

.popup-title {
	margin: 15px 0 5px;
	color: white;
	font-size: 18px;
	min-height: 1px;
}

.popup-confirm-area {
	cursor: pointer;
	display: flex;
}

.popup-cancel, .popup-confirm {
	background: rgb(233,233,233);
	color: rgb(86,178,254);
	height: 40px;
	font-size: 18px;
	line-height: 40px;
	-webkit-user-select: none;
	flex:1 ;
}

.popup-cancel {
	border-right: 1px solid black;
}

.popup-confirm:active, .popup-cancel:active {
	background: rgb(86,178,254);
	color: rgb(233,233,233);
}

.popup-screen {
	position: fixed;
	z-index:1900;
}

.popup-text {
	color: white;
	text-align: left;
	margin: 5px 25px 20px;
}

.popup-screen,.ajax-screen-lock , .screen-lock , .compose-dnd{
	display: none;
	width: 100%;
    height: 100%;
	left: 0;
	top: 0;
	background: black;
	opacity: 0.85;
}

.popup-blue {
	display: inline;
	margin: 0 5px;
	color: rgb(62,136,198);
	/*text-shadow: 0 0px rgb(102,176,238);*/
}

.ajax-screen-lock {
	position: fixed;
	background: #000;
	opacity: 0.5;
	z-index: 10000;
}

.screen-lock {
	position: fixed;
	background: #000;
	opacity: 0.8;
	z-index: 1700;
	max-height: 100vh;;
}

.compose-dnd {
	position: absolute;
	background: rgb(57, 148, 232);
	opacity: 0.3;
	z-index: 1700;
}

.timeline-dnd {
	display: none;
	position: absolute;
	top: 0;
	width: 100%;
	background: rgb(57, 148, 232);
	opacity: 0.3;
	z-index: 15;
}

.popup-close,.popup-close-cancel {
    margin: 0 10px;
    margin-top: 20px;
    display: inline-block;
    box-shadow: 0 1px 5px #000;
    height: 35px;
    width: 70px;
    text-align: center;
    line-height: 35px;
    border-radius: 2px;
    text-decoration: blink;
    color: black;
}

.popup-close:hover {
	background: #f9f9f9;
}


/*
      ███████╗ ███████╗ ██╗     ███████╗ ██████╗████████╗    ███╗   ███╗███████╗███╗   ███╗      
      ██╔════╝ ██╔════╝ ██║     ██╔════╝██╔════╝╚══██╔══╝    ████╗ ████║██╔════╝████╗ ████║      
████  ███████╗ █████╗   ██║     █████╗  ██║        ██║       ██╔████╔██║█████╗  ██╔████╔██║█████╗
      ╚════██║ ██╔══╝   ██║     ██╔══╝  ██║        ██║       ██║╚██╔╝██║██╔══╝  ██║╚██╔╝██║╚════╝
      ███████║ ███████╗ ███████╗███████╗╚██████╗   ██║       ██║ ╚═╝ ██║███████╗██║ ╚═╝ ██║      
      ╚══════╝ ╚══════╝ ╚══════╝╚══════╝ ╚═════╝   ╚═╝       ╚═╝     ╚═╝╚══════╝╚═╝     ╚═╝      

*/
#page-chat{
	background-color: transparent;
	-webkit-box-shadow: none;
}
.ui-page{
	background-color: white;
	-webkit-box-shadow: 0px 1px 12px 0px rgba(50, 50, 50, 0.75);
	display: block;
	position: absolute;
	width: 100%;
	min-height: 100%;
	background: rgb(208,208,208);
}
.page-back {
	height: 40px;
	width: 40px;
	float: left;
	margin: 16px 0 0 5px;
	cursor: pointer;
}
.page-back img {
	width: 30px;
}
.header-title{
	text-align: left;
	width: 95%;
	margin: 9px 0px;
	height: 51px;
	line-height: 44px;
	font-size: 18px;
}

.header-title span{
	margin-left: 10%;
}

.header-title img{
	float: right;
	cursor: pointer;
	width: 30px;
	position: relative;
	top: 10px;
}

.header-title div{
	display: inline-block;
}
.page-next, .newChatDetail-nextStep{
	position: absolute;
	right: 0px;
	top: 0px;
	cursor: pointer;
	width: 100px;
	height: 100%;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	line-height: 62px;
	/*background: #237bd7;*/
}
.page-next:not(.disable):hover, .newChatDetail-nextStep:not(.disable):hover{
	/*background: rgb(0,86,138);*/
	font-size: 17px;
}
.page-next.disable,.newChatDetail-nextStep.disable{
	color: lightgray;
	cursor: default;
}

/* coachmark */
.obj-coach-noMember{
	background: #d0d0d0;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 65px;
}
.obj-coach-noMember .container{
	text-align: center;
	margin-top: 120px;
}

.obj-coach-noMember img{
	width: 200px;
}

.obj-coach-noMember div{
	
}

#page-selectMem .bottom {
	width: 99%;
	text-align: center;
	z-index: 2;
	display: none;
}

/* content */
.obj-selected{
	background: #eaf8ff;
	/* white-space: nowrap; */
	min-height: 30px;
	font-size: 18px;
	line-height: 30px;
	position: fixed;
	width: 100%;
	z-index: 10;
	/* max-height: 80px; */
	padding-top: 8px;
	padding-bottom: 8px;
	border-bottom: rgb(237,238,240) 1px solid;
}
.obj-selected .title{
	color: #b4b4b4;
	display: inline-block;
	vertical-align: top;
	position: relative;
	top: 3px;
	left: 11px;
}
.obj-selected .title img {
	width: 25px;
	position: relative;
	top: 3px;
	/* left: 3px; */
}
.obj-selected .title div {
	display: inline-block;
}
.obj-selected .list {
	display: inline-block;
	width: 70%;
	max-height: 100px;
	text-overflow: ellipsis;
	overflow-y: auto;
	min-height: 30px;
	color: #4092ef;
	position: relative;
	top: 3px;
	left: 10px;
	cursor: pointer;
}
.on-search .obj-selected .list .text {
	color: #b4b4b4;
	margin-left: 5px;
}
.obj-selected .list .text {
    margin-left: -6px;
}
.obj-selected .list .text span {
    margin-right: 10px;
}
.obj-selected .list .search {
	display: inline-block;
	vertical-align: top;
	margin-left: 2px;
	outline: 0px solid transparent;
	padding-left: 3px;
}
.obj-selected .clear {
	display: inline-block;
	width: 30px;
	background: url("../images/icon/icon_search_clean.png");
	background-repeat: no-repeat;
	height: 30px;
	background-size: cover;
	float: right;
	margin-right: 7px;
	margin-top: 5px;
}

.select-all{
	background: rgb(203, 220, 224);
	height: 40px;
	line-height: 40px;
	font-size: 18px;
	margin-top: 44px;
	position: fixed;
	width: 100%;
}
.select-all div{
	background: url("../images/common/icon/icon_check_gray.png");
	width: 30px;
	height: 30px;
	display: inline-block;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	margin: 5px 13px 0 15px;
	vertical-align: middle;
	float: left;
}
.select-all span:nth-child(2){
	text-align: left;
	width: 140px;
	display: inline-block;
	float: left;
	white-space: nowrap;
}
.select-all span:nth-child(3){
	text-align: right;
	width: 140px;
	/* right: 0; */
	display: inline-block;
	float: right;
	margin-right: 10px;
	white-space: nowrap;
}

.obj-cell-area {
	z-index: 1;
	position: fixed;
	width: 100%;
	overflow-y: auto;
	height: 100%;
	background: white;
}
.obj-cell-area hr{
	margin: 5px 0 1px 150px;
}

.obj-cell {
	/* display: -webkit-box; */
	height: 70px;
	/* position: relative; */
	margin-top: 5px;
	margin-bottom: 5px;
}
.obj-cell:last-child {margin-bottom: 20px;}

.obj-cell.subgroup, .obj-cell.fav {
	display: inline-block;
	width: 90%;
	border-bottom: 0px;
	vertical-align: middle;
	cursor: pointer;
}

.subgroup-parent {
	width: 100%;
	height: 80px;
}

.obj-cell._2 {padding-left: 65px;}

.obj-cell-subTitle {
	background: #f7f8f9;
	height: 80px;
	line-height: 80px;
}


.obj-cell-subTitle div {z-index: -1;}
.obj-cell-subTitle .text {
	margin-right: 20px;
	/* position: relative; */
	display: inline-block;
	float: right;
	line-height: 50px;
	/* top: 10px; */
	margin-top: 30px;
	color: #b5b5b5;
}

.obj-cell-subTitle-chk {
	margin-left: 22px;
	display: inline-block;
}
.obj-cell-subTitle-chk .select{
	/*display: inline-block;*/
	margin-left: 14px;
	display: inline-block;
	font-size: 20px;
	color: #4092ef;
}
.obj-cell-subTitle-chk .img {
	width: 35px;
	height: 80px;
	vertical-align: middle;
	background: url("../images/common/icon/button_rideobutton_none.png");
	display: inline-block;
	background-size: contain;
	background-repeat: no-repeat;
	background-position-y: 43%;
}
.obj-cell-subTitle-chk .img.chk {
	width: 35px;
	height: 80px;
	vertical-align: middle;
	background: url("../images/common/icon/button_rideobutton_red_done.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position-y: 43%;
}

.obj-cell-arrow{
	display: inline-block;
	width: 10%;
	text-align: center;
	height: 80px;
	vertical-align: middle;
	line-height: 80px;
	cursor: pointer;
	color: rgb(180,180,180);
	background-image: url("../images/common/icon/icon_arrow_down.png");
	background-size: 30px;
	background-repeat: no-repeat;
	background-position: 50%;
}
.obj-cell-arrow.open{
	background-image: url("../images/common/icon/icon_arrow_top.png");
}

.obj-cell-chk {
	display: inline-block;
	margin-left: 20px;
	/* margin-top: -25px; */
	vertical-align: super;
	min-width: 35px;
}

.obj-cell-chk .img {
	width: 35px;
	height: 35px;
	background: url("../images/common/icon/button_rideobutton_none.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position-y: 50%;
}
.obj-cell-chk .img.chk {
	width: 35px;
	height: 35px;
	background: url("../images/common/icon/button_rideobutton_red_done.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position-y: 50%;
}

.obj-cell-user-pic {
	margin-left: 20px;
	display: inline-block;
	top: 9px;
	height: 60px;
	width: 60px;
	overflow: hidden;
	border-radius: 5px;
	margin-top: 5px;
}
.obj-cell-user-pic.namecard, .obj-cell-user-pic .namecard{
	cursor: pointer;
}

.obj-cell-user-pic img {
	width: 60px;
	object-fit: cover;
	height: 60px;
}

.obj-cell-user-data, .obj-cell-subgroup-data {
	width: 50%;
	display: inline-block;
	vertical-align: bottom;
	height: 67px;
	margin-left: 10px;
}

.obj-cell-user-data.extra .obj-user-name {
	line-height: 35px;
	margin-top: 4px;
}

.obj-user-name {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	outline: 0!important;
	font-size: 18px;
	/* margin-left: 10px; */
	line-height: 67px;
}

.obj-cell-user-pic {
	margin-left: 20px;
	display: inline-block;
	top: 9px;
	height: 60px;
	width: 60px;
	overflow: hidden;
	border-radius: 5px;
	margin-top: 5px;
}




#chat-leaveGroup{
	text-align: left;
	color: #6f7b98;
	border-radius: 1em 1em 1em 1em;
	font-size: 12px;
	background-color: rgba(123,187,236,0.4);
	padding: 5px 15px;
	margin: 50px 15px 0 20px;
} 
#page-tab-object .ui-header{
	z-index: 1000;
}



/*
███╗   ██╗███████╗██╗    ██╗    ██████╗██╗  ██╗ █████╗ ████████╗   ██████╗ ███████╗████████╗ █████╗ ██╗██╗               
████╗  ██║██╔════╝██║    ██║   ██╔════╝██║  ██║██╔══██╗╚══██╔══╝   ██╔══██╗██╔════╝╚══██╔══╝██╔══██╗██║██║               
██╔██╗ ██║█████╗  ██║ █╗ ██║   ██║     ███████║███████║   ██║      ██║  ██║█████╗     ██║   ███████║██║██║         █████╗
██║╚██╗██║██╔══╝  ██║███╗██║   ██║     ██╔══██║██╔══██║   ██║      ██║  ██║██╔══╝     ██║   ██╔══██║██║██║         ╚════╝
██║ ╚████║███████╗╚███╔███╔╝   ╚██████╗██║  ██║██║  ██║   ██║      ██████╔╝███████╗   ██║   ██║  ██║██║███████╗          
╚═╝  ╚═══╝╚══════╝ ╚══╝╚══╝     ╚═════╝╚═╝  ╚═╝╚═╝  ╚═╝   ╚═╝      ╚═════╝ ╚══════╝   ╚═╝   ╚═╝  ╚═╝╚═╝╚══════╝          
                                                                                                                             */
.newChatDetail{
	width: 100%;
	height: 100px;
	background: rgb(208,208,208);
	padding-top: 15px;
}
.newChatDetail table{
	width: 94%;
	height: 90px;
	background: white;
	margin: auto;
	border-radius: 5px;
	box-shadow: 0px 1px 5px 0px rgba(50, 50, 50, 0.75);
	padding: 5px 17px 5px 10px;
}
.newChatDetail table .img{
	width: 65px;
	height: 100%;
}
.newChatDetail table .img img{
	width: 60px;
	height: 60px;
}
.newChatDetail table .title{
	display: inline-block;
	float: left;
	font-size: 18px;
	line-height: 20px;
}
.newChatDetail table .count{
	display: inline-block;
	float:right;
	font-size: 18px;
	line-height: 20px;
}
.newChatDetail table .input{
	width: 100%;
	font-size: 14px;
	line-height: 23px;
	margin-top: 5px;
}

.newChatDetail-header{
	background: rgb(203, 220, 224);
	padding: 3px 20px;
	font-size: 18px;
	cursor: pointer;
}
.newChatDetail-header:not(.hide):before{
	content: "-";
	margin-left: 3px;
	margin-right: 4px;
}
.newChatDetail-header.hide:before{
	content: "+";
	margin-right: 2px;
}

.newChatDetail-content{
	min-height: 20px;
	background-color: white;
}

.newChatDetail-content .row{
	margin: 0px 20px;
	height: 80px;
	line-height: 80px;
	font-size: 18px;
}
.newChatDetail-content .row:not(:last-child){
	border-bottom: 1px solid #abbabf;
}
.newChatDetail-content .row > img {
	width: 60px;
	height: 60px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
	border-radius: 5px;
	border-color: #abbabf;
	border-style: solid;
	border-width: 1px;
	object-fit: cover;
	margin-top: -4px;
}
#page-newChatDetail .ui-header .title{
	margin-right: 50px;
	margin-left: 50px;;
}


#page-edit-preview .ui-container {
	height: -webkit-calc( 100vh - 70px );
}
#page-edit-preview .newChatDetail-header{
	cursor: default;
}

#page-edit-preview .edit-nextStep{
	color: #B6DCFF;
	position: absolute;
	right: 12px;
	top: 0px;
	/*width: 100px;*/
	height: 100%;
	text-align: right;
	font-size: 16px;
	font-weight: bold;
	line-height: 62px;
	cursor: default;
}
#page-edit-preview .edit-nextStep.ready{
	color: white;
	cursor: pointer;
}
#page-edit-preview .edit-nextStep.ready:hover{
	font-size: 17px;
}

#page-edit-preview .newChatDetail table .img{
	position: relative;
	cursor: pointer;
}
#page-edit-preview .newChatDetail table .img img{
	border-radius: 5px;
	object-fit: cover;
}
#page-edit-preview .newChatDetail table .img:after{
	content: "編輯";
    position: absolute;
    bottom: 11px;
    width: 60px;
    height: 20px;
    left: 1px;
    background-color: black;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: white;
    text-align: center;
    font-size: 12px;
    line-height: 19px;
    opacity: 0.7;
}
#page-edit-preview .newChatDetail table .img:hover:after{
    opacity: 1;
}
.preview-add-container{
	position: absolute;
    bottom: 0;
    width: -webkit-calc( 100% - 20px );
    padding: 10px;
    height: 50px;
    background-color: rgb(208,208,208);
}
.preview-add{
    width: 100%;
    height: 100%;
    color: white;
    background-color: #61B2FD;
    border-radius: 5px;
    line-height: 50px;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
}
.preview-add:hover{
    background-color: #3994E8;
}

.chatRoomSetting{
	width: 94%;
    margin: 0 auto;
    margin-top: 15px;
}

.chatRoomSetting div{
	line-height: 3;
    padding-left: 17px;
    background: white;
}

.assignAdmin {
	margin-left: -15px;
	min-height: -webkit-calc(100vh - 304px);
}

.inviteSetting h4{
	color: white;
    margin-left: 1px;
    height: 10px;
}

.pushSwitch {
	border-bottom: 4px solid rgb(208,208,208);
}

.roomActionBtn {
	float: right;
	margin: -7px 15px 0 0;
	cursor: pointer;
	color: black;
	height: 30px;
}

.saveRoomEdit {
	display: none;
	cursor: inherit;
	color: grey;
}

.saveRoomEdit.ready{
	cursor: pointer;
	color: black;
}

.chatroomIntro{
	padding-top: 9px;
}

.chatroomImage {
	display: inline-block;
	position: relative;
    margin: 10px 0 0 -32px;
    width: 65px;
    text-align: center;
}

.chatroomImage.uploadImg {
	cursor: pointer;
}

.chatroomImage.uploadImg::before{
	content: "編輯";
    position: absolute;
    bottom: 17px;
    width: 65px;
    left: 18px;
    background: rgba(111, 123, 152, 0.28);
    opacity: 0.7;
    height: 20px;
    line-height: 23px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.chatroomImage:hover:before{
	opacity: 1;
}

.chatroomIntro .groupImage {
	width: 65px;
    height: 65px;
    border: 1px solid #dddddd;
    border-radius: 10px;
    object-fit: cover;
	/*margin: 10px 0px 0px -32px;*/
}


.chatroomNameInput{
	display: inline-block;
    border: 0;
    width: -webkit-calc( 100% - 123px );
    vertical-align: 20px;
    margin-left: 10px;
    height: 26px;
    padding-left: 10px;
}

input.editable{
	border: 1px solid #dddddd;
}

.adminTable {
	width: 97%;
	white-space: nowrap;
}

.memberName {
	text-align: left;
	width: 82%;
}

td.memberName img{
	width: 50px;
 	height: 50px;
  	border-radius: 40px;
  	margin-left: 12px;
}

td.memberName span{
	vertical-align: top;
  	margin-left: 20px;
}

.adminCheckBox input{
	  width: 40px;
}

.adminCheckBox {
	text-align: right;
	vertical-align: top;
	display: none;
}

.adminCheckBox [type="checkbox"] {
   display: none; 
}

.adminCheckBox label {
	display: inline-block;
  	position: relative;
 	cursor: pointer;
  	padding-left: 22px;
	margin-right: 15px;
	font-size: 18px;
}

.adminCheckBox label:before {
    display: inline-block;
    content: "";
    width: 18px;
    height: 14px;
    font-weight: bold;
    position: absolute;
    left: 0;
    bottom: -7px;
    border: 3px solid #b4b4b4;
    border-radius: 3px;
}

.adminCheckBox input[type=checkbox]:checked + label:before {
    content: "✔";
    width: 24px;
    height: 20px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    color: white;
    text-align: center;
    line-height: 18px;
    background: rgb(57, 148, 232);
    transition: all .2s;
    border: 0;
}
/**************************************************************************  Swtich 開關按鈕 ***********************************************************************************/

.onoffswitch {
    position: relative; 
    width: 43px;
    float: right;
    margin: 18px 10px 0 0;
    -webkit-user-select:none; 
    -moz-user-select:none; 
    -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; 
    overflow: hidden; 
    cursor: pointer;
    border-radius: 20px;
}
.onoffswitch-inner {
    display: block; 
    width: 200%; 
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; 
    float: left; 
    width: 50%; 
    height: 17px; 
    padding: 0; 
    line-height: 25px;
    font-size: 14px; 
    color: white; 
    font-family: Trebuchet, Arial, sans-serif; 
    font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "";
    padding-left: 10px;
    background-color: #B8DEFF; 
    color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "";
    padding-right: 10px;
    background-color: rgba(207, 214, 217, 0.36); 
    color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; 
    width: 20px; 
    margin: -3px;
    background: #BAB3B3;
    position: absolute; 
    top: 0; 
    bottom: 0;
    right: 28px;
    border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}
#pushSwitch:checked + .onoffswitch-label .onoffswitch-inner, #stickySwitch:checked + .onoffswitch-label .onoffswitch-inner, #inviteSwitch:checked + .onoffswitch-label .onoffswitch-inner{
    margin-left: 0;
}
#pushSwitch:checked + .onoffswitch-label .onoffswitch-switch, #stickySwitch:checked + .onoffswitch-label .onoffswitch-switch, #inviteSwitch:checked + .onoffswitch-label .onoffswitch-switch{
    right: 0px; 
    background-color: #5EB5FF; 
}

/* 圖片dialog */
#galleryModal {
    position: fixed; 
    z-index: 2000; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.9);
    -webkit-user-select: none; 
}

#galleryModal .gallery-contaniner {
    width: 90%;
    height: 90%;
    margin: 3% auto;
    position: relative;
    overflow: hidden;
}
#galleryModal .close {
    color: white;
    font-size: 25px;
    position: fixed;
    right: 0;
    top: 0;
    cursor: pointer;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 45px;
    z-index: 1;
}

#galleryModal figure.gallery-contaniner.original-size {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: scroll;
}

#galleryModal figure.gallery-contaniner .img-container {
    width: 90vw;
    height: 90vh;
    cursor: -webkit-zoom-in; 
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

#galleryModal figure.gallery-contaniner .img-container.zoomOut {
    cursor: -webkit-zoom-out; 
    overflow: scroll;
    display: block; 
    text-align: left;
}

#galleryModal figure.gallery-contaniner .img-container.zoomOut::-webkit-scrollbar {width: 0;}

#galleryModal .arrowBtn:hover {opacity: 1;}
#galleryModal .arrowBtn {
	position: fixed;
	bottom: 25vh;
	width: 50px;
	height: 50vh;
	cursor: pointer;
	opacity: 0.5;
}

#galleryModal .arrowBtn .draw:before {
    content: "";
    position: absolute;
    border: 1px solid white;
    height: 0px;
    width: 20px;
    border-radius: 10px;
}

#galleryModal .arrowBtn .draw:after {
    content: "";
    position: absolute;
    border: 1px solid white;
    height: 0px;
    width: 20px;
    border-radius: 10px;
}

#galleryModal .preBtn {left: 5px;}
#galleryModal .preBtn .draw {
  width: 1px;
  background: rgb(134, 134, 134);
  height: 4px;
  position: relative;
  top: 25vh;
  left: 10px;
}
#galleryModal .preBtn .draw:before {left: -7px; top: -7px; transform: rotateZ(300deg);}
#galleryModal .preBtn .draw:after {left: -7px; top: 10px; transform: rotateZ(60deg);}

#galleryModal .nextBtn {right: -5px;}
#galleryModal .nextBtn .draw {
  width: 1px;
  background: rgb(134, 134, 134);
  height: 4px;
  position: relative;
  top: 25vh;
  left: 30px;
}
#galleryModal .nextBtn .draw:before {right: -7px; top: -7px; transform: rotateZ(60deg);}
#galleryModal .nextBtn .draw:after {right: -7px; top: 10px; transform: rotateZ(300deg);}

#galleryModal #caption {
    position: fixed;
    bottom: 20px;
    left: calc(50% - 13px);
    color: white;
}

#galleryModal .gallery-contaniner:hover a div {
    content: "";
    width: 50px;
    height: 50px;
    background-image: url("../images/dl.png");
    background-size: contain;
    position: absolute;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
    opacity: 0.8;
    z-index: 1;
}

#galleryModal .currentImg {
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
}

#galleryModal .currentImg.zoomIn {
    max-width: 200%;
    max-height: 200%;
}


div.chat-msg section.fail {
    width: 200px;
    display: block;
    background-image: url(../images/alert-circle.png);
    background-size: 30px;
    background-color: rgb(90, 90, 90);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 17px;
    color: white;
    text-align: center;
    padding: 50px 10px 10px;
}