
/* =============================== page timeline ==================================== */
/*
body{
	overflow: hidden;
}
*/

.screen-lock {
	overflow: hidden;
}
/* ======================= popup =================================*/
.popup{
	display: none;
}

.popup-frame {
	position: fixed;
	z-index: 100000;
	border-radius: 3px;
	top: 200px;
	text-align: center;
	width: 300px;
	border: 1px solid white;
	text-shadow: none;
	overflow: auto;
}

.popup-title {
	margin: 15px 0 5px;
	color: white;
	font-size: 18px;
	min-height: 1px;
}

.popup-confirm-area {
	cursor: pointer;
}

.popup-cancel, .popup-confirm {
	background: rgb(233,233,233);
	color: rgb(86,178,254);
	height: 40px;
	font-size: 18px;
	line-height: 40px;
	-webkit-user-select: none;
}

.popup-confirm {
	width: 149px;
	float: right;
}

.popup-cancel {
	float: left;
	width: 149px;
}

.full-width {
	width:100%;
}

.popup-confirm:active, .popup-cancel:active {
	background: rgb(86,178,254);
	color: rgb(233,233,233);
}

.popup-screen {
	z-index:1000;
}

.popup-text {
	color: white;
	text-align: left;
	margin: 5px 25px 20px;
}

.popup-screen,.ajax-screen-lock {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: black;
	opacity: 0.85;
}

.popup-blue {
	display: inline;
	margin: 0 5px;
	color: rgb(62,136,198);
	text-shadow: 0 0px rgb(102,176,238);
}

.ajax-screen-lock {
	background: #000;
	opacity: 0.5;
	z-index: 1000;
}

.popup-close,.popup-close-cancel {
    margin: 0 10px;
    margin-top: 20px;
    display: inline-block;
    box-shadow: 0 1px 5px #000;
    height: 35px;
    width: 70px;
    text-align: center;
    line-height: 35px;
    border-radius: 2px;
    text-decoration: blink;
    color: black;
}

.popup-close:hover {
	background: #f9f9f9;
}

/* ==================================================== */

.st-user-pic{
	height: 60px;
	overflow-y: hidden;
	margin: 10px;
	width: 60px;
	border-radius: 8px;
    border:1px solid #abbabf;
}

.st-user-pic, .st-sub-name, .st-sub-time {
    float: left;
    cursor:default;
}

.side-menu-btn {
	height: 40px;
	width: 40px;
	float: left;
	margin: 5px 0 0 5px;
	cursor: pointer;
}

.header-group-name ,.header-cp-object{
	text-align: center;
	width: 50%;
	margin: auto auto;
	height: 50px;
}

/*設定head bar後符合data-role=header的div上面留點空位*/
#page-group-main > div[data-role=header] {
    padding-top: 5px;
}
/*設定head bar後div裡的第1個div文字大小（主標題）*/
/*.header-group-name div:nth-child(1) {*/
.page-title{
    font-size: 23px;
    width: 80%;
    margin: auto auto;
}
/*設定head bar後div裡第2個div文字大小（副標題）*/
.page-title-2 {
	font-size: 13px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	color: #eee;
}

/* =============================== center frame ===================================== */

.main{
	height:1136px;
    width:640px;
    margin:auto;
    margin-top:-20px;
}

.st-navi-subarea.main, .st-navi-subarea.other{
	width: 25%;
	text-align: center;
    padding: 8px 0;
}

.st-navi-subarea.main {
	background: rgb(73,85,110);
	color: #858fac;
	max-height: 51px;
	position: relative;
	top: 20px;
	padding-top: 9px;
}
.subpage-chat .ui-select, .te-next{
	display:none;
}

.st-navi-area {
    display: flex;
    /*border: 2px solid rgb(73,85,110);*/
    cursor:pointer;
}

.color-white{
	color:white;
}

.st-feedbox-area {
    margin: 15px 10px;
}

.ui-header.ui-bar-c.ui-header-fixed {
	min-height: 55px;
}
.ui-bar-c {
	background: rgb(1,102,161);
	border-color: rgb(50,73,105);
	color: white;
	text-shadow: 0 0;
}
.ui-panel-animate.ui-panel-content-fixed-toolbar-position-left.ui-panel-content-fixed-toolbar-open.ui-panel-content-fixed-toolbar-display-push{
	margin:0;
}
.ui-body-c, .ui-body-c input, .ui-body-c select,textarea, .ui-body-c button ,.ui-btn-up-d, .ui-btn-hover-d, .ui-btn-down-d, .ui-body-c .ui-link, .ui-btn-up-c{
    font-family: "微軟正黑體","Microsoft JhengHei";
    -webkit-font-smoothing: antialiased;
    font-weight: normal;
}
.ui-body-c .main .ui-link {
    color: #f6f6f6;
}
.ui-body-c .main .ui-link:hover {
    color: #f6f6f6;
}

.ui-body-c .main .ui-link:visited {
    color: #f6f6f6;
}

.ui-body-c input, .ui-body-c a {
}

/*
         ▄███▄▄      ██   ██      ▄███▄      ██████        
▄▄▄▄▄   ██▀  ▀▀      ██▄▄▄██     ██▀ ▀██       ██    ▄▄▄▄▄
▀▀▀▀▀   ██▄  ▄▄      ██▀▀▀██     ███████       ██    ▀▀▀▀▀
         ▀███▀▀      ██   ██     ██   ██       ██         */

#chat-contents{
	width: 93%;
	padding-left: 3%;
}
.subpage-chat {
	min-height: 615px;
	overflow: hidden;
	background: url("../images/chatroom/chat_chetroom_bgimg.png") center no-repeat fixed;
	background-size: cover;
}

/* =========================== footer ============================== */
.chat-footer{
	/*line-height: 3em;
	background-size: 100%;
	*/
	background: url("../images/chatroom/chat_textbar_bgimg.png") no-repeat center center fixed;
	background-color: white;
	width: 100%;
	padding: 10px 10px 10px 0;
	text-align: center;
}

#chat-input-other{
	width: 30px;
}

#chat-input-emoji{
	width: 30px;
}

#chat-input{
	vertical-align: 50%;
	width: 63%;
	min-height: 1em;
	padding: 5px;
	border: 1px solid #aaa;
	border-style: solid;
	border-radius: 3px;
	box-shadow: inset 0 1px 4px rgba(0,0,0,.2);
	display: inline-block;
	color:black;
	text-align: left;
}

#chat-send-btn{
	/*
	background: url("../images/chatroom/chat_textbar_frame_bt.png") no-repeat;
	background-size:100% 100%;
	width: 50px;
	*/
	background: rgb(32,79,150);
	color: white;
	height: 25px;
	display: inline-block;
	vertical-align: 44%;
	border-style: hidden;
	border-radius: 6px;
	padding: 1px 5px 0px 5px;
}

::-webkit-scrollbar { 
    display: none; 
}

/* other's msg left(pic) */
.chat-msg-left img{
	display: inline-block;
	vertical-align: top;
	margin-right: 10px;

	height: 50px;
	width: 50px;
	overflow-y: hidden;
	border-radius: 8px;
    border:1px solid #abbabf;
}
/* other's msg right(name, msg, time) */
.chat-msg-left div:nth-child(2){
	display: inline-block;
}
/* other's msg name */
.chat-msg-left div:nth-child(2) .name{
	font-size: 14px;
	margin-bottom: 3px;
}
.chat-msg-right, .chat-msg-left{
	clear: both;
	margin-bottom: 20px;
}
.chat-msg-right{
	text-align: right;
} 
.chat-msg-left{
	text-align: left;
}

.chat-msg-time{
	display:inline-block;
	font-size: 8px;
	padding-left: 1em;
	padding-right: 1em;
}
.chat-msg-bubble-right, .chat-msg-bubble-left{
	padding: 0.3em 0.5em 0.7em 0.7em;
	border: 1px solid grey;
	border-radius: 1em 1em 1em 1em;
	display:inline-block;
	max-width: 65%;
	white-space: pre-line;
	position: relative;
}
.chat-msg-bubble-right{
	border-color: rgb(75,124,219);
	background: rgb(75,124,219);
	color: white;
	text-align: left;
}
.chat-msg-bubble-right:after, .chat-msg-bubble-left:after{
	content: '';
	position: absolute;
	border-style: solid;
	display: block;
	width: 0;
	z-index: 1;
	top: 9px;
}
.chat-msg-bubble-right:after
{
	border-width: 3px 0 8px 17px;
	border-color: transparent rgb(75,124,219);
	right: -14px;
}
.chat-msg-bubble-left{
	border-color: #72DAFD;
	background: #72DAFD;
	margin-left: 11px;
}
.chat-msg-bubble-left:after
{
	border-width: 3px 17px 8px 0;
	border-color: transparent #72DAFD;
	left: -17px;
}
.chat-date-tag{
	display: table;
	padding: 0.2em 1em 0.2em 1em;
	margin: 20px auto;
	border: 1px solid grey;
	border-radius: 1em 1em 1em 1em;
	font-size: 8px;
}