.ui-body-c, .ui-body-c input, .ui-body-c select, .ui-body-c textarea, .ui-body-c button ,.ui-btn-up-d, .ui-btn-hover-d, .ui-btn-down-d{
    font-family: -webkit-body;
    letter-spacing: 3px;
}

.main{
	height:1136px;
    width:640px;
    margin:auto;
    margin-top:-20px;
}

.launch_kv{
	background:url(../images/launch_kv.png) center top no-repeat; 
	background-size: 100%;
	background-position: 10%;
	
}

.login-area{
	position: relative;
	top: 57%;
	margin: auto;
	width: 80%;
}

.ui-btn-corner-all {
    border-radius: 3px;
}

.ui-corner-all {
    border-radius: 2px;
}

.ui-btn-up-d {
    background: rgb(232,232,232);
}

.ui-btn-hover-d{
    background: rgb(220,220,220);
}

.ui-body-c .main .ui-link {
    color: #f6f6f6;
}

.ui-body-c .main .ui-link:hover {
    color: #f6f6f6;
}

.ui-body-c .main .ui-link:visited {
    color: #f6f6f6;
}

.ui-body-c input, .ui-body-c a {
}

.login-text,.login-text-l,.login-text-r{
    color: #f6f6f6;
    text-shadow: 0 0 0 #fff;
    text-decoration:none;
}

.login-text{
    position: relative;
    top: 1px;
    left: 10px;
}

.login-radio{
    float: left;
    width: 18px;
    display: block;
    height: 18px;
    background: #fff;
    border-radius: 10px;
    top: 1px;
    position: relative;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: moz-none;
    -ms-user-select: none;
    user-select: none;
}

.login-radio img {
	display: none;
	position: relative;
	right: 1.5px;
	top: -1px;
}
 
.login-text-l{
	float:left;
}

.login-text-r{
	float:right;
}

.register-desc-area{
    padding-left:5%;
}
.register-radio{
	float:left;
    width: 18px;
    display: block;
    height: 18px;
    background: rgb(27,154,235);
    border-radius: 10px;
    top: 1px;
    position: relative;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: moz-none;
    -ms-user-select: none;
    user-select: none;
}

.register-radio img {
    display: none;
    width: 20px;
	height: 20px;
	border-radius: 20px;
    position: relative;
    right: 0px;
    top: -1px;
}

.register-text{
	float:left;
    position: relative;
    top: 2px;
    left: 10px;
    letter-spacing:0px;
}

#register-next,#pw-send {
    margin-top: 88%;
}

#resend-otp,.resend-otp-close {
    margin-top: 60%;
}

#register-popup {
    margin: auto;
}

.register-desc-area h1{
	color:blue;
}

#resend-otp{
	display:none;
}

.resend-otp-close{
	padding-top: 17px;
	background: gray;
	height: 1.32em;
	line-height: 10px;
	text-align: center;
	border-radius: 3px;
	text-shadow: 0 0;
	color: gainsboro;
}

.helper-top-area{
    text-align:center;
}

.helper-title{
	background: lightslategrey;
	text-shadow: 0 0;
	height: 25px;
	line-height: 27px;
	padding-left: 15px;
	color: white;
	font-family: serif;
}

.group-list-area{
    margin:auto;
    width:90%;	
}

.group-list-box {
	float: left;
	width: 40%;
	height: 200px;
	background: url(../images/no_pic_g.png) no-repeat;
	background-size: 120%;
	background-position: -10px 15px;
	box-shadow: 0 1px 5px #000;
	border-radius: 3px;
	margin: 15px;
	line-height: 150px;
	font-size: 45px;
	text-align: center;
	text-shadow: 0 1px 1px #000;
	color: ghostwhite;
	cursor: pointer;
}

.group-list-box div {
	font-size: 20px;
	height: 30px;
	line-height: 30px;
	text-align:center;
	color:black;
	border-top: solid;
    border-color: #b5b5b5;
    padding-top: 6px;
}

.helper-collapsible-area {
	width: 95%;
	margin: auto;
}

.gm-create-head {
	margin-top: 10%;
	margin-left: 35%;
	width: 30%;
}

.gm-create-content-area {
	width: 90%;
	margin: auto;
}

#gm-create-submit {
    margin-top: 30%;
}

#gm-join-submit{
	
}

/* =======================團體選單 切換=================================*/
.group-nav-chk{
	display:none;
}

/* ======================= popup =================================*/
.popup{
	display: none;
}

.popup-frame{
	position:fixed;
    z-index:10;
    background: white;
    box-shadow: 0 0px 10px 5px #a5a5a5;
    border-radius: 10px;
    padding: 15px;
    top: 200px;
}

.popup-screen {
	z-index:9;
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}

.popup-close{
	margin: auto;
	margin-top: 20px;
	display: table;
	box-shadow: 0 1px 5px #000;
	height: 35px;
	width: 70px;
	text-align: center;
	line-height: 35px;
	border-radius: 2px;
	text-decoration: blink;
    color: black;
}

.popup-close:hover {
	background: #f9f9f9;
}

.side-menu-btn{
	float: left;
	cursor:pointer;
}

#page-group-main .ui-content {
    padding: 0;
}


/* ======================= 左側選單 =================================*/

#side-menu{
	background:#3a3d41;
	color: #f5f5f5;
    text-shadow: 0 0;
}

.ui-bar-c {
	background: rgb(38,49,69);
	border-color: rgb(38,49,69);
	color: rgb(136,161,181);
	text-shadow:0 0;
}

.ui-panel-animate.ui-panel-content-fixed-toolbar-position-left.ui-panel-content-fixed-toolbar-open.ui-panel-content-fixed-toolbar-display-push{
	margin:0;
}

.ui-panel-inner {
    padding: 0;
}

.sm-user-pic {
	float: left;
	width: 50px;
	height:50px;
	border-radius: 5px;
	border: solid;
	border-width: 1px;
	border-color: #abbabf;
	margin: 10px;
}

.sm-user-area {
	background-image: url(../images/side_menu/personal_topinfo_bg.png);
	height: 71px;
}

.sm-user-area-r {
    padding-top: 18px;
}

.sm-small-area {
    clear: both;
	height: 30px;
	line-height: 25px;
	padding: 10px;
	padding-left: 20px;
	cursor:pointer;
}

.sm-small-area-l {
    float: left;
    margin-right: 30px;
    margin-top: 7px;
}

.sm-small-area-r {
    float: left;
    padding-top: 6px;
}
.sm-count {
	display:none;
	background:rgb(44,46,50);
    float: right;
	font-size: 15px;
	border: solid;
	border-width: 2px;
	line-height: 21px;
	height: 20px;
	padding: 0px 6px 1px 5px;
	border-color: #cfdef3;
	border-radius: 7px;
	margin-top: 5px;
	letter-spacing: -2px;
}

.sm-hr {
	height: 30px;
	line-height: 30px;
	background: #484d53;
	color: #b3bac4;
	text-shadow: 0 0;
	padding-left: 15px;
}

.sm-group-area {
    height: 71px;
}

.sm-group-area-l {
    float: left;
}

.sm-group-area-r {
	float: left;
	padding: 25px 0px 0px 5px;
}

.sm-group-area-l img {
	width: 30px;
	float: left;
	width: 50px;
	height: 49px;
	border-radius: 5px;
	margin: 10px;
}

.sm-group-area .sm-count {
    margin: 19px 13px 0px 0px;
}

.sm-group-list-area-add {
    display:none;
}
.sm-group-switch{
	display:none;
	background:url(../images/side_menu/sidemenu_slidedown_bg.png);
    height:30px;
    line-height:30px;
    padding-top: 6px;
    cursor:pointer;
}

.sm-group-switch img {
	margin: auto;
	display: block;
	height: 25px;
}

.sm-group-cj .ui-btn-inner {
    text-overflow: initial;
}
.sm-group-cj {
	display: flex;
	letter-spacing: 0px;
	padding: 0px;
}

.ui-panel {
    min-height: initial;
}

.ui-panel-display-push.ui-panel-open.ui-panel-position-left {
    border-right-width: 0px;
}