.ui-body-c, .ui-body-c input, .ui-body-c select, .ui-body-c textarea, .ui-body-c button ,.ui-btn-up-d, .ui-btn-hover-d, .ui-btn-down-d, .ui-body-c .ui-link, .ui-btn-up-c{
    font-family: "微軟正黑體","Microsoft JhengHei";
    -webkit-font-smoothing: antialiased;
    font-weight: normal;
}

.main{
	height:1136px;
    width:640px;
    margin:auto;
    margin-top:-20px;
}

#page-back-chk,#page-back-chk-pre{
	display:none;
}

.page-back {
	background: url(../images/back.png) no-repeat;
	background-size: 75%;
	height: 35px;
	width: 35px;
	float: left;
    margin: 7px 0 0 5px;
	cursor:pointer;
}

.launch_kv{
	background:url(../images/launch_kv.png) center top no-repeat; 
	background-size: 100%;
	background-position: 10%;
	
}

.login-area{
	position: relative;
	top: 57%;
	margin: auto;
	width: 80%;
}

.ui-btn-corner-all {
    border-radius: 3px;
}

.ui-corner-all {
    border-radius: 2px;
}

.ui-btn-up-d {
    background: rgb(232,232,232);
}

.ui-btn-hover-d{
    background: rgb(220,220,220);
}

.ui-body-c .main .ui-link {
    color: #f6f6f6;
}

.ui-body-c .main .ui-link:hover {
    color: #f6f6f6;
}

.ui-body-c .main .ui-link:visited {
    color: #f6f6f6;
}

.ui-body-c input, .ui-body-c a {
}

.login-text,.login-text-l,.login-text-r{
    color: #f6f6f6;
    text-shadow: 0 0 0 #fff;
    text-decoration:none;
}

.login-text{
    position: relative;
    top: 1px;
    left: 10px;
}

.login-radio{
    float: left;
    width: 18px;
    display: block;
    height: 18px;
    background: #fff;
    border-radius: 10px;
    top: 1px;
    position: relative;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: moz-none;
    -ms-user-select: none;
    user-select: none;
}

.login-radio img {
	display: none;
	position: relative;
	right: 1.5px;
	top: -1px;
}
 
.login-text-l{
	float:left;
}

.login-text-r{
	float:right;
}

.register-desc-area{
    padding-left:5%;
}
.register-radio{
	float:left;
    width: 18px;
    display: block;
    height: 18px;
    background: rgb(27,154,235);
    border-radius: 10px;
    top: 1px;
    position: relative;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: moz-none;
    -ms-user-select: none;
    user-select: none;
}

.register-radio img {
    display: none;
    width: 20px;
	height: 20px;
	border-radius: 20px;
    position: relative;
    right: 0px;
    top: -1px;
}

.register-text{
	float:left;
    position: relative;
    top: 2px;
    left: 10px;
    letter-spacing:0px;
}

#register-next,#pw-send {
    margin-top: 88%;
}

#resend-otp,.resend-otp-close {
    margin-top: 60%;
}

#register-popup {
    margin: auto;
}

.register-desc-area h1{
	color:blue;
}

#resend-otp{
	display:none;
}

.resend-otp-close{
	padding-top: 17px;
	background: gray;
	height: 1.32em;
	line-height: 10px;
	text-align: center;
	border-radius: 3px;
	text-shadow: 0 0;
	color: gainsboro;
}

.helper-top-area{
    text-align:center;
}

.helper-title{
	background: lightslategrey;
	text-shadow: 0 0;
	height: 25px;
	line-height: 27px;
	padding-left: 15px;
	color: white;
}

.group-list-area{
    margin:auto;
    width:90%;	
}

.group-list-box {
	float: left;
	width: 40%;
	height: 200px;
	background: url(../images/no_pic_g.png) no-repeat;
	background-size: 120%;
	background-position: -10px 15px;
	box-shadow: 0 1px 5px #000;
	border-radius: 3px;
	margin: 15px;
	line-height: 150px;
	font-size: 45px;
	text-align: center;
	text-shadow: 0 1px 1px #000;
	color: ghostwhite;
	cursor: pointer;
}

.group-list-box div {
	font-size: 20px;
	height: 30px;
	line-height: 30px;
	text-align:center;
	color:black;
	border-top: solid;
    border-color: #b5b5b5;
    padding-top: 6px;
}

.helper-collapsible-area {
	width: 95%;
	margin: auto;
}

.gm-create-head {
	margin-top: 10%;
	margin-left: 35%;
	width: 30%;
}

.gm-create-content-area {
	width: 90%;
	margin: auto;
}

#gm-create-submit {
    margin-top: 30%;
}

#gm-join-submit{
	
}

/* =======================團體選單 =================================*/
.group-nav-chk{
	display:none;
}

.gm-join-area{
	margin: 20px;
}

#gm-join-submit{
	margin-top:80%;
}

/* ======================= popup =================================*/
.popup{
	display: none;
}

.popup-frame{
	position:fixed;
    z-index:10;
    background: white;
    box-shadow: 0 0px 10px 5px #a5a5a5;
    border-radius: 10px;
    padding: 15px;
    top: 200px;
}

.popup-screen {
	z-index:9;
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}

.popup-close{
	margin: auto;
	margin-top: 20px;
	display: table;
	box-shadow: 0 1px 5px #000;
	height: 35px;
	width: 70px;
	text-align: center;
	line-height: 35px;
	border-radius: 2px;
	text-decoration: blink;
    color: black;
}

.popup-close:hover {
	background: #f9f9f9;
}

.side-menu-btn{
	float: left;
	cursor:pointer;
}

#page-group-main .ui-content {
    padding: 0;
}


/* ======================= 左側選單 =================================*/

#page-group-main {
    background: #3a3d41;
}

#side-menu{
	background:#3a3d41;
	color: #f5f5f5;
    text-shadow: 0 0;
    overflow:scroll;
}

.ui-bar-c {
	background: rgb(38,49,69);
	border-color: rgb(38,49,69);
	color: rgb(136,161,181);
	text-shadow:0 0;
}

#page-group-main .ui-panel-content-wrap{
    position:fixed;
    width: 100%;
}

.ui-panel-animate.ui-panel-content-fixed-toolbar-position-left.ui-panel-content-fixed-toolbar-open.ui-panel-content-fixed-toolbar-display-push{
	margin:0;
}

.ui-panel-inner {
    padding: 0;
}

.sm-user-pic {
	float: left;
	width: 50px;
	height:50px;
	border-radius: 5px;
	border: solid;
	border-width: 1px;
	border-color: #abbabf;
	margin: 8px 10px 0 15px;
}

.sm-user-area, .main-user-area {
	background-image: url(../images/side_menu/personal_topinfo_bg.png);
	height: 71px;
}

.sm-user-area-r, .main-user-area-r {
    padding-top: 14px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    outline: 0!important;
}

.sm-small-area {
	clear: both;
	height: 40px;
	line-height: 28px;
	padding-left: 20px;
	cursor: pointer;
	background: url(../images/side_menu/sidebar_group_bg01.png)repeat-x;
}

.sm-small-area-l {
    float: left;
    margin-right: 30px;
    margin-top: 7px;
}

.sm-small-area-r {
    float: left;
    padding-top: 6px;
}
.sm-count {
	display:none;
	background: rgb(58,69,65);
	float: right;
	font-size: 15px;
	border: solid;
	border-width: 2px;
	line-height: 21px;
	height: 20px;
	padding: 0px 6px 1px 5px;
	border-color: rgb(112,112,112);
	border-radius: 7px;
	margin-top: 5px;
	letter-spacing: -2px;
}

.sm-hr {
	height: 30px;
	line-height: 30px;
	background: #484d53;
	color: #b3bac4;
	text-shadow: 0 0;
	padding-left: 15px;
}

.sm-group-area {
    height: 71px;
    background: url(../images/side_menu/sidemenu_slidedown_bg.png);
}

.sm-group-area-l {
    float: left;
}

.sm-group-area-r {
	float: left;
	padding: 25px 0px 0px 5px;
}

.sm-group-area-l img {
	width: 30px;
	float: left;
	width: 50px;
	height: 49px;
	border-radius: 5px;
	margin: 10px;
}

.sm-group-area .sm-count {
    margin: 19px 13px 0px 0px;
}

.sm-group-list-area-add {
    display:none;
}
.sm-group-switch{
	display:none;
	background:url(../images/side_menu/sidemenu_slidedown_bg.png);
    height:30px;
    line-height:30px;
    cursor:pointer;
}

.sm-group-switch img {
	margin: auto;
	display: block;
	height: 25px;
	padding-top:4px;
}

.sm-group-cj .ui-btn-inner {
    text-overflow: initial;
}
.sm-group-cj {
	display: flex;
	letter-spacing: 0px;
	padding-top: 5px;
}

.ui-panel {
    min-height: initial;
}

.ui-panel-display-push.ui-panel-open.ui-panel-position-left {
    border-right-width: 0px;
}

.sm-group-cj-btn {
	border: solid;
	border-width: 1px;
	border-color: #25292d;
	background: #303337;
	float: left;
	width: 46%;
	color: #fff;
	height: 40px;
	line-height: 40px;
	text-align: center;
	margin: 2px 0px 10px 6px;
	cursor:pointer;
}

::-webkit-scrollbar { 
    display: none; 
}

#page-group-main {
}

.sm-click-bg{
	background:#202327;
}

.sm-switch-ui-adj {
	height: 4px;
}
.sm-switch-ui-adj-show {
    background: #202327;
}

/* ========================== group main ================================= */

#page-group-main .ui-body-c {
    /* background: #fff; */
}

.main-contact-l {
    float: left;
    background: rgb(42,62,79);
    border-right: solid;
	border-right-width: 2px;
	border-right-color: #202b37;
}

.main-contact-r {
	font-size: 15px;
	color: #323537;
	background:#fff;
}

.main-contact-r-bar {
	display: flex;
	letter-spacing: 2px;
	padding: 1px 0 1px 8px;
	background: url(../images/contact/contact_statebar_bgimages.png) repeat-x;
}

.main-contact-r-bar-l, .main-contact-r-bar-r {
    float: left;
}

.main-contact-r-bar-l {
	color: #c5cad8;
	font-size: 14px;
	text-shadow: 0 1px #000;
}

.main-contact-r-bar-r {
	color: #959baf;
	font-size: 12px;
	margin-top: 1px;
	text-shadow: 0 1px #000;
}

.main-count{
	color: #c5cad8;
	font-size: 14px;
	position: absolute;
	right: 5px;
}

.main-contact-l-row, .main-contact-l-subarea-row {
	background: url(../images/contact/contact_sidemenu_rowbg.png);
	height: 43px;
	line-height: 43px;
	color: #8fa6bd;
	padding: 0px 3px 0px 5px;
	letter-spacing: 0;
	font-size: 14px;
	cursor:pointer;
}

.main-contact-l-row{
    background: url(../images/contact/contact_sidemenu_rowbg.png);
    position: relative;
    z-index: 10;
}

.main-contact-l-row-subarea{
    height:0px;
    display:none;
}
        
.main-contact-l-subarea-row {
	background: url(../images/contact/contact_sidemenu_rowbg_unfold.png);
	color:white;
	text-align: right;
    letter-spacing: -1px;
    /* position: absolute; */
    z-index: 9;
}

.main-contact-l-row img{
    float:right;
    margin-top: 15px;
}

.main-contact-r-block, .main-contact-r-group{
	display:flex;
	background: url(../images/contact/contact_row_bgimages.png);
    height: 60px;
}

.main-contact-r-group-l img{
	margin: 6px 3px 3px 7px;
}

.main-contact-r-group-r {
    line-height: 60px;
}

.main-contact-r-block-r {
    margin-top: 10px;
}

.main-contact-r-block-l img{
	width:34px;
	height:34px;
	border: solid;
    border-color: rgb(178,185,188);
    border-width: 1px;
    border-radius: 5px;
    margin: 10px 6px 0 10px;
}


.main-footer, .main-footer-add {
	background: url(../images/contact/toolbar_bg.png);
	clear: both;
	padding: 10px 0 10px 0;
	text-align: center;
}

.main-footer{
    z-index: 100;
    position: relative;
}

.main-footer-add{
	width: 100%;
	padding-left: 9px;
	position: relative;
    bottom: 125px;
}

.main-footer-item{
	display: inline-block;
	width: 18%;
	cursor:pointer;
}

.main-footer-desc {
	font-size: 14px;
	letter-spacing: 0;
	margin-top: -5px;
	color: rgb(149,158,174);
}

.main-footer-more {
	display: inline-block;
	width: 14%;
	position: relative;
	left: 3px;
	bottom: 5px;
    -webkit-user-select: none;
}

.main-footer-more img {
    width: 33px;
}

.main-more-btn {
	width: 75px;
	height: 70px;
	float: right;
	position: relative;
	bottom: 60px;
	cursor:pointer;
	-webkit-user-select: none;
}

.color-white{
	color:white;
}

/* =============================== page chatroom ==================================== */

#page-chatroom {
    background: #dce1eb;
}

.chatroom-addstate-top-btn {
	background: url(../images/chatroom/ss_chat_arrow_below.png) no-repeat center;
	width: 33px;
	height: 25px;
	position: absolute;
	right: 5px;
	top: 10px;
	cursor:pointer;
}

.chatroom-footer img, .char-bar-input {
    float: left;
}

.char-bar-input:focus{ outline:none } 

/* .chatroom-footer {
	background: rgb(239,239,239);
	border: double 7px;
    height: 30px;
	border-image: url("../images/chatroom/chat_textbar_bgimg.png") 12 round stretch;
	display: inline-block;
	width: 100%;
} */

.chatroom-footer {
    height: 44px;
    background: url("../images/chatroom/textbar_bg46.png") repeat-x;
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid rgb(218,218,218);
    position:fixed;
    bottom:0px;
}

.chat-bar-input {
	margin: 8px 0 0 5%;
	width: 70%;
	height: 28px;
	border-radius: 7px;
	border: 1px solid rgb(194,194,194);
	padding-left: 10px;
	font-size: 14px;
}

.chat-bar-input:focus{
	outline:none;
}

.chatroom-footer img {
    margin: 11px 0 0 4%;
    cursor:pointer;
}

.chat-bar-send {
	background: rgb(13,63,106);
	position: absolute;
	bottom: 5px;
	right: 5px;
	float: right;
	border: 1px solid rgb(22,55,110);
	width: 50px;
	height: 30px;
	line-height: 30px;
	color: white;
	font-size: 15px;
	border-radius: 0 7px 7px 0;
	text-align: center;
	cursor:pointer;
}

.chatroom-addstate-area {
	position: fixed;
	bottom: -166px;
	text-align:center;
    background: rgb(231,231,231);
    width:100%;
}

.chatroom-addstate-bg {
    background: url(../images/chatroom/chat_addstate_bg.png) repeat-x;
	width: 100%;
	height: 3px;
	position: relative;
	top: 1px;
}

.chatroom-addstate-box {
	width: 32.83%;
	border:1px solid rgb(240,240,240);
	border-right-color:rgb(227,227,227);
	border-bottom-color:rgb(227,227,227);
}

.chatroom-addstate-box-click{
	background:#d2d2d2;
}

.chatroom-addstate-top-box-click{
    background:#19253c;
}

.chatroom-addstate-box, .chatroom-addstate-top-box{
	float: left;
    height: 50px;
    padding: 15px 0;
    cursor:pointer;
}

.chatroom-addstate-top-area{
	position: fixed;
    top: -200px;
    text-align:center;
    background: rgb(45,52,65);
    color:#b0b9ca;
    font-size: 14px;
    width:100%;
}

.chatroom-addstate-top-box{
    width: 24.5%;
    border:1px solid rgb(44,53,65);
    border-right-color:rgb(36,45,57);
    border-bottom-color:rgb(36,45,57);
}	
	
	
