.ui-body-c, .ui-body-c input, .ui-body-c select, .ui-body-c textarea, .ui-body-c button ,.ui-btn-up-d, .ui-btn-hover-d, .ui-btn-down-d, .ui-body-c .ui-link, .ui-btn-up-c{
    font-family: "微軟正黑體","Microsoft JhengHei";
    -webkit-font-smoothing: antialiased;
    font-weight: normal;
}

.main{
	height:1136px;
    width:640px;
    margin:auto;
    margin-top:-20px;
}

#page-back-chk,#page-back-chk-pre{
	display:none;
}

.page-back {
	background: url(../images/back.png) no-repeat;
	background-size: 75%;
	height: 35px;
	width: 35px;
	float: left;
    margin: 7px 0 0 5px;
	cursor:pointer;
}

.launch_kv{
	background:url(../images/launch_kv.png) center top no-repeat; 
	background-size: 100%;
	background-position: 10%;
	
}

.login-area{
	position: relative;
	top: 57%;
	margin: auto;
	width: 80%;
}

.ui-btn-corner-all {
    border-radius: 3px;
}

.ui-corner-all {
    border-radius: 2px;
}

.ui-btn-up-d {
    background: rgb(232,232,232);
}

.ui-btn-hover-d{
    background: rgb(220,220,220);
}

.ui-body-c .main .ui-link {
    color: #f6f6f6;
}

.ui-body-c .main .ui-link:hover {
    color: #f6f6f6;
}

.ui-body-c .main .ui-link:visited {
    color: #f6f6f6;
}

.ui-body-c input, .ui-body-c a {
}

.login-text,.login-text-l,.login-text-r{
    color: #f6f6f6;
    text-shadow: 0 0 0 #fff;
    text-decoration:none;
}

.login-text{
    position: relative;
    top: 1px;
    left: 10px;
}

.login-radio{
    float: left;
    width: 18px;
    display: block;
    height: 18px;
    background: #fff;
    border-radius: 10px;
    top: 1px;
    position: relative;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: moz-none;
    -ms-user-select: none;
    user-select: none;
}

.login-radio img {
	display: none;
	position: relative;
	right: 1.5px;
	top: -1px;
}
 
.login-text-l{
	float:left;
}

.login-text-r{
	float:right;
}

.register-desc-area{
    padding-left:5%;
}
.register-radio{
	float:left;
    width: 18px;
    display: block;
    height: 18px;
    background: rgb(27,154,235);
    border-radius: 10px;
    top: 1px;
    position: relative;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: moz-none;
    -ms-user-select: none;
    user-select: none;
}

.register-radio img {
    display: none;
    width: 20px;
	height: 20px;
	border-radius: 20px;
    position: relative;
    right: 0px;
    top: -1px;
}

.register-text{
	float:left;
    position: relative;
    top: 2px;
    left: 10px;
    letter-spacing:0px;
}

#register-next,#pw-send {
    margin-top: 88%;
}

#resend-otp,.resend-otp-close {
    margin-top: 60%;
}

#register-popup {
    margin: auto;
}

.register-desc-area h1{
	color:blue;
}

#resend-otp{
	display:none;
}

.resend-otp-close{
	padding-top: 17px;
	background: gray;
	height: 1.32em;
	line-height: 10px;
	text-align: center;
	border-radius: 3px;
	text-shadow: 0 0;
	color: gainsboro;
}

.helper-top-area{
    text-align:center;
}

.helper-title{
	background: lightslategrey;
	text-shadow: 0 0;
	height: 25px;
	line-height: 27px;
	padding-left: 15px;
	color: white;
}

.group-list-area{
    margin:auto;
    width:90%;	
}

.group-list-box {
	float: left;
	width: 40%;
	height: 200px;
	background: url(../images/no_pic_g.png) no-repeat;
	background-size: 120%;
	background-position: -10px 15px;
	box-shadow: 0 1px 5px #000;
	border-radius: 3px;
	margin: 15px;
	line-height: 150px;
	font-size: 45px;
	text-align: center;
	text-shadow: 0 1px 1px #000;
	color: ghostwhite;
	cursor: pointer;
}

.group-list-box div {
	font-size: 20px;
	height: 30px;
	line-height: 30px;
	text-align:center;
	color:black;
	border-top: solid;
    border-color: #b5b5b5;
    padding-top: 6px;
}

.helper-collapsible-area {
	width: 95%;
	margin: auto;
}

.gm-create-head {
	margin-top: 10%;
	margin-left: 35%;
	width: 30%;
}

.gm-create-content-area {
	width: 90%;
	margin: auto;
}

#gm-create-submit {
    margin-top: 30%;
}

#gm-join-submit{
	
}

/* =======================團體選單 =================================*/
.group-nav-chk{
	display:none;
}

.gm-join-area{
	margin: 20px;
}

#gm-join-submit{
	margin-top:80%;
}

/* ======================= popup =================================*/
.popup{
	display: none;
}

.popup-frame{
	position:fixed;
    z-index:10;
    background: white;
    box-shadow: 0 0px 10px 5px #a5a5a5;
    border-radius: 10px;
    padding: 15px;
    top: 200px;
}

.popup-screen {
	z-index:9;
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}

.popup-close{
	margin: auto;
	margin-top: 20px;
	display: table;
	box-shadow: 0 1px 5px #000;
	height: 35px;
	width: 70px;
	text-align: center;
	line-height: 35px;
	border-radius: 2px;
	text-decoration: blink;
    color: black;
}

.popup-close:hover {
	background: #f9f9f9;
}

.side-menu-btn{
	float: left;
	cursor:pointer;
	width: 40px;
	position: relative;
	left: 7px;
	top: 2px;
}

#page-group-main .ui-content {
    padding: 0;
}


/* ======================= 左側選單 =================================*/

.page-fixed{
	position:fixed;
}

#page-group-main {
    background: #3a3d41;
}

#side-menu{
	background:#3a3d41;
	color: #f5f5f5;
    text-shadow: 0 0;
    overflow:scroll;
}

.ui-bar-c {
	background: rgb(1,102,161);
	border-color: rgb(50,73,105);
	color: white;
	text-shadow: 0 0;
}

.subpage-contact {
	position: fixed;
	width: 100%;
}

.ui-panel-animate.ui-panel-content-fixed-toolbar-position-left.ui-panel-content-fixed-toolbar-open.ui-panel-content-fixed-toolbar-display-push{
	margin:0;
}

.ui-panel-inner {
    padding: 0;
}

.sm-user-pic {
	float: left;
	width: 50px;
	height:50px;
	border-radius: 5px;
	border: solid;
	border-width: 1px;
	border-color: #abbabf;
	margin: 8px 10px 0 15px;
}

.sm-user-area, .main-user-area {
	background-image: url(../images/side_menu/personal_topinfo_bg.png);
	height: 71px;
}

.sm-user-area-r, .main-user-area-r {
    padding-top: 14px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    outline: 0!important;
}

.sm-small-area {
	clear: both;
	height: 40px;
	line-height: 28px;
	padding-left: 20px;
	cursor: pointer;
	background: url(../images/side_menu/sidebar_group_bg01.png)repeat-x;
}

.sm-small-area-l {
    float: left;
    margin-right: 30px;
    margin-top: 7px;
}

.sm-small-area-r {
    float: left;
    padding-top: 6px;
}
.sm-count {
	display:none;
	background: rgb(58,69,65);
	float: right;
	font-size: 15px;
	border: solid;
	border-width: 2px;
	line-height: 21px;
	height: 20px;
	padding: 0px 6px 1px 5px;
	border-color: rgb(112,112,112);
	border-radius: 7px;
	margin-top: 5px;
	letter-spacing: -2px;
}

.sm-hr {
	height: 30px;
	line-height: 30px;
	background: #484d53;
	color: #b3bac4;
	text-shadow: 0 0;
	padding-left: 15px;
}

.sm-group-area {
    height: 71px;
    background: url(../images/side_menu/sidemenu_slidedown_bg.png);
}

.sm-group-area-l {
    float: left;
}

.sm-group-area-r {
	float: left;
	padding: 25px 0px 0px 5px;
}

.sm-group-area-l img {
	width: 30px;
	float: left;
	width: 50px;
	height: 49px;
	border-radius: 5px;
	margin: 10px;
}

.sm-group-area .sm-count {
    margin: 19px 13px 0px 0px;
}

.sm-group-list-area-add {
    display:none;
}
.sm-group-switch{
	display:none;
	background:url(../images/side_menu/sidemenu_slidedown_bg.png);
    height:30px;
    line-height:30px;
    cursor:pointer;
}

.sm-group-switch img {
	margin: auto;
	display: block;
	height: 25px;
	padding-top:4px;
}

.sm-group-cj .ui-btn-inner {
    text-overflow: initial;
}
.sm-group-cj {
	display: flex;
	letter-spacing: 0px;
	padding-top: 5px;
}

.ui-panel {
    min-height: initial;
}

.ui-panel-display-push.ui-panel-open.ui-panel-position-left {
    border-right-width: 0px;
}

.sm-group-cj-btn {
	border: solid;
	border-width: 1px;
	border-color: #25292d;
	background: #303337;
	float: left;
	width: 46%;
	color: #fff;
	height: 40px;
	line-height: 40px;
	text-align: center;
	margin: 2px 0px 10px 6px;
	cursor:pointer;
}

::-webkit-scrollbar { 
    display: none; 
}

#page-group-main {
}

.sm-click-bg{
	background:#202327;
}

.sm-switch-ui-adj {
	height: 4px;
}
.sm-switch-ui-adj-show {
    background: #202327;
}

/* ========================== group main ================================= */

#page-group-main .ui-body-c {
    /* background: #fff; */
}

.main-contact-l {
    float: left;
    background: rgb(42,62,79);
    border-right: solid;
	border-right-width: 2px;
	border-right-color: #202b37;
}

.main-contact-r {
	font-size: 15px;
	color: #323537;
	background:#fff;
}

.main-contact-r-bar {
	display: flex;
	letter-spacing: 2px;
	padding: 1px 0 1px 8px;
	background: url(../images/contact/contact_statebar_bgimages.png) repeat-x;
}

.main-contact-r-bar-l, .main-contact-r-bar-r {
    float: left;
}

.main-contact-r-bar-l {
	color: #c5cad8;
	font-size: 14px;
	text-shadow: 0 1px #000;
}

.main-contact-r-bar-r {
	color: #959baf;
	font-size: 12px;
	margin-top: 1px;
	text-shadow: 0 1px #000;
}

.main-count{
	color: #c5cad8;
	font-size: 14px;
	position: absolute;
	right: 5px;
}

.main-contact-l-row, .main-contact-l-subarea-row {
	background: url(../images/contact/contact_sidemenu_rowbg.png);
	height: 43px;
	line-height: 43px;
	color: #8fa6bd;
	padding: 0px 3px 0px 5px;
	letter-spacing: 0;
	font-size: 14px;
	cursor:pointer;
}

.main-contact-l-row{
    background: url(../images/contact/contact_sidemenu_rowbg.png);
    position: relative;
    z-index: 10;
}

.main-contact-l-row-subarea{
    height:0px;
    display:none;
}
        
.main-contact-l-subarea-row {
	background: url(../images/contact/contact_sidemenu_rowbg_unfold.png);
	color:white;
	text-align: right;
    letter-spacing: -1px;
    /* position: absolute; */
    z-index: 9;
}

.main-contact-l-row img{
    float:right;
    margin-top: 15px;
}

.main-contact-r-block, .main-contact-r-group{
	display:flex;
	background: url(../images/contact/contact_row_bgimages.png);
    height: 60px;
}

.main-contact-r-group-l img{
	margin: 6px 3px 3px 7px;
}

.main-contact-r-group-r {
    line-height: 60px;
}

.main-contact-r-block-r {
    margin-top: 10px;
}

.main-contact-r-block-l img{
	width:34px;
	height:34px;
	border: solid;
	border-radius: 5px;
    border-color: rgb(178,185,188);
    border-width: 1px;
    margin: 10px 6px 0 10px;
}

.main-footer, .main-footer-add {
	background: url(../images/contact/toolbar_bg.png);
	clear: both;
	padding: 10px 0 10px 0;
	text-align: center;
}

.main-footer{
    z-index: 100;
    position: relative;
    height: 50px;
}

.main-footer-add{
	width: 100%;
	padding-left: 9px;
	position: relative;
    bottom: 125px;
}

.main-footer-item{
	display: inline-block;
	width: 18%;
	cursor:pointer;
}

.main-footer-desc {
	font-size: 14px;
	letter-spacing: 0;
	margin-top: -5px;
	color: rgb(149,158,174);
}

.main-footer-more {
	display: inline-block;
	width: 14%;
	position: relative;
	left: 3px;
	bottom: 5px;
    -webkit-user-select: none;
}

.main-footer-more img {
    width: 33px;
}

.main-more-btn {
	width: 75px;
	height: 70px;
	float: right;
	position: relative;
	bottom: 60px;
	cursor:pointer;
	-webkit-user-select: none;
}

.color-white{
	color:white;
}

.subpage-contact{
    display:none;
}

/* =============================== page timeline ==================================== */

.subpage-timeline {
	background: #d0d0d0;
	min-height: 615px;
	overflow: scroll;
}

.st-navi-area {
    display: flex;
    border: 2px solid rgb(73,85,110);
    cursor:pointer;
}

.st-navi-subarea-main, .st-navi-subarea-other{
	width: 25%;
	text-align: center;
    padding: 8px 0;
}

.st-navi-subarea-main{
	background:rgb(73,85,110);
	color:#858fac;
	max-height: 60px;
}

.st-navi-subarea-other{
	background: rgb(51,64,92);
	color: #8791af;
	border: solid rgb(43,53,79);
	border-width: 1px 0;
	max-height: 55px;
}

.st-navi-divider {
	border: solid;
	border-width: 0 1px 0 1px;
	border-left-color: rgb(47,58,85);
	border-right-color: rgb(69,85,121);
}

.st-navi-subarea img {
    width: 25px;
}

.st-navi-area img{
	width:25px;
}

.st-navi-count {
	float: right;
	position: relative;
	bottom: 53px;
	border: 2px solid #91bbf0;
	border-radius: 11px;
	color: #91bbf0;
	min-width: 20px;
	padding: 0 2px;
	font-size:14px;
}

.st-cover-main {
	max-height: 124px;
	display: -webkit-box;
	overflow: hidden;
}

.st-cover-main-page{
	position:relative;
	height: 100px;
	padding: 12px 0;
	color: white;
	width: 100%;
}

.st-bg1{
    background: url(../images/timeline/timeline_cover_bgimg_01.png) no-repeat;
    background-size: cover;
}

.st-bg2{
    background: url(../images/timeline/timeline_cover_bgimg_02.png) no-repeat;
    background-size: cover;
}

.st-bg3{
    background: url(../images/timeline/timeline_cover_bgimg_03.png) no-repeat;
    background-size: cover;
}

.st-bg4{
    background: url(../images/timeline/timeline_cover_bgimg_04.png) no-repeat;
    background-size: cover;
}

.st-cover-mp-l, .st-cover-mp-r{
	float:left;
}

.st-cover-mp-l {
	margin-top:7px;
	width: 30%;
	text-align: center;
}

.st-cover-mp-r {
    width: 70%;
}

.st-cover-mp-r-ttl {
    font-size:20px;
    margin-bottom:5px;
}

.st-cover-mp-r-content {
    height: 45px;
}

.st-cover-mp-r-footer img {
	margin: 0 7px;
    width: 12px;
}

.st-cover-mp-r-footer {
	margin-top:5px;
	font-size: 13px;
	color: #d0d0d0;
}

.st-cover-bar-area {
	position: relative;
	width: 100%;
	height: 26px;
	text-align: center;
	-webkit-user-select: none;
	cursor:pointer;
}

.st-cover-bar-case {
	display: inline-block;
	border: 1px solid #a1a1a1;
	border-radius: 7px;
	box-shadow: 0 0px 6px #b1b1b1;
	position:relative;
	bottom:4px;
}

.st-cover-bar-area span {
	float: left;
	height: 4px;
}

.st-r-radius{
	border-radius:0 7px 7px 0;
}

/* 游標 */

.st-cover-bar-selector {
	width: 13.11%;
	height: 7px;
	background: #4185e1;
	position: absolute;
	top: 7px;
	z-index: 10;
	border-radius: 10px;
	box-shadow: 0 0 5px rgb(83,129,190);
}

.st-filter-area {
	margin: 10px;
}

.st-filter-list {
	height: 35px;
	line-height: 35px;
	padding-left: 15px;
	color: #868686;
	background: #f7f9fe;
	border-bottom: 1px solid white;
	border-top: 1px solid rgb(220,223,232);
	cursor: pointer;
	font-weight: 600;
	-webkit-user-select: none;
}

.st-filter-other{
    display:none;	
}

.st-filter-list img {
	float: right;
	margin: 5px;
}

.st-filter-list-active {
    background:#e8f1fb;
    color:#64696c
}

.st-filter-list-btn {
	background: #fff;
	border-top: 1px solid #c2c2c2;
	height: 40px;
	text-align:center;
	cursor:pointer;
}

.st-filter-list-btn img {
    -webkit-transform: scale(-1);
    margin-top:7px;
}


.st-feedbox-area {
    margin: 15px 10px;
}

.st-sub-box {
	position:relative;
    border: 1px solid #d2d2d2;
    margin:0 0 15px;
    box-shadow: 0 0 5px #a2a2a2;
}

.st-sub-box-more-btn {
	position: absolute;
	right: 12px;
	top: 10px;
	cursor: pointer;
}

.st-sub-box-more {
	position: absolute;
	right:0;
	background: #5597e2;
	border: 2px solid #5482b8;
	opacity: 0.9;
	border-radius: 2px;
	display:none;
}

.st-sub-box-more-box {
	float: left;
	width: 31%;
	height: 70px;
	text-align: center;
	padding: 15px 0 0 0;
	color: white;
	cursor:pointer
}

.st-sub-box-more-box-click{
	color:#a8d7ff;
}

.st-more-close {
	background: url(../images/timeline/timeline_feedbox_icon_close.png);
	background-size: cover;
	width: 13px;
	height: 12px;
	position: absolute;
	right: 12px;
	top: 12px;
	cursor: pointer;
}

.st-sub-box-1 {
    background: white;
    border-bottom: 1px solid rgb(231,231,231);
}

.st-user-pic img{
    width:60px;
    height:60px;
    border-radius: 8px;
    border: solid;
    border-color: #abbabf;
    border-width: 1px;
    margin: 12px 15px 7px 15px;
}

.st-user-pic, .st-sub-name, .st-sub-time {
    float: left;
}

.st-sub-name , .st-sub-time{
	width: 50%;
}

.st-sub-name {
	margin: 22px 0 5px;
	color: #323537;
	font-size: 18px;
}

.st-sub-time {
	font-size: 12px;
	color: #b4b4b4;
}

.st-sub-time img {
    margin-right: 5px;
}

.st-sub-box-1-footer {
	display: -webkit-box;
	clear: both;
	margin: 0 0 5px 20px;
	color: #868686;
    font-size: 13px;
}

.st-sub-oval {
	border: 1px solid rgb(231,231,231);
	border-radius: 35px;
	padding: 0 5px;
	margin-right: 5px;
}

.st-sub-else{
	font-size:12px
}

.st-sub-box-1-footer img{
    margin-right: 10px;
}

.st-sub-box-2 {
	background: white;
	border-bottom: 1px solid rgb(211,211,211);
	padding: 15px;
    min-height: 70px;
}

.st-sub-box-3 {
	position:relative;
	background: #eef0f2;
	text-align: right;
	padding: 10px;
	border-bottom: 1px solid rgb(211,216,218);
	color:#868686;
}

.st-sub-box-3:after {
    content: "";
	position: absolute;
	right: 29px;
	top: -1px;
	border: solid;
	border-width: 5px 6px;
	border-color: white transparent transparent transparent;
	z-index: 10;
}

.st-sub-box-3:before {
    content: "";
	position: absolute;
	right: 29px;
	top: 0px;
	border: solid;
	border-width: 5px 6px;
	border-color: rgb(211,211,211) transparent transparent transparent;
	z-index: 5;
}

.st-sub-box-3 img {
    margin: 0 5px;
}

.st-sub-box-3 div {
	display: inline;
}

.st-sub-box-4 {
	background: #e3eef5;
	height: 42px;
	text-align: center;
	line-height: 42px;
	color: #1e649d;
	cursor: pointer;
}

.st-like-btn:active, .st-message:active {
    background:rgb(188,208,221);
	color:#0069be;
}
.st-like-btn, .st-message {
	float:left;
	width:48%;
	height:100%;
}

.st-like-btn{
	border-right:1px solid rgb(178,198,204);
}

.st-message{
    border-left:1px solid rgb(241,248,250);
}

.st-post-area{
	margin-top:10px;
	width:100%;
	height: 310px;
}

.st-post-area .ui-select,.te-next{
	display:none;
}

/* =============================== page chatroom ==================================== */

#page-chatroom {
    background: #dce1eb;
    position:relative;
    z-index:1;
}

.chatroom-addstate-top-btn {
	background: url(../images/chatroom/ss_chat_arrow_below.png) no-repeat center;
	width: 33px;
	height: 25px;
	position: absolute;
	right: 5px;
	top: 10px;
	cursor:pointer;
}

.chatroom-footer img, .char-bar-input {
    float: left;
}

.char-bar-input:focus{ outline:none } 

/* .chatroom-footer {
	background: rgb(239,239,239);
	border: double 7px;
    height: 30px;
	border-image: url("../images/chatroom/chat_textbar_bgimg.png") 12 round stretch;
	display: inline-block;
	width: 100%;
} */

.chatroom-footer {
    height: 44px;
    background: url("../images/chatroom/textbar_bg46.png") repeat-x;
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid rgb(218,218,218);
    position:fixed;
    bottom:0px;
}

.chat-bar-input {
	margin: 8px 0 0 5%;
	width: 70%;
	height: 28px;
	border-radius: 7px;
	border: 1px solid rgb(194,194,194);
	padding-left: 10px;
	font-size: 14px;
}

.chat-bar-input:focus{
	outline:none;
}

.chatroom-footer img {
    margin: 11px 0 0 4%;
    cursor:pointer;
}

.chat-bar-send {
	background: rgb(13,63,106);
	position: absolute;
	bottom: 5px;
	right: 5px;
	float: right;
	border: 1px solid rgb(22,55,110);
	width: 50px;
	height: 30px;
	line-height: 30px;
	color: white;
	font-size: 15px;
	border-radius: 0 7px 7px 0;
	text-align: center;
	cursor:pointer;
}

.chatroom-addstate-area {
	position: fixed;
	bottom: -166px;
	text-align:center;
    background: rgb(231,231,231);
    width:100%;
}

.chatroom-addstate-bg {
    background: url(../images/chatroom/chat_addstate_bg.png) repeat-x;
	width: 100%;
	height: 3px;
	position: relative;
	top: 1px;
}

.chatroom-addstate-box {
	width: 32.83%;
	border:1px solid rgb(240,240,240);
	border-right-color:rgb(227,227,227);
	border-bottom-color:rgb(227,227,227);
}

.chatroom-addstate-box-click{
	background:#d2d2d2;
}

.chatroom-addstate-top-box-click{
    background:#19253c;
}

.chatroom-addstate-box, .chatroom-addstate-top-box{
	float: left;
    height: 50px;
    padding: 15px 0;
    cursor:pointer;
}

.chatroom-addstate-top-area{
	position: absolute;
    z-index: 1;
    top: -200px;
    text-align:center;
    background: rgb(45,52,65);
    color:#b0b9ca;
    font-size: 14px;
    width:100%;
}

.chatroom-addstate-top-box{
    width: 24.5%;
    border:1px solid rgb(44,53,65);
    border-right-color:rgb(36,45,57);
    border-bottom-color:rgb(36,45,57);
}	

.chat-other {
	clear:both;
	height: 80px;
}

.chat-other-subarea {
    padding-top: 6px;
    color:#aeb3bd;
}

.chat-other img {
	float:left;
	width: 40px;
	height: 40px;
	border: solid;
	border-color: rgb(178,185,188);
	border-width: 1px;
	border-radius: 5px;
	margin: 10px 6px 0 10px;
}
	
.chat-other-text {
	float: left;
	position: relative;
	background: #fff;
	padding: 8px;
	left: 20px;
	top: 8px;
	border-radius: 15px;
	color:#000;
	max-width:60%;
	margin-bottom: 15px;
}

.chat-other-text:before{
	content: "";
	position: absolute;
	z-index: -1;
	width: 18px;
	height: 14px;
	left: -11px;
	top: 3px;
	background: #fff;
	border-bottom-left-radius: 11px 14px;
}

.chat-other-text:after{
    content: "";
	position: absolute;
	z-index: -1;
	width: 15px;
	height: 10px;
	top: -2px;
	left: -11px;
	background: #dce1eb;
	border-bottom-left-radius: 9px 8px;
}

.chat-other-time {
	position: absolute;
	bottom: 7px;
	right: -40px;
	font-size: 12px;
	color: #aeb3bd;
}

.chat-me {
    padding-top: 15px;
    clear:both;
    min-height: 50px;
}

.chat-me-time, .chat-me-text {
	float:right;
}

.chat-me-text {
	position: relative;
	right: 10px;
	max-width: 60%;
	background: rgb(13,63,106);
	color: white;
	padding: 10px;
	border-radius: 15px;
	word-wrap: break-word;
}

.chat-me-text:before {
	content: "";
	position: absolute;
	z-index: -1;
	right: -13px;
	top: 2px;
	width: 18px;
	height: 19px;
	background: rgb(13,63,106);
	border-bottom-right-radius: 25px 27px;
}

.chat-me-text:after {
	content: "";
	position: absolute;
	z-index: -1;
	right: -12px;
	top: -1px;
	background: #dce1eb;
	width: 20px;
	height: 10px;
	border-bottom-right-radius: 38px 22px;
}

.chat-me-time {
	position: absolute;
	left: -45px;
	bottom: 5px;
	font-size: 12px;
    color: #aeb3bd;
}

.chat-bar-send:active{
	background:rgb(8,39,66);
	color:black;
}
