
.header-cp-object{
	text-align: center;
	width: 50%;
	height: 64px;
	line-height: 64px;
	font-size: 20px;
	margin: 0 auto;
}

.tabObj-content{
	/*background: #d2d2d2;*/
	width: 100%;
	overflow-x: hidden;
	overflow-y: auto;
}

.tabObj-tab-area{
	height: 56px;
	font-size: 20px;
	line-height: 30px;
	white-space: nowrap;
	background: rgb(210, 228, 237);
	border-left: white 1px solid;
	position: fixed;
	width: 100%;
}

.tabObj-tab-area .tab{
    position: relative;
	display: inline-block;
	min-width: 200px;
	border-right: white 1px solid;
	display: inline-block;
	background: rgb(210, 228, 237);
	text-align: center;
	height: 55px;
}
.tabObj-tab-area .tab div{
	margin-top: 13px;
	text-align: center;
}

.tabObj-tab-area .tab.current{
	background: rgb(156, 221, 255);
}
.tabObj-tab-area .tab.current:after{
	content: "";
	position: relative;
	left: -webkit-calc( 50% - 12px );
	border-style: solid;
	border-width: 0 12px 12px;
	border-color: #FFFFFF transparent;
	display: block;
	width: 0;
	z-index: 1;
	float: left;
	bottom: -1px;
}

.tabObj-cell-area{
	width: 100%;
	height: -webkit-calc( 100% - 121px );
	overflow-y: auto;
	margin-top: 55px;
	position: fixed;
	background: white;
}

.obj-cell-page.current {
	height: 100%;
}

.tabObj-cell-area.noTitle{
	margin-top: 0px;
	height: -webkit-calc( 100% - 57px );
}
.tabObj-cell-area.noTitle .obj-cell-page.current{
	height: -webkit-calc( 100% - 57px );
}

.tabObj-cell-area .obj-cell{
}

.obj-cell-time{
	float: right;
	line-height: 35px;
	margin-top: 5px;
	margin-right: 10px;
	font-size: 12px;
	color: #777;
}

.obj-user-title {
	color: #777;
	font-size: 12px;
} 