.ui-body-c, .ui-body-c input, .ui-body-c select,textarea, .ui-body-c button ,.ui-btn-up-d, .ui-btn-hover-d, .ui-btn-down-d, .ui-body-c .ui-link, .ui-btn-up-c, .version_update_lock{
    font-family: "微軟正黑體","Microsoft JhengHei","Heiti TC", "reg", arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: normal;
}
div, span, label, h3{
    /*text-shadow: none;*/
}
body{
	font-family: "微軟正黑體","Microsoft JhengHei","Heiti TC", "reg", arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: normal;
}


.ui-header.ui-bar-c.ui-header-fixed {
	min-height: 55px;
}

.ui-bar-c {
	background: rgb(57, 148, 232);
	border-color: rgb(57, 148, 232);
	color: white;
	text-shadow: 0 0;
}

.page-back {
	height: 40px;
	width: 40px;
	float: left;
	margin: 12px 0 0 5px;
	cursor: pointer;
}

.page-back img {
	width: 30px;
}

.ui-body-c, .ui-overlay-c {
	background: #eef0f2;
}

#page-registration {
	background: url("../images/registration/login_bgimg.png") center no-repeat;
	background-size: cover;
}

.registration-content {
	width: 100%;
	text-align: center;
	height: 564px;
	margin-top: -webkit-calc( 50vh - 282px );
	margin-bottom: -webkit-calc( 50vh - 282px );
}

.registration-logo {
    margin-bottom: 20px;
}

.registration-logo img {
	width: 95px;
	margin: 0 auto;
}
@media screen and (max-width: 800px){
	.registration-content {
		height: 564px;
		margin-top: -webkit-calc( 50vh - 302px );
		margin-bottom: -webkit-calc( 50vh - 262px );
	}
	.registration-logo img {
		width: 95px;
	}
}
/* responsive logo size.. */
@media screen and (min-width: 801px) and (max-width: 1100px){
	.registration-content {
		height: 600px;
		margin-top: -webkit-calc( 50vh - 320px );
		margin-bottom: -webkit-calc( 50vh - 280px );
	}
	.registration-logo img {
		width: 115px;
	}
}
/* responsive logo size.. */
@media screen and (min-width: 1101px){
	.registration-content {
		height: 630px;
		margin-top: -webkit-calc( 50vh - 330px );
		margin-bottom: -webkit-calc( 50vh - 300px );
	}
	.registration-logo img {
		width: 130px;
	}
}

.login-desc {
	color: white;
	margin-bottom: 100px;
	opacity: 0.7;
}

.login, .register {
	width: 250px;
	margin: 0 auto 15px;
	color: white;
	text-align: center;
	border-radius: 5px;
	height: 30px;
	padding-top: 10px;
	opacity: 0.6;
	-webkit-user-select: none;
	cursor: pointer;
}

.login {
	background: rgb(86,113,133);
}

.login:active {
	background: rgb(76,103,123);
}

.register {
	background: rgb(170,195,210);
}

.register:active {
	background: rgb(150,175,190);
}

.login-phone, .login-password  {
	border-bottom: 1px solid #eee;
}

.login-user-pic {
	position: relative;
	width: 100px;
	height: 100px;
	margin: 0 auto;
}

.login-user-pic > img {
	width: 105px;
	position: absolute;
	top: -2px;
	left: -2px;
}

.avatar-wrap {
	width: 100px;
	height: 100px;
	overflow: hidden;
}

.login-remeber-area {
	position: relative;
	text-align: center;
	margin: 30px auto 10px;
}

.login-remeber-password {
	background: white;
	box-shadow: 0px 2px #e2e2e2;
	height: 50px;
	margin: 0 auto; 
	line-height: 50px;
	border-radius: 3px;
	text-align: left;
	padding-left: 20px;
	width: 280px;
}

.login-account {
	margin: 12px 0 15px;
}

.login-account span {
	color: #999;
	margin-right: 10px;
	font-size: 17px;
	position: relative;
	top: 1px;
}

.login-option {
	position: relative;
	display: -webkit-box;
	width: 205px;
	margin: 10px auto;
	-webkit-user-select: none;
	text-align: center;
	white-space: nowrap;
	right: -15px;
}
/*.login-option ~ .login-option {
	margin-left: 0;
}
.login-option {
	margin-left: -webkit-calc( 50% - 138px);
	display: inline-block;
	width: 128px;
	margin-top: 15px; 
	-webkit-user-select: none;
	text-align: center;
	white-space: nowrap;
}*/

.login-option .text{
	width: 151px;
	text-align: center;
	display: inline-block;
}
.login-remeber, .login-auto{
	width: 100%;
	text-align: left;
}


.login-remeber img, .login-auto img {
	width: 20px;
	margin-right: 5px;
	vertical-align: middle;
}
.login-remember .text, .login-auto .text{
	vertical-align: middle;
}

 .login-auto-active {
 	color: #fff;
 	background: rgb(100,140,180);
 }

.login-forget-pw {
	position: relative;
	left: 106px;
	/* top: 17px; */
	/* border: 2px solid #d2d2d2; */
	/* border-radius: 12px; */
	/* padding: 0 5px 0 8px; */
	font-size: 15px;
	color: #555;
	cursor: pointer;
	width: 95px;
	margin-left: auto;
	margin-right: auto;
	color: rgb(98,162,223);
	margin-bottom: -31px;
}

.login-forget-pw:active{
	background: white;
}

.login-next {
	margin: 150px auto 10px;
}

.login-next.login-next-adjust {
	margin-top: 104px;
}

.login-change {
	margin: 0 auto;	
}

.login-remeber , .login-forget-pw, .login-auto {
	cursor: pointer;
}



.register-area, .login-default-area {
	width: 300px;
	background: white;
	margin: 30px auto 10px;
	border-radius: 3px;
	box-shadow: 0px 2px #e2e2e2;
}

.countrycode {
	border-bottom: 1px solid #eee;
	line-height: 50px;
	height: 50px;
}
.countrycode .sbContainer{
	width: 100%;
	height: 50px;
}
.countrycode .sbHolder{
	border: none;
	top: 0;
}
.countrycode .sbSelector{
	text-indent: 22px;
}
.countrycode ul li{
	line-height: 30px;
}

.countrycode span:nth-child(1) {
	margin-left: 20px;
}

.countrycode span:nth-child(2) {
	color: #888;
}

.countrycode img {
	float: right;
	margin: 15px 10px 0 0;
	width: 20px;
}

.register-phone, .login-phone, .login-password {
	height: 50px;
	line-height: 50px;
	padding-left: 20px;
}

.register-phone input, .login-phone input, .login-password input {
	width: 220px;
}

input {
	outline:none;
	border: 0;
	font-size: 15px;
}

.register-phone img {
	width: 30px;
	float: right;
	margin: 10px 5px 0 0;
}

.register-text {
	font-size: 15px;
	margin: 0 auto;
	display: table;
}
.register-text img{
	width: 22px;
	vertical-align: middle;
	margin-right: 5px;
}

.register-next, .resend-otp, .register-otp-next, .password-next, .setting-next, .login-next, .login-change {
	width: 300px;
	background: rgb(182,202,222);
	color: white;
	height: 40px;
	line-height: 40px;
	text-align: center;
	border-radius: 5px;
	-webkit-user-select: none;
	box-shadow: 0px 2px rgb(162,182,202);
}

.register-next {
	margin: 250px auto 0;
}

.password-next {
	margin: 230px auto 0;
}


.register-next-ready, .register-otp-next-ready, .resend-otp-ready, .password-next-ready, .setting-next-ready, .login-next-ready, .login-change-ready {
	background: rgb(98,162,223);
	box-shadow: 0px 2px rgb(78,142,203);
	cursor: pointer;
}

.register-next-ready:active, .register-otp-next-ready:active, .resend-otp-ready:active, .password-next-ready:active, .setting-next-ready:active, .login-next-ready:active, .login-change-ready:active {
	background: rgb(88,152,213);
}

.register-otp-desc-area {
	text-align: center;
	margin: 30px 0 20px;
}

.register-otp-desc-area span {
	color: rgb(86,178,254);
}

.register-otp-next {
	margin: 10px auto 0;
}

.register-otp-input {
	margin: 0 auto;
	width: 300px;
	background: white;
	height: 50px;
	line-height: 50px;
	text-align: center;
	border-radius: 3px;
	box-shadow: 0px 5px 15px -10px #d2d2d2;
}

.register-otp-input input {
	width: 245px;
	margin: 0 auto;
	font-size: 15px;
	border: 0;
	text-align: center;
}

.resend-otp {
	margin: 236px auto 0;
}

.register-otp-input input.register-otp-input-style {
	font-size: 25px;
	letter-spacing: 10px;
	margin-top: 5px;
}

.password-setting-area {
	width:300px;
	background: white;
	margin: 30px auto 0;
	border-radius: 3px;
	box-shadow: 0px 5px 15px -10px #d2d2d2;
}

.password-setting, .password-confirm {
	height: 50px;
	line-height: 50px;
}

.password-setting input, .password-confirm input {
	width: 220px;
	border: 0;
	font-size: 15px;
	margin-left: 15px;
}

.password-setting {
	border-bottom: 1px solid #eee;
}

.setting-area {
	width: 300px;
	background: white;
	margin: 50px auto;
	border-radius: 3px;
	box-shadow: 0px 6px 10px -6px #d2d2d2;
	height: 150px;
	overflow: hidden;
}

.avatar-area {
	background: #d2d2d2;
	width: 110px;
	height: 99px;
	float: left;
	cursor: pointer;
	overflow: hidden;
	border-bottom: 1px solid #eee; 
}

.avatar-default {
	margin: 20px 0 0 25px;
	width: 60px;
}

/*.avatar-area .has-file {
	margin: 0;
	width: 110px;
}*/

.setting-name-area {
	float: left;
	width: 190px;
}

.setting-first-name, .setting-last-name, .setting-birth {
	height: 49px;
	border-bottom: 1px solid #eee;
}

.setting-birth {
	float: left;
	width: 100%;
	cursor: pointer;
}

.setting-birth input{
	cursor: pointer;
}

.setting-area input {
	border: 0;
	font-size: 15px;
	margin: 15px 0 0 10px;
	width: 90%;
	outline: none;
}

.setting-next {
	margin: 150px auto 0;
}

input.setting-birth-hidden {
	position: relative;
	top: -48px;
	z-index: -1;
}







.version_update_lock, .container_update_lock{
	background: rgba(0,0,0,0.5);
	z-index: 1000;
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	display: none;
}
.version_update_lock div, .container_update_lock a{
	width: 300px;
	height: 50px;
	opacity: 1;
	margin-right: auto;
	margin-left: auto;
	margin-top: -webkit-calc( 50vh - 50px );
	text-align: center;
	line-height: 50px;
	background: rgba(255,255,255,0.8);
	border-radius: 15px;
	display: block;
	text-decoration: none;
	color: black;
}
.container_update_lock a{
	background: rgb(255,255,255);
	color: black;
	padding: 20px;
}
.container_update_lock a:visited{
	color: black;
}
#container_version{
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 5px;
	color: lightgray;
	font-size: 14px;
}



/* ======================= popup =================================*/
.popup{
	display: none;
}

.popup-frame {
	position: fixed;
	z-index: 100000;
	border-radius: 3px;
	top: 200px;
	text-align: center;
	width: 300px;
	border: 1px solid white;
	text-shadow: none;
	overflow: auto;
}

.popup-title {
	margin: 15px 0 5px;
	color: white;
	font-size: 18px;
	min-height: 1px;
}

.popup-confirm-area {
}

.popup-cancel, .popup-confirm {
	background: rgb(233,233,233);
	color: rgb(86,178,254);
	height: 40px;
	font-size: 18px;
	line-height: 40px;
	-webkit-user-select: none;
}

.popup-confirm {
	width: 149px;
	float: right;
}

.popup-cancel {
	float: left;
	width: 149px;
}

.full-width {
	width:100%;
}

.popup-confirm:active, .popup-cancel:active {
	background: rgb(86,178,254);
	color: rgb(233,233,233);
}

.popup-screen {
	z-index:1000;
}

.popup-text {
	color: white;
	text-align: left;
	margin: 5px 25px 20px;
}

.popup-screen,.ajax-screen-lock {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: black;
	opacity: 0.85;
}

.ajax-screen-lock {
	background: #000;
	opacity: 0.5;
	z-index: 1000;
}

.popup-close,.popup-close-cancel {
    margin: 0 10px;
    margin-top: 20px;
    display: inline-block;
    box-shadow: 0 1px 5px #000;
    height: 35px;
    width: 70px;
    text-align: center;
    line-height: 35px;
    border-radius: 2px;
    text-decoration: blink;
    color: black;
}

.popup-close:hover {
	background: #f9f9f9;
}


/* ----- new landpage style -------*/


.login-area{
	width: 398px;
	margin-right: auto;
	margin-left: auto;
	background-color: rgba(255,255,255,0.7);
	border: 1px solid rgb(230,230,230);
}
.login-landing{
	padding: 26px 20px 20px 20px;
}
.login-landing .register{
	margin-bottom: 0;
}
.login-tab-area{
	width: 100%;
	height: 60px;
	line-height: 60px;
}
.login-tab{
	width: 198px;
	display: inline-block;
	float: left;
	color: #3e8feb;
	font-size: 18px;
}
.login-tab[data-type=phone]{
	border-right: 1px solid rgb(230,230,230);
}
.login-tab:not(.active){
	border-bottom: 1px solid rgb(230,230,230);
	color: #96abc2;
}
.login-ld-phone, .login-option-area{
	height: 40px;
	white-space: nowrap; 
}
.login-option-area{
	width: 50%;
}
.login-ld-countrycode {
	width: 40%;
	height: 100%;
	overflow: visible;
	/*background: url(../images/registration/icon_arrow_bottom.png) no-repeat 100% 0%;*/
	/*border: 1px solid rgb(230,230,230);*/
	border-radius: 0px;
	display: inline-block; 
	vertical-align: top;
	text-align: left;
	margin-right: 10px;
}
.login-ld-countrycode select{
	border-radius: 0;
	color: #9BA0AA;
	font-weight: bold;
	background: white;
	width: 100%;
	height: 100%;
	font-size: 12px;
	border: none;
	background: url(../images/registration/icon_arrow_bottom.png) no-repeat 100% 0%;
	background-size: 25% 100%;
	-webkit-appearance: none;
	padding-left: 10px;
	padding-right: 10px;
	line-height: 36px;
	font-size: 12px;
}
.login-ld-countrycode .sbHolder{
	font-size: 12px;
}

.login-ld-email, .login-ld-password{
	height: 40px;
	/*height: 36px;
	line-height: 36px;
	width: auto;*/
}
.login-ld-phone input, .login-ld-email input, .login-ld-password input{
	height: 38px;
	line-height: 38px;
	text-align: left;
	padding-left: 10px;
	padding-right: 10px;
	width: -webkit-calc( 100% - 22px );
	font-size: 14px;
}
.login-ld-phone input{
	display: inline-block;
	width: -webkit-calc( 60% - 36px );
	vertical-align: top;
}
.login-ld-email input{
	width: -webkit-calc( 100% - 23px );
}
.login-ld-email{
	display: none;
}

.login-ld-extra{
	width: 100%;
	height: 50px;
}
.login-ld-extra > div{
	width: 49%;
	display: inline-block;
	vertical-align: top;
}
.login-ld-extra .login-ld-forget-pw{
	text-align: right;
}
.login-option-area > div{
	line-height: 24px;
	width: 100%;
	font-size: 14px;
	color: #4092ef;
	display: block;
}
.login-option-area > div div{
	display: inline-block;
}
.login-option-area .login-auto{
	/*text-align: right;*/
}
.login-option-area .login-remeber{
	/*text-align: left;*/
}


.login-area .login{
	color: white;
	background-color: #4092ef;
	opacity: 0.8;
	cursor: default;
}
.login-area .login.login-ready{
	opacity: 1;
	background-color: #4092ef;
	cursor: pointer;
}
.login-area .login.login-ready:hover{
	background-color: #197ae8;
}
.login-area .register{
	color: rgb(109,137,150);
	background-color: #F0F9FE;
	opacity: 1;
}
.login-area .register:hover{
	/*color: black;*/
	background-color: #C6e7fa;
}
.login-ld-password, .login-area .login, .login-area .register{
	margin-top: 12px;
}
.login-area .login, .login-area .register{
	width: 100%;
}

.login-ld-countrycode select, .sbHolder, .login-ld-phone input, .login-ld-email input, .login-ld-password input{
	border-radius: 3px;
	border: 1px solid rgb(230,230,230);
	margin-left: 0;
	margin-right: 0;
}

.login-ld-forget-pw{
	width: 100%;
	color: #E92663;
	font-size: 14px;
}
.login-ld-forget-pw:hover{
	text-decoration: underline;
}