#scheduled-post-modal {
	display: none;
    position: fixed; 
    z-index: 100; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    -webkit-user-select: none;
}

#scheduled-post-modal>div {
	width: 540px;
    height: 100%;
    margin: 0px auto;
    position: relative;
    overflow: hidden;
    background: white;
    /*padding: 0px 40px;*/
    border-radius: 5px;
    overflow-y: auto;
}

#scheduled-post-modal>div>div.title {
	background: rgb(64,146,239);
	color: white;
	padding: 5px 10px;
	position: fixed;
    width: 520px;
    top: 0px;
}

#scheduled-post-modal>div>div.title>span {
	font-size: 20px;
	cursor: pointer;
}

#scheduled-post-modal>div>div.title>div {
	float: right;
    margin: 0 auto;
    width: -webkit-calc( 100% - 12px );
    line-height: 1.5;
    text-align: center;
}

#scheduled-post-modal>div>div.title+scheduled-post {
	margin-top: 30px;
}

#scheduled-post-modal>div>scheduled-post {
	padding-top: 20px;
	display: block;
	width: 53%;
	margin: 0 auto;
	border: 1px solid #ccc;
	border-radius: 5px;
}



#scheduled-post-modal>div>scheduled-post>div.header>div {
	display: inline-block;
}

#scheduled-post-modal>div>scheduled-post>div.header>div.left {
	padding: 5px;
}

#scheduled-post-modal>div>scheduled-post>div.header>div.right {
	width: -webkit-calc( 100% - 80px );
	vertical-align: top;
	line-height: 1.6;
}

#scheduled-post-modal>div>scheduled-post>div.header>div.left>img {
	object-fit: cover;
    width: 60px;
    height: 60px;
    border-radius: 5px;
}

#scheduled-post-modal>div>scheduled-post>div.header>div.right>div.name {
	font-weight: bold;
	white-space: nowrap;
	text-overflow: ellipsis;
}

#scheduled-post-modal>div>scheduled-post>div.header>div.right>div.type {
	color: rgb(171, 178, 185);
}

#scheduled-post-modal>div>scheduled-post>div.header>div.right>div.type>img {
	width: 20px;
    height: 20px;
    vertical-align: sub;
}

#scheduled-post-modal>div>scheduled-post>div.header>div.right>div.type>span {
	color: rgb(64,146,239);
}

#scheduled-post-modal>div>scheduled-post>div.header>div.right>div.type>mark {
	display: inline-block;
	font-weight: bold;
	background-color: transparent;
}

#scheduled-post-modal>div>scheduled-post>div.header>div.right>datetime-modify {
	color: #b4b4b4;
	font-size: 12px;
	margin-top: 3px;
}

#scheduled-post-modal>div>scheduled-post>div.header>div.right>datetime-modify>div.value{
	padding-left: 26px;
	display: inline-block;
}

#scheduled-post-modal>div>scheduled-post>div.header>div.right>datetime-modify>div.value:before {
	content: "";
	background: url(https://wp.qmi.emome.net/po/app/images/icon/icon_time_gray.png);
	background-size: 15px;
	background-repeat: no-repeat;
	position: absolute;
	width: 20px;
	height: 20px;
	margin-top: 2px;
	margin-left: -24px;
}

#scheduled-post-modal>div>scheduled-post>div.header>div.right>datetime-modify>span {
	color: #4092ef;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    margin-left: 10px;
}

#scheduled-post-modal>div>scheduled-post>div.header>div.right>datetime-modify>div.modify{
	display: none;
}

#scheduled-post-modal>div>scheduled-post>div.header>div.right>datetime-modify>div.modify>div>span{
	cursor: pointer;
	font-size: 14px;
    font-weight: bold;
    margin-right: 5px;
    float: right;
}

#scheduled-post-modal>div>scheduled-post>div.header>div.right>datetime-modify>div.modify>div>span:nth-child(2){
	color: #4092ef;
}

#scheduled-post-modal>div>scheduled-post>div.header>div.right>datetime-modify>div.modify>div>span:nth-child(1){
	color: rgba(230, 11, 11, 0.58);
}

#scheduled-post-modal>div>scheduled-post>div.header>audience-modify{
	display: block;
	color: #868686;
    font-size: 13px;
    padding-top: 5px;
    padding-left: 5px;
}

#scheduled-post-modal>div>scheduled-post>div.header>audience-modify>img{
	width: 15px;
	height: 15px;
}

#scheduled-post-modal>div>scheduled-post>div.header>audience-modify>div{
	display: inline-block;
    margin-left: 10px;
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#scheduled-post-modal>div>scheduled-post>div.header>audience-modify>span{
	color: #4092ef;
	font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    vertical-align: top;
    display: inline-block;
    margin-left: 10px;
}

#scheduled-post-modal>div>scheduled-post>div.middle  {
	display: -webkit-box;
	padding: 10px 5px;
	color: #333;
	max-height: 72px;
	word-break: break-word;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
	line-height: 1.3;
	overflow: hidden;
}

#scheduled-post-modal>div>scheduled-post>div.footer  {
	padding: 5px;
}

#scheduled-post-modal>div>scheduled-post>div.footer>scheduled-post-options>button {
	background: transparent;
    border: 0px;
    width: 80px;
    padding: 8px 0px;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    outline: 0;
    border-radius: 10px;
    font-weight: bold;
}

#scheduled-post-modal>div>scheduled-post>div.footer>scheduled-post-options>button.delete {
	color: rgba(230, 11, 11, 0.58);
}

#scheduled-post-modal>div>scheduled-post>div.footer>scheduled-post-options>button.delete:hover {
	color: white;
	background: rgba(230, 11, 11, 0.58);
}

#scheduled-post-modal>div>scheduled-post>div.footer>scheduled-post-options>button.modify {
	color: rgb(57, 148, 232);
	float: right;
}

#scheduled-post-modal>div>scheduled-post>div.footer>scheduled-post-options>button.modify:hover
/*#scheduled-post-modal>div>scheduled-post>div.footer>scheduled-post-options>button.modify.expand */
{
	color: white;
	background: rgb(57, 148, 232);
	/*background-image: url(http://localhost:8081/devClearChats/po/app/images/icon/icon_arrow_right.png);*/
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: 92% 50%;
}

#scheduled-post-modal>div>scheduled-post>div.footer>scheduled-post-menu {
	list-style: none;
	position: absolute;
	right: 20px;
	margin: -40px 0px;
	padding-left: 0px;
	background: #ddd;
	border-radius: 10px;
}

#scheduled-post-modal>div>scheduled-post>div.footer>scheduled-post-menu.hide {
	display: none;
}

#scheduled-post-modal>div>scheduled-post>div.footer>scheduled-post-menu>li{
	padding: 9px 16px;
	text-align: center;
	color: rgb(57, 148, 232);
	cursor: pointer;
}

#scheduled-post-modal>div>scheduled-post>div.footer>scheduled-post-menu>li:hover{
	color: white;
	background: rgb(57, 148, 232);
	border-radius: 10px;
}

#scheduled-post-modal>div>scheduled-post input[type='datetime-local'] {
	border-radius: 8px;
    padding: 0px 5px;
    border: 1px solid #2196F3;
    outline: 0;
    font-size: 12px;
}

#scheduled-post-modal>div>scheduled-post input[type='datetime-local']::-webkit-outer-spin-button, 
#scheduled-post-modal>div>scheduled-post input[type='datetime-local']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    background: #FFF url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAKUlEQVQYlWNgwAT/sYhhKPiPT+F/LJgEsHv37v+EMGkmkuImoh2NoQAANlcun/q4OoYAAAAASUVORK5CYII=) no-repeat center center;
    background-size: 10px; 
    width: 10px;
    opacity: 1; 
}

#scheduled-post-modal>div>scheduled-post input[type='datetime-local']::-webkit-calendar-picker-indicator {
 	opacity: 1; 
}