
/*

               ██████╗     ███████╗ ███████╗████████╗████████╗██╗ ███╗   ██╗  ██████╗           
              ██╔════╝     ██╔════╝ ██╔════╝╚══██╔══╝╚══██╔══╝██║ ████╗  ██║ ██╔════╝           
    █████╗    ██║  ███╗    ███████╗ █████╗     ██║      ██║   ██║ ██╔██╗ ██║ ██║  ███╗    █████╗
    ╚════╝    ██║   ██║    ╚════██║ ██╔══╝     ██║      ██║   ██║ ██║╚██╗██║ ██║   ██║    ╚════╝
              ╚██████╔╝    ███████║ ███████╗   ██║      ██║   ██║ ██║ ╚████║ ╚██████╔╝          
               ╚═════╝     ╚══════╝ ╚══════╝   ╚═╝      ╚═╝   ╚═╝ ╚═╝  ╚═══╝  ╚═════╝           

*/


.subpage-groupSetting{
	background-color: rgb(244,248,250);
	height: 100%;
}
.gs-type{

}
.gs-row-title{
	height: 60px;
	padding-left: 15px;
	line-height: 60px;
	border-bottom: 1px solid rgb(223,230,234);
}
.gs-rows{
	border-bottom: 1px solid rgb(223,230,234);
	padding-left: 20px;
	line-height: 50px;
	background-color: white;
}
.gs-row{
	white-space: nowrap;
	border-bottom: 1px solid rgb(230,234,237);
	cursor: pointer;
}
.gs-row > .text{
	display: inline-block;
	vertical-align: middle;
}
.gs-row > .img{
	height: 25px;
	margin-top: 13px;
	margin-right: 10px;
	float: right;
}
.gs-leave{
	color: rgb(85, 169, 224);
	border: 2px solid rgb(178,211,242);
	margin: 20px auto;
	border-radius: 5px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	cursor: pointer;
	background: white;
	width: 90%;
	max-width: 350px;
}

/*
               █████╗ ██████╗  ██████╗ ██╗   ██╗████████╗          
              ██╔══██╗██╔══██╗██╔═══██╗██║   ██║╚══██╔══╝          
    █████╗    ███████║██████╔╝██║   ██║██║   ██║   ██║       █████╗
    ╚════╝    ██╔══██║██╔══██╗██║   ██║██║   ██║   ██║       ╚════╝
              ██║  ██║██████╔╝╚██████╔╝╚██████╔╝   ██║             
              ╚═╝  ╚═╝╚═════╝  ╚═════╝  ╚═════╝    ╚═╝             

*/
.subpage-groupAbout{
	display: none;
	/*border: 1px solid #DDD;*/
	width: 100%;
	height: 300px;
	position: fixed;
	top: 44px;
	width: -webkit-calc( 100% - 250px );
	height: -webkit-calc( 100% - 43px );
	-webkit-box-shadow: -1px 2px 12px 0px rgba(50, 50, 50, 0.75);
	background: white;
	z-index: 10;
	cursor: default;
}
.ga-wrapper{
	height: 100%;
}
.ga-header{
	position: fixed;
	height: 50px;
	width: -webkit-calc( 100% - 261px );
	/*border-bottom: 1px solid rgb(57, 148, 232);*/
	background: linear-gradient(rgba(0,0,0,1) 0%, rgba(0,0,0,0.7) 40%, rgba(255,255,255,0) 100%);
	top: 44px;
	padding-left: 5px;
	padding-right: 5px;
}
.ga-header div{
	display: inline-block;
}
.ga-header-back{
	height: 100%;
}
.ga-header-back img{
	margin-left: 5px;
	margin-top: 10px;
	height: 30px;
	width:30px;
	cursor: pointer;
	object-fit: cover;
}
.ga-avatar-photo{
	/*float: right;*/
	/*display: inline-block;*/
	margin-right: 15px;
	margin-top: 10px;
	width: 30px;
	height: 100%;
	object-fit: contain;
	cursor: pointer;
}
.ga-group-avatar{
	float: right;
}
/*.ga-header-done{
	color: rgb(187, 187, 187);
	cursor: default;
	float: right;
	line-height: 45px;
	margin-right: 13px;
}
.ga-header-done.ready{
	color: white;
	cursor: pointer;
}*/

.ga-content{
	width: 100%;
	position: absolute;
	height: 100%;
	/*margin-top: 47px;*/
	overflow-y: auto;
	overflow-x: hidden;
}
.ga-avatar{
	height: 360px;
}

/*.ga-avatar-img, .ga-avatar-img.default{
	height: 370px;
	width: 100%;
	object-fit: cover;
	z-index: 0;
	position: absolute;
}*/
.setting-group-avatar{
	display: none;
}
.ga-avatar-img, .ga-avatar-img.default{
	height: 370px;
	object-fit: cover;
	display: block;
	margin: auto;
}


.ga-header-bar{
	position: absolute;
	height: 60px;
	width: -webkit-calc( 100% - 40px );
	padding: 10px 20px;
	white-space: nowrap;
	text-align: center;
	background-color: rgba(0,0,0,0.6);
}
@media screen and (min-width: 0px) and (max-width: 899px){
	.ga-avatar, .ga-avatar-img, .ga-avatar-img.default{
		height: 350px;
    	width: 100%;
	}
	.ga-header-bar{
		top: 270px;
	}
}
@media screen and (min-width: 900px){
	.ga-avatar{
		height: 450px;
		background: rgb(20,20,20);
		width: 100%;
	}
	.ga-avatar-img, .ga-avatar-img.default{
		height: 450px;
		max-width: 650px;
		/*margin-left: -webkit-calc( 50% - 325px );*/
	}
	.ga-header-bar{
		top: 370px;
	}
}
.ga-header-bar.bgColor{
	background: rgba(127,127,127,0.5);
}
.notadmin{
	display: none;
}
.ga-gr-content{
	margin-bottom: 5px;
}
.ga-gr-content.edit{
	display: none;
}
.ga-group-name{
	font-size: 20px;
	display: inline-block;
	color: white;
	max-width: 200px;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
	/*width: 80%;*/
}
input.ga-group-name{
	color: white;
	background-color: rgba(0,0,0,0);
    border-radius: 3px;
    padding: 3px;
    text-align: center;
    border-radius: 3px;
	border-bottom: 1px solid #cccccc;
	padding: 3px;
}

.ga-icon{
	position: relative;
    left: 20px;
    top: -3px;
	width: 20px;
	cursor: pointer;
}
.ga-icon.edit{
	top:3px;
}
#icon-view-gdes{
	top:3px;
}
.ga-group-type-name{
	display: inline-block;
	margin-right: 30px;
	color: #ccc;
}
.ga-group-id{
	display: inline-block;
	color: #ccc;
}
.ga-info{
	margin: 35px 55px;
}
.ga-info-row{
	max-width: 600px;
	margin: 0 auto;
}
.ga-info-row.edit{
	display: none;
}
.ga-info-row .title{
	line-height: 30px;
	height: 24px;
	color: #7d8795;
	margin-bottom: 10px;
	display: inline;
}
.ga-group-des{
	padding: 3px;
	color: #555;
	font-size: 14px;
	line-height: 24px;
    letter-spacing: 1px;
    word-spacing: 2px;
	min-height: 24px;
	width: 100%;
	word-wrap: break-word;
}
textarea.ga-group-des{
	border: none;
	resize: none;
	height: 100px;
	word-spacing: -2px;
	border-radius: 3px;
	border: 1px solid #cccccc;
}
textarea.ga-group-des:focus{
	outline: none;
}

/*.ga-info-row .content{
	margin-left: 20px;
	margin-right: 20px;
	line-height: 24px;
	color: black;
	border-bottom: 1px solid rgb(229,234,237);
	min-height: 24px;
	width: -webkit-calc( 100% - 40px);
	width: 100%;
}*/
/*.ga-info-row textarea.content, .ga-info-row input.content{
	border-bottom: 1px solid rgb(229,234,237);
	border-radius: 3px;
	border: none;
	resize: none;
	overflow: auto;
	font-size: 16px;
	padding: 0;
}
.ga-info-row textarea.content:focus, .ga-info-row input.content:focus{
	border-radius: 5px;
	border: 3px solid #cccccc;
	padding: 0px 2px;
}
.ga-info-row input.content{
	line-height: 16px;
	height: 16px;
	margin-top: 4px;
}
.ga-info-row input.content:focus{
	line-height: 18px;
	height: 12px;
	margin-top: 0px;
}*/

/* user menu content */
.sm-person-info-area{
	position: relative;
	cursor: pointer;
	height: 60px;
	border-top: 1px solid rgb(86, 85, 85);
}
.sm-person-area-l{
	float:left;
	height: 40px;
	width: 40px;
	padding: 10px;
}
.sm-person-area-l img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 3px;
}
.sm-person-area-m{
	float: left;
    padding: 12px 0px 0px 3px;
    outline: 0!important;
    font-size: 14px;
}
.sm-person-area-m div:first-child{
	width: 137px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: white;
}
.sm-person-area-m div:nth-child(2){
	font-size: 11px;
}
.sm-person-area-r {
	float: left;
    height: 15px;
    width: 15px;
    padding: 25px 10px;
}
.sm-person-area-r img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
#view-system-popup {
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 1001;
}

#view-system-popup .line {
    border-top: 1px solid #ccc;
    height: 1px;
    width: 160px;
    margin: 10px auto 2px;
    box-sizing: border-box;
}

#view-system-popup .sm-person-info {
	position: absolute;
	left: 110px;
	bottom: 60px;
	width: 180px;
	background: white;
	border-radius: 5px;
	box-shadow: 0.5px 2px 5px 0px #888;
}
#view-system-popup .sm-person-info .sm-info {
	cursor: pointer;
    font-size: 16px;
    color: #444;
    padding: 0 20px;
    margin-top: 5px;
}
#view-system-popup .sm-person-info .sm-info-hr {
	cursor: default;
	font-size: 13px;
	color: gray;
	padding-top: 7px;
	padding-left: 20px;
}
#view-system-popup .sm-person-info .sm-info:last-child {
	color: #1E7FFB;
	border-top: 1px solid #ccc;
	margin-top: 15px;
	padding: 8px 20px;
}

/*user-setting*/
.subpage-userInformation.main-subpage{
  margin-top: 20px;
  padding: 30px;
  z-index: 1000;
}
.setting-avatar-file{
	display: none;
}
.userSetting-content{
	max-width: 600px;
	height: 370px;  
	background: white;
	margin:0 auto;
	color: #555; 
	border:1px solid #ededed;
	border-radius: 1px;
	overflow-y: scroll;
	box-shadow: 1px 1px 5px #ccc;
}
.image-content{
	max-width: 150px;
	margin: 30px auto;
	position: relative;
	cursor:pointer;
}
.user-avatar-img{
	width: 150px;
	height: 150px;
	object-fit:cover;
  	border-radius: 5px;	
}
.camera-icon{
	width: 30px;
	height: 30px;
	right: 8px;
	bottom: 10px;
	position: absolute;
}
.username-content {
	max-width: 240px;
	margin: 10px auto;	
  	text-align: center;
}
.username-content label{
	display: block;
	margin-bottom: 6px;
	margin-left: 10px;
	text-align: left;
}
.username-content input{
	width: 200px;
	height: 16px;
  	padding: 10px;
  	font-size: 14px;
  	border-radius: 3px;
  	border: 1px solid #ccc;
  	background-color: #EFEEEE;
}
.user-btn-content{
	text-align: center;
	margin-top: 18px;
}

/*system-setting*/
.subpage-systemSetting.main-subpage{
	margin-top: 40px;
  	padding: 10px;
}
.systemSetting-content{
	width: 530px;
	height: 100%;  
	margin: 0 auto;
}
.tab-content-l{
	max-width: 105px;
    float: left;
}
.tab-content-r{
	max-width: 380px;
	float: left;
	padding: 10px;
	margin-left: 20px; 
	background: white;
    border: 1px solid #ededed;
    border-radius: 3px;
    box-shadow: 1px 1px 5px #ccc;
	overflow-y: scroll;
}

ul.system-tab{
	padding: 0;
    margin: 0;
    list-style: none;
    text-shadow: 0px 0px 0px white;
    color: #555;
}

ul.system-tab li{
	font-size: 14px;
	border-radius: 3px;
	padding: 8px 10px;
	cursor: pointer;
}

ul.system-tab li.current-tab{
	background: #3994e8;
	color: white;
}

.system-tab-content{
	width: 360px;
	display: none;
}

.system-tab-content.current-tab{
	display: inherit;
}

.system-title {
	color: #555;
  	font-size: 14px;
}
/*按鈕*/
.btn-content{
	float:right;
	margin-right: 10px;
    margin-left: 10px;
    margin-top: 9px;
}

.btn-b{
	width: 75px;
  	height: 35px;
  	border-radius: 3px;
  	border: 0;
  	color: white;
  	/*cursor: pointer;*/
  	outline: none;
  	background: #32b3e4; 
  	font-weight: bold;
  	font-size: 12px;
  	opacity: 0.2;
}

.password-btn{
    margin-top: -4px;
}

.password-btn.ready,
.notification-btn.ready,
.default-group-btn.ready,
.carousel-btn.ready,
.userSetting-btn.ready
{
    cursor: pointer;
    background: #32b3e4; 
    opacity: 1;
}

/*信箱電話更改*/
.edit-phone-content{
	border-bottom: 1px solid #ededed;
	padding: 10px;
}

.edit-email-content{
	padding: 10px;
}

.edit-phone-content input,.edit-email-content input{
	width: 200px;
	height: 12px;
	margin-top: 5px;
	margin-bottom: 10px;
	padding: 10px;
	border: 1px solid #ccc;
	font-size: 14px;
	background-color: #EFEEEE;
}

/*變更密碼*/
.edit-password-content{
	padding: 10px;
}
.edit-password-content input{
	width: 316px;
	height: 12px;
	margin-top: 5px;
	margin-bottom: 10px;
	padding: 10px;
	border: 1px solid #ccc;
	font-size: 14px;
	background-color: #EFEEEE;
}

.edit-defaultgroup-content{
	height: 350px;
	overflow-y: scroll; 
	overflow-x: hidden;
}

#system-information .st-info-option:not(:last-child) {border-bottom: 1px solid #ededed;}
#system-information .version-no:before {
    content: attr(ver-chk);
    position: absolute;
    top: 20px;
    right: -10px;
    border: 1px solid #bbb;
    border-radius: 3px;
    padding: 2px 5px;
    height: 13px;
    font-size: 12px;
    line-height: 13px;
    background: ghostwhite;
    color: #555;
    cursor: pointer;
    width: 48px;
    overflow: hidden;
}
#system-information .version-no:after {
    content: attr(version);
    position: absolute;
    top: 21px;
    right: 65px;
    color: #888;
}

#app-version div.loading {
    position: absolute;
    top: 17px;
    right: -10px;
    background: white;
    width: 70px;
    text-align: center;
}

#app-version div.loading img {width: 20px;}

/*系統通知*//*預設團體*//*自動換頁*/
.notification-option,
.group-option,
.carousel-option,
.st-info-option{
    height: 50px;
	padding: 10px;
}

/* Checkbox Button Style*/
input[type=checkbox] {
    display: none;
}

.switch{
	position: relative;
	display: inline-block;
	width: 30px;
    height: 10px;
    float: right;
    margin-top: 22px;
    margin-right: 40px;
}

.slider{
	position: absolute;
	cursor: pointer;
	top:0;
	left: 0;
	right:0;
	bottom:0;
	background-color: #ccc;
	transition: .4s;
	border-radius: 50px;
}

.slider:before{
	position: absolute;
	content:"";
	width: 20px;
	height: 20px;
	left: -4px;
	bottom: -4px;
	background-color: white;
	transition: .4s;
	border-radius: 50px;
	box-shadow: 1px 1px 5px #ccc;
}

.notification-option input:checked + .slider {
	background-color: #B3D2F9;
}

.notification-option input:checked + .slider:before {
	transform: translateX(20px);
	background-color: #32b3e4;
}

.checkboxtext{
	float: left;
	cursor: pointer;
    margin-top: 18px;
    margin-left: 20px;
    font-size: 14px;
}

/* Radio Button Style*/
input[type=radio] {
    display: none;
}

.radiobtn{
	float:left;
	display: inline-block;
    cursor: pointer;
    position: relative;
}

.radiobtn:before {
	content: "";
	display: inline-block;
	width: 18px;
	height: 18px;
	position: absolute;
	left: 15px;
	bottom: -37px;
	background: white;
	border: 2px solid #32b3e4;
	border-radius: 50%;
}

.group-option input[type=radio]:checked + .radiobtn:before,
.carousel-option input[type=radio]:checked + .radiobtn:before {
    content: "\2022";
    color: #32b3e4;
    font-size: 34px;
    text-align: center;
    line-height: 12px;
}

.group-option img{
	float:left;
	display: inline-block;
	width: 40px;
	height: 40px;
	border-radius: 8px;
	margin-left: 57px;
    padding: 5px;
}

.radiotext{
	float: left;
	width: 170px;
	cursor: pointer;
    margin-top: 18px;
    margin-left: 20px;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
    
.radionoimgtext{
	float: left;
	cursor: pointer;
    margin-top: 18px;
    margin-left: 70px;
    font-size: 14px;
}

.stinfotext{
    position: relative;
	cursor: pointer;
	padding: 20px;
    font-size: 14px;
}

/*
.user-data-information {
  width: 100%;
  border-bottom: #EDEDED 1px solid;
  background: white;
  margin-top: 10px;
}

.bottom-btn{
	width:500px;
	height:50px;
	margin:0 auto;
	background: white;
	border:2px solid #ededed;
	border-radius:1px; 
}

.save-btn{
	background:rgb(57, 148, 232); 
}

.user-setting{
	width:100%;
	background: white;
	margin-top: 15px;
	margin-bottom: 15px; 
	border-top: #EDEDED 1px solid;
  	border-bottom: #EDEDED 1px solid;
}
.list-title{
	float:left; 
}
.list-btn{
	float:right;
	line-height:6;
	height: 20px;
}
*/

/*密碼變更*/
/*.password-change-confirm{
	width: 100%;
	height:100%;
	position:absolute;
	z-index:1600;
	overflow-y:scroll;
	background-color: rgba(0, 0, 1, 0.6);
	display: none; 
}
.password-change-content{
	width: 500px;
	height: 270px;
  	background: white;
  	margin: 17% auto;
  	position: relative;
  	border-radius: 6px;

}
.password-bottom-btn{
	margin:20px auto;
	background: white;
	border-top:2px solid #EDEDED;
	border-radius:1px;
}
.password-btn-content{
	  margin-top: 33px;
}

.password-title{
	color:white;
	font-size: 20px;
	margin-left: 11px;
	float: left;
}

.password-setting{
	 height:200px;
	 line-height: 39px;
}
.password-setting ul{
	  margin-left: 17px;
  	  padding: 0;
  	  line-height:43px;
  	  margin-bottom: 0;
  	  margin-top: 0;
}
.password-setting li{
	list-style:none;
	width: 97%;
  	height: 51px;
  	font-size: 14px;
  	color:darkgray; 
}
.password-setting li input{
	width: 281px;
  	border-radius: 3px;
  	height: 36px;
  	background:white; 
  	border: 1px solid;
  	border-color: #dcdcdc;
  	margin-top:5px;
  	margin-left: 90px;
  	padding-left: 10px; 
  	outline: 0;

}
.input-password{
	background: ghostwhite;
}
.password-submit{
	width:200px;
	height:40px;  
	color:white;
	background:rgb(57, 148, 232);
	border-radius:3px;
	margin-left: 30%;    
}
.password-popup{
	background:rgb(57, 148, 232); 
}*/

/*預設團體設定*/
/*.group-setting{
	height:50px;
	margin-top:18px; 
	border-bottom: #EDEDED 1px solid;
}
.group-setting select{
	width:320px;
	height: 35px;
  	margin-left: 32px;
  	outline: 0;
	-webkit-appearance: menulist-button;
}*/

/* 通知提醒*/
/*.notification-setting{
	height:50px;
	margin-top:18px; 
	border-bottom: #EDEDED 1px solid;
}
.notification-check{
	margin-left: 20px;
}*/

/*自動換頁*/
/*.carousel-setting{
	height:50px;
	margin-top:18px; 
	border-bottom: #EDEDED 1px solid;
}
.carousel-setting select{
	width:320px;
	height: 35px;
  	margin-left: 32px;
  	outline: 0;
	-webkit-appearance: menulist-button;
}*/

/*系統資訊*/
/*.system-version ,.term_of_service,.right_to_privacy{
	height:50px;
	margin-top:18px; 
	border-bottom: #EDEDED 1px solid;
}
.version-information{
	margin-left: 38px;
}
.version-btn-content,.term-btn-content {
  margin-top: -8px;
}*/

/* 使用者大頭照變更*/
.user-avatar-confirm{
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 1600;
	overflow-y: scroll;
	background-color: rgba(0, 0, 1, 0.6);
	left: 0;
	top: 0;
	display: none; 
}
.avatar-content{
	width: 340px;
	position: relative;
  	background: #fff;
  	border-radius: 3px;
  	overflow: hidden;
  	margin: 20% auto;
  	
}
.avatar-preview{
	margin: 20px auto;
  	width: 300px;
  	height: 300px;
  	text-align: center;
}
/*#myCanvas{
	border-radius: 3px;
}
#myCanvas1{
	display: none;
}*/
.preview-image{
	width: 150px;
	height: 150px;
	margin-top: 10px;
	border-radius: 3px;
}
.user-headshot{
	width: 100%;
  	height: 100%;
  	object-fit:cover;
}
.avatar-btn-content{
	text-align: center;
	margin: 15px 0;
}
.cancel-btn, .avatar-save{
	margin: 0px 20px;
	opacity: 1;
	cursor: pointer;
}


#view-ldap-setting {
	background: #f8f9fa;
    width: 100%;
    min-width: 400px;
    height: -webkit-calc( 100vh - 43px );
    position: relative;
}

#view-ldap-setting section[role=page]:not(:first-child) { display: none;}
#page-group-main .ldap-setting-header {
    background: rgb(57, 148, 232);
    height: 100%;
    box-sizing: border-box;
    color: white;
    padding: 10px 20px;
}

#view-ldap-setting section.content, #view-ldap-setting section[role=page] { height: 100%;}

#view-ldap-setting .ldap-add {
    box-sizing: border-box;
    width: 60%;
    max-width: 500px;
    height: 30px;
    border: 1px solid rgb(221, 221, 221);
    line-height: 30px;
    text-align: center;
    margin: 50px auto 0;
    font-size: 14px;
    box-shadow: 0 0px 0px 0.2px #ccc;
    color: rgb(106, 138, 224);
    background: white;
    cursor: pointer;
}

#view-ldap-setting .no-data {
    text-align: center;
    color: #bbb;
    letter-spacing: 1px;
    font-size: 18px;
    cursor: pointer;
    width: 50%;
    margin: 30vh auto 0;
}
#view-ldap-setting .no-data div:last-child {font-size: 13px;}

#view-ldap-setting section.icon-shield {
    width: 110px;
    height: 110px;
    margin: 15vh auto 20px;
    position: relative;
    text-align: center;
}

#view-ldap-setting section.icon-shield:before {
    content: "";
    width: 120px;
    height: 120px;
    position: absolute;
    background-size: 100%;
    background-repeat: no-repeat;
    left: 0;
}

#view-ldap-setting section.ldap-edit[ldap-type=add] section.icon-shield:before {background: url(../images/ldap/icon_add_ldap.png); background-size: 100%;}
#view-ldap-setting section.ldap-edit[ldap-type=check] section.icon-shield:before {background: url(../images/ldap/icon_check_LDAP.png); background-size: 100%;}
#view-ldap-setting section.ldap-edit[ldap-type=delete] section.icon-shield:before {background: url(../images/ldap/icon_delete_LDAP.png); background-size: 100%;}


#view-ldap-setting .title.one {font-size: 20px; color: #6f87bb; height: 30px;}
#view-ldap-setting .title.two {font-size: 14px; color: #888;}

#view-ldap-setting .title:before {position: absolute; width: 100%; text-align: center;}
#view-ldap-setting section.ldap-edit[ldap-type=add] .title:before {content: attr(content);}
#view-ldap-setting section.ldap-edit[ldap-type=check] .title:before {content: attr(content);}
#view-ldap-setting section.ldap-edit[ldap-type=delete] .title:before {content: attr(content);}
#view-ldap-setting section.ldap-edit[ldap-type=delete] .title:after {
    content: attr(pi);
    position: absolute;
    width: 100%;
    text-align: center;
    margin-top: 22px;
    color: #809bd4;
    font-size: 13px;
}

#view-ldap-setting section.edit-form {
    width: 50%;
    max-width: 400px;
    min-width: 300px;
    margin: 70px auto;
    text-align: center;
}

#view-ldap-setting .input-block {
    text-align: left;
    box-sizing: border-box;
    padding-left: 50px;
    position: relative;
	height: 50px;
    margin: 20px 0;
}

#view-ldap-setting .input-block:before {
    content: "";
    position: absolute;
    width: 35px;
    height: 35px;
    left: 0;
    top: 0;
    background-repeat: no-repeat;
    background-size: 100%;
}

#view-ldap-setting .input-block.email:before {background: url(../images/ldap/icon_LDAP_email.png); background-size: 100%;}
#view-ldap-setting .input-block.password:before {background: url(../images/ldap/icon_LDAP_password.png); background-size: 100%;}

#view-ldap-setting section.ldap-edit[ldap-type=check] .input-block.email:before {background: url(../images/ldap/icon_LDAP_email_green.png); background-size: 100%;}
#view-ldap-setting section.ldap-edit[ldap-type=check] .input-block.password:before {background: url(../images/ldap/icon_LDAP_password_green.png); background-size: 100%;}

#view-ldap-setting .input-block input {
    height: 35px;
    background: transparent;
    border-bottom: 1px solid #ccc;
    width: 100%;
}

#view-ldap-setting .submit-block {
    width: 80%;
    margin: 35px auto;
    position: relative;
}

#view-ldap-setting .ldap-edit {overflow: auto;}
#view-ldap-setting .edit-form button {
    background: #ccc;
    border: 0;
    border-radius: 5px;
    color: white;
    width: 90px;
    height: 30px;
    font-size: 15px;
    cursor: pointer;
    position: absolute;
}

#view-ldap-setting .edit-form button.cancel {left: 0}
#view-ldap-setting .edit-form button.submit {right: 0}
#view-ldap-setting .edit-form button:focus {outline: none;}

#view-ldap-setting .ldap-edit:not([ldap-type=check]) .edit-form button.submit.ready {background: #809bd4;}
#view-ldap-setting .ldap-edit[ldap-type=check] .edit-form button.submit.ready {background: #21ca82;}
#view-ldap-setting .list {
	display: none;
    width: 70%;
    max-width: 500px;
    margin: 30px auto;
}

#view-ldap-setting .list > div {
    border-bottom: 1px solid #bbb;
    height: 50px;
    line-height: 52px;
    padding-left: 40px;
    position: relative;
    font-size: 14px;
    letter-spacing: 0.3px;
    color: #666;
}

#view-ldap-setting .list span.unbind-img {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 0;
    top: 11px;
    cursor: pointer;
}

#view-ldap-setting .list > div span.unbind-img {background: url("../images/ldap/icon_delete_email_gray.png"); background-size: 100%;}
#view-ldap-setting .list > div.expired span.unbind-img {background: url("../images/ldap/icon_delete_email_red.png"); background-size: 100%;}

#view-ldap-setting .list > div.expired:before {
    content: "";
    position: absolute;
    background: url(../images/ldap/icon_approvement.png);
    top: 16px;
    left: 10px;
    height: 20px;
    width: 20px;
    background-size: 100%;
}

#view-ldap-setting .list > div.expired:after {
    content: attr(err-msg);
    position: absolute;
    right: 30px;
    top: 0px;
    background: #f8f9fa;
    height: 40px;
    width: 60px;
    text-align: center;
    box-shadow: -7px 5px 17px 1px #f8f9fa;
}

#view-ldap-setting .list > div span {
    width: 85%;
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

#view-ldap-setting .list > div.expired {color: #e66161; cursor: pointer;}

#view-ldap-setting.cover:before.back {
    content: url(../images/spinner.gif);
    z-index: 1;
    transition: 0.5s;
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(255,255,255,0.9);
    line-height: 95vh;
    text-align: center;
}


