
#StickerStoreModal {
    position: fixed; 
    z-index: 1010; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(51, 51, 51, 0.74);
    -webkit-user-select: none; 
    display: none;
}

#StickerStoreModal .close-area {
    width: 755px;
    height: 15px;
    margin: 17px auto;
    text-align: right;
}

#StickerStoreModal .close {
    width: 25px;
    height: 25px;
    background: rgba(224, 224, 224, 0.8);
    padding: 2px;
    border-radius: 20px;
    cursor: pointer;
}

#StickerStoreModal .container {
    width: 700px;
    height: 644px;
    margin: 20px auto;
    position: relative;
    overflow: hidden;
    background: white;
}

#StickerStoreModal ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#StickerStoreModal ul li.tab-link {
    float: left;
    width: 231px;
    text-align: center;
    padding: 10px 0px;
    transition: 0.5s;
    cursor: pointer;
    border: 1px solid rgba(170, 170, 170, 0.59)
}

#StickerStoreModal ul li.disabled {
    background: rgba(208, 208, 208, 0.38);
    color: rgba(128, 128, 128, 0.61);
    pointer-events: none;
}

#StickerStoreModal ul li.active {
    background: rgb(57, 148, 232);
    color: white;
}

#StickerStoreModal .sticker-package-detail{
    display: none;
}

#StickerStoreModal .edit-sort{
    width: 200px;
    float: right;
    padding-right: 20px;
    padding-bottom: 5px;
    text-align: right;
    margin-top: 5px;
    cursor: pointer;
    color: black;
    font-size: 14px;
    display: none;
}

#StickerStoreModal .edit-status {
    width: 90px;
    float: right;
    margin-top: 5px; 
    padding-bottom: 5px;
    font-size :  14px;
    display: none;
}

#StickerStoreModal .edit-status button{
    background-color: transparent;
    border: 0px;
    cursor: pointer;
    color: #4092ef;
}

#StickerStoreModal .edit-status button.cancel{
    color: rgb(128, 128, 128);
}

#StickerStoreModal .page-home {
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    height: 550px;
    padding-bottom: 44px;
}

#StickerStoreModal .sticker-package-block{
    display: inline-block;
    width: 332px;
    padding-left: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.6);
    border-right: 1px solid rgba(128, 128, 128, 0.6);
}

#StickerStoreModal .sticker-package-block .intro{
    display: inline-block;
    margin-left: 12px;
}

#StickerStoreModal .sticker-package-block img{
    width: 90px;
    height: 90px;
    padding: 5px 5px;
    vertical-align: -15px;
    margin-top: 8px;
    background-color: rgba(219, 232, 241, 0.42);
    border-radius: 8px;
}

#StickerStoreModal .sticker-package-block p{
    margin: 0;
    font-size: 13px;
    cursor: default;
}

#StickerStoreModal .sticker-package-block p.status{
    color: red;
    font-weight: bolder;
    font-size: 14px;
}

#StickerStoreModal .sticker-package-block p.name{
    color: #555;
    font-weight: bolder;
}

#StickerStoreModal .sticker-package-block p.author{
    color: rgba(102, 102, 102, 0.74);
}


#StickerStoreModal .sticker-package-block progress{
    width: 126px;
    height: 10px;
    visibility: hidden;
}


#StickerStoreModal .sticker-package-block .download-progress::-webkit-progress-bar {
    background-color: rgba(58, 38, 38, 0.21);
    border-radius: 8px;
}

#StickerStoreModal .sticker-package-block .download-progress::-webkit-progress-value {
    background-color: rgb(24, 215, 49);
    border-radius: 8px;
}

#StickerStoreModal .sticker-package-block button {
    float: right;
    margin-right: 18px;
    margin-top: 47px;
    border-color: transparent;
    min-width: 42px;
    height: 60px;
    background-color: transparent;
    background-size: 40px 33px;
    background-repeat: no-repeat;
}

#StickerStoreModal .sticker-package-block button.download{
    background-image: url(../images/sticker_center/symbols-qicon_download.png);
    cursor: pointer;
}

#StickerStoreModal .sticker-package-block button.download-done{
    background-image: url(../images/sticker_center/symbols-qicon_download_done.png);
}

#StickerStoreModal .sticker-package-block button.remove{
    background-image: url(../images/sticker_center/symbols-qicon_delete.png);
    cursor: pointer;
}

#StickerStoreModal .sticker-package-block button.edit-move{
    background-image: url(../images/sticker_center/symbols-qicon_moved.png);
}

#StickerStoreModal .sticker-package-detail .main-sticker {
    padding: 15px 0px 15px 13px;
    /* width: -webkit-calc( 100% - 30px ); */
    border-bottom: 1px solid #aaa;
}

#StickerStoreModal .sticker-package-detail .return:before{
    content: "";
    background-image: url("../images/sticker_center/symbols-qicon_back.png");
    background-size: 36px 32px;
    width: 30px;
    height: 39px;
    display: inline-block;
    background-repeat: no-repeat;
    margin-right: 12px;
    vertical-align: middle;
}

#StickerStoreModal .sticker-package-detail .return {
    cursor: pointer;
    width: 100%;
    padding: 10px 0px 10px 14px;
    text-align: left;
    background: #ededed;
    border-bottom: 1px solid #666;
}

#StickerStoreModal .sticker-package-detail img.main-img {
    width: 100px;
    height: 100px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

#StickerStoreModal .main-sticker .intro{
    display: inline-block;
    margin-left: 30px;
    vertical-align: 30px;
}

#StickerStoreModal .main-sticker p{
    margin: 0;
    font-size: 15px;
}

#StickerStoreModal .main-sticker p.name{
    color: #555;
    font-weight: bolder;
}

#StickerStoreModal .main-sticker p.author{
    color: rgba(102, 102, 102, 0.74);
}

#StickerStoreModal .main-sticker button{
    float: right;
    margin-right: 40px;
    margin-top: 22px;
    border-color: transparent;
    min-width: 50px;
    height: 60px;
    background-color: transparent;
    background-size: 53px 50px;
    background-repeat: no-repeat;
}

#StickerStoreModal .main-sticker button.download{
    background-image: url(../images/sticker_center/symbols-qicon_download.png);
    cursor: pointer;
}

#StickerStoreModal .main-sticker button.download-done{
    background-image: url(../images/sticker_center/symbols-qicon_download_done.png);
}

#StickerStoreModal .main-sticker button.remove{
    background-image: url(../images/sticker_center/symbols-qicon_delete.png);
    cursor: pointer;
}

#StickerStoreModal .sticker-img-list {
    padding-top: 10px;
    cursor: pointer;
}

#StickerStoreModal .sticker-img-list div.img-content{
    display: inline-block;
    text-align: center;
    width: 134px;
    height: 125px;
}

#StickerStoreModal .sticker-img-list img{
    width: 100px;
    height: 100px;
    padding: 4px;
    cursor: pointer;
    vertical-align: top;
    transition: 0.4s
}

#StickerStoreModal .sticker-img-list img.enlarge{
    width: 140px;
    height: 130px;
    opacity: 1;
}

#StickerStoreModal .sticker-img-list img.reduce-opacity{
    opacity: 0.4;
}

