/*@import url(http://fonts.googleapis.com/earlyaccess/alefhebrew.css);
font-family: 'Alef Hebrew', sans-serif;*/
.sm-person-info-area{
	position: relative;
	cursor: pointer;
	height: 60px;
}
.sm-person-area-l{
	float:left;
	height: 40px;
	width: 40px;
	padding: 10px;
}
.sm-person-area-l img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 3px;
}
.sm-person-area-m{
	float: left;
    padding: 12px 0px 0px 3px;
    outline: 0!important;
    font-size: 14px;
}

.sm-person-area-m div:first-child{
	width: 137px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: white;
}

.sm-person-area-m div:nth-child(2){
	font-size: 11px;
}

.sm-person-area-r {
	float: left;
    height: 15px;
    width: 15px;
    padding: 25px 10px;
}

.sm-person-area-r img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

#systemPopup{
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 101;
}

.sm-person-info {
	position: absolute;
	left: 50px;
	bottom: 60px;
	width: 250px;
	background: white;
	border-radius: 3px;
	box-shadow: 1px 1px 5px #ccc;
}

.sm-person-info .sm-info {
	cursor: pointer;
	font-size: 16px;
	color: black;
	font-weight: bold;
	padding: 6px 14px;
}

.sm-person-info .sm-info-hr {
	cursor: default;
	font-size: 12px;
	color: gray;
	padding-top:10px;
	padding-left: 10px;
}

.sm-person-info .sm-info:last-child {
	color: #1E7FFB;
	border-top: 1px solid #ccc;
	margin-top: 5px;
	padding: 8px 14px;
}

