.te-cover img, .te-images img, .te-front img, .te-back img{
	width:310px;
	height:310px;
}


.te-cover.te-hide,
.te-transition,
.te-images,.te-wrapper .current,.te-wrapper .last{ display: none; }
.te-transition.te-show { display: block; }
.te-back,
.te-front{
    position: absolute;
}
.te-front{ z-index: 2; }
.te-back{
    z-index: 1;
    -webkit-backface-visibility: hidden;
}
/***************** example4 ********************/
.te-example4.te-show .te-front{
    -webkit-animation: example4Front 0.8s ease-in-out forwards;
}
@-webkit-keyframes example4Front{
    0% { -webkit-transform: translateX(0); z-index: 3;}
    50% { -webkit-transform: rotateZ(-5deg) translateX(-339px); z-index: 3;}
    51% { z-index: 1;}
    100% { -webkit-transform: rotateZ(0deg) translateX(0px); z-index: 1;}
}