.header-style {
    text-align: center;
    height: 55px;
    background: rgb(26,146,214);
}

.main{
       width:80%;
       margin:auto;
    }

.file-list-area{
    background: #f5f5f5;
    height: 200px;
    box-shadow: 0 1px 10px #c5c5c5;
    border-radius: 10px;
}

.file-list-area div{
    float: left;
    margin: 20px 0;
    word-break: break-all;
    width: 33%;
    color: gray;
    font-size: 15px;
    text-align: center;
}

.file-list-area div.download-file{
    width: 50%;
}

.file-list-area div img{
    width:100px;
    height:100px;
}

.version-div .ui-input-text {
    display: inline-block;
    margin-left: 10px;
}

@media all and (max-width: 320px) {
    .file-list-area{
        padding-left: 1%;
    }
    
    .file-list-area div img{
        width:80px;
        height:80px;
    }
    .main{
       width:90%;
    }
    
    .aa{
    display:none;
    }
}

@media all and (min-width: 321px) and (max-width: 640px) {
    /*.file-list-area div{
        width:120px;
        margin:10px;
        font:15px;
    }*/
    /*.file-list-area div img{
        width:120px;
        height:120px;
    }*/

    .file-list-area{
        padding-left: 2%;
    }

    .download-area .file-list-area{
        padding-left: 10%;
    }
    
    .main{
       width:90%;
    }

    .aa{
    display:none;
    }
}

@media all and (min-width: 641px) {
    
    .main.download-area{
       width:40%;
    }
    
}

.ajax-area
{
    position:absolute;
    top: 0px;
    width:100%;
    height:1000px;
    z-index:1000;
    background:#000;
    opacity:.5;
    display:none;
}

.ajax-loading
{
    position: fixed;
    top: 35%;
    left: 42%;
    width: 150px;
    height: 60px;
    display: inline-block;
    text-align: center;
    text-shadow: none;
    line-height: 60px;
    font-size: 15px;
    background-color:rgb(34,46,64);
    color:white;
    z-index: 1100;
    display:none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.popup-dialog
{
    position: absolute;
    top: 35%;
    left: 42%;
    width: 200px;
    height: 60px;
    display: inline-block;
    text-align: center;
    text-shadow: none;
    line-height: 60px;
    font-size: 15px;
    background-color:rgb(248,125,48);
    color:white;
    border:solid;
    -webkit-box-shadow: 0 10px 15px rgba(0,0,0,.15);
    -moz-box-shadow: 0 10px 15px rgba(0,0,0,.15);
    z-index: 1100;
    display:none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.xx-area , .xx-area:active{
    float: right;
    width: 15px;
    height: 15px;
    margin-top: -7px;
    margin-right: -7px;
    border: solid;
    background: url(../images/xx.jpg) no-repeat center;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.xx-area{
    background-size: 107%;
}

.xx-area:hover{
    width: 16px;
    height: 16px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    margin-right: -8px;
    background-size: 120%;
}